.only-mobile {
  @media (min-width: $breakpoint) {
    display: none !important;
  }
}

.only-desktop {
  @media (max-width: ($breakpoint - 1px)) {
    display: none !important;
  }
}

.template {
  display: none;
}