// fonts
$fs: 16px;

$ff-main: 'SuisseIntl', sans-serif;

:root {
  // colors
  --color-white: #fff;
  --color-darken-white: #EAEAEA;
  --color-blue: #07A8D7;
  --color-blue-dark: #0E708C;
  --color-light-gray: #F3F3F3;
  --color-gray: #979797;
  --color-black: #3F3F40;
  --color-borders: #E8E9E9;
  // --color-inner-borders: rgba(#3F3F40, 0.1);
  --color-border-dark: #919191;
  --color-green: #1B5B71;
  --color-red: #E53B10;
}
$rgba-borders: rgba(#3F3F40, 0.1);
$rgba-white: rgba(255, 255, 255, 0.2);

// media breakpoints
$breakpoint-xs: 375px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-t: 1024px;
$breakpoint: 1280px;
$breakpoint-l: 1366px;
$breakpoint-ll: 1440px;
$breakpoint-xl: 1680px;
$breakpoint-xxl: 1920px;

// grid columns
$col-count-m: 4;
$col-count-d: 12;

$col-pad-m: 20px;
$col-pad-d: 60px;

$col-gap: 20px;

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap})';
$col-part-d: '(#{$col-width-d} + #{$col-gap})';


$transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
$transition-duration: .5s;
$transition: $transition-duration $transition-timing-function;