.accordion {
  $comp: &;

  background: var(--color-white);
  border: 1px solid var(--color-borders);
  transition: $transition;

  &.active {
    border-color: var(--color-blue);

    #{$comp}__icon {
      transform: rotate(-180deg);
    }

    #{$comp}__svg {
      path {
        fill: var(--color-black);
      }
    }
  }

  &--big {
    #{$comp}__head {
      padding: getRem(24px) getRem(32px) getRem(24px) getRem(24px);
      @media (max-width: ($breakpoint - 1px)) {
        padding: getRem(20px);
      }
    }
    
    #{$comp}__col {
      &:nth-child(1) {
        width: calc(#{$col-part-d} * 3 - 1.5rem);
        @media (max-width: ($breakpoint - 1px)) {
          order: 1;
          width: calc(#{$col-part-m} * 3 - 1.25rem);
        }
      }
      &:nth-child(2) {
        width: calc(#{$col-part-d} * 6);
        @media (max-width: ($breakpoint - 1px)) {
          margin-top: getRem(16px);
          width: calc(#{$col-part-m} * 3 - 1.25rem);
          order: 3;
        }
      }
      &:nth-child(3) {
        @media (max-width: ($breakpoint - 1px)) {
          margin-top: getRem(16px);
        }
      }
    }
  }

  &--simple {
    #{$comp}__head {
      padding: getRem(22px) getRem(26px);
      padding-right: getRem(32px);
      @media (max-width: ($breakpoint - 1px)) {
        padding: getRem(17px);
        padding-right: getRem(20px);
      }
      min-height: 71px;
    }
    #{$comp}__row {
      justify-content: space-between;
      @media (max-width: ($breakpoint - 1px)) {
        flex-wrap: nowrap;
      }
    }
    #{$comp}__col {
      &:nth-child(1) {
        display: flex;
        align-items: center;
        width: auto;
      }
      &:nth-child(2) {
        width: auto;
      }
    }
  }

  &__head {
    padding: getRem(36px) getRem(32px) getRem(36px) getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }

    cursor: pointer;
  }

  &__row {
    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      align-items: stretch;
      flex-wrap: wrap;
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 4 - 2.5rem);
      @media (max-width: ($breakpoint - 1px)) {
        order: 1;
        width: calc(#{$col-part-m} * 3 - 1.25rem);
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(12px);
        width: calc(#{$col-part-m} * 3 - 1.25rem);
        order: 3;
      }
    }
    &:nth-child(3) {
      width: calc(#{$col-part-d} * 2);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(12px);
        width: calc(#{$col-part-m} * 3 - 1.25rem);
        order: 4;
      }
    }
    &:nth-child(4) {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media (max-width: ($breakpoint - 1px)) {
        order: 2;
        width: calc(#{$col-width-m} - 1.5rem);
        flex-grow: 0;
        align-items: flex-start;
      }
    }
  }

  &__title {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(20px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(16px);
    }
  }

  &__text {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(16px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }

  &__location {
    display: flex;
    align-items: center;
  }
  &__location-icon {
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(19px);
    height: getRem(19px);
  }
  &__location-svg {
    width: 100%;
    height: 100%;
  }
  &__location-text {
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px, 110%);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    
    transition: $transition;
  }
  
  &__svg {
    path {
      fill: var(--color-blue);
      transition: $transition;
    }
  }

  &__body {
    display: none;
  }

  &__container {
    padding: getRem(24px) calc(#{$col-part-d}) getRem(60px) calc(#{$col-part-d} * 2);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(12px) getRem(20px) getRem(20px);
    }
  }

  &__block {
    
    &:not(:first-child) {
      margin-top: getRem(60px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(32px);
      }
    }
  }

  &__list {
    margin-top: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }
  }

  &__item {
    

    &:not(:first-child) {
      margin-top: getRem(12px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(10px);
      }
    }
  }

  &__button {
    display: flex;
  }

  &__label {
    margin-top: 8px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 2px;
    }

    color: var(--color-blue);
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(14px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }

  &__img {
    margin-right: getRem(29px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(19px);
    }

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__img-svg {
    width: getRem(48px);
    height: getRem(48px);
  }

  &__inner {
    margin-top: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
  }
}