.body {

  &.fancybox-active {
    overflow: hidden;
  }

  &.fade-out {
    .header {
      transform: translateY(-100%);
    }
    .main,
    .footer {
      transition: $transition;
      opacity: 0;
    }
  }
  
  backface-visibility:    hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

  &--hidden {
    overflow: hidden;
  }
  &--unvisible {
    opacity: 0;
    * {
      transition: none !important;
    }
  }
}