.breadcrumbs {
  $comp: &;

  @media (max-width: ($breakpoint - 1px)) {
    padding: 0 20px;
    margin-left: -20px;

    width: calc(100% + 20px * 2);
    display: flex;

    overflow-y: scroll;
    @include scrollbar-hidden;
  }

  &--small {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0;
      margin-left: 0;

      width: auto;
      overflow-y: visible;
    }

    #{$comp}__list {
      padding-bottom: 0;
      gap: getRem(21px);
      @media (max-width: ($breakpoint - 1px)) {
        column-gap: 17px;
        row-gap: 4px;
        flex-wrap: wrap;
        flex-shrink: 1;
      }

      border-bottom: none;
    }
    #{$comp}__item {

      &:not(:first-child) {
        padding-left: 0;

        &::before {
          display: none;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 8px);
        @media (max-width: ($breakpoint  - 1px)) {
          left: calc(100% + 4px);
        }

        width: 5px;
        height: 14px;

        background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.092 9L4.524 0.3H3.42L0 9H1.092Z' fill='%23979797'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &:last-child {
        &::after {
          display: none;
          @media (max-width: ($breakpoint - 1px)) {
            display: block;
          }
        }
      }
    }
    #{$comp}__link {
      text-transform: none;
    }
  }

  &__list {
    padding-bottom: getRem(10px);

    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      gap: 9px;
      flex-wrap: nowrap;
    }

    border-bottom: 1px solid var(--color-borders);
  }

  &__item {
    position: relative;
    z-index: 0;


    display: flex;

    white-space: nowrap;

    &:not(:first-child) {
      padding-left: getRem(29px);
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 5px;
        height: 14px;

        background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.092 9L4.524 0.3H3.42L0 9H1.092Z' fill='%2307A8D7'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    color: var(--color-gray);
    @include fsl(12px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px);
      letter-spacing: 0;
    }
  }

  &__text {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    cursor: default;
    @include fsl(12px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px);
      letter-spacing: 0;
    }
  }
}