.button {
  padding: getRem(16px) getRem(24px);
  @media (max-width: ($breakpoint-ll - 1px)) {
    padding: getStatic(16px, 14.4px) getStatic(24px, 14.4px);
  }
  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(10px) getRem(16px);
  }

  display: flex;
  align-items: center;

  @include fsl(14px, 120%);
  @media (max-width: ($breakpoint-ll - 1px)) {
    font-size: getStatic(14px, 14.4px);
  }
  @media (max-width: ($breakpoint - 1px)) {
    @include fsl(12px);
  }
  cursor: pointer;
  border: 1px solid var(--color-blue);
  border-radius: 60px;
  @media (max-width: ($breakpoint - 1px)) {
    border-radius: 45px;
  }

  &__text {
    font-weight: 500;
  }

  &__icon {
    margin-left: getRem(16px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      margin-left: getStatic(16px, 14.4px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(16px);
    height: getRem(16px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(16px, 14.4px);
      height: getStatic(16px, 14.4px);
    }

    &--right {
      transform: rotate(-90deg);
    }
  }

  &--sm {
    padding: getRem(10px) getRem(24px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      padding: getStatic(10px, 14.4px) getStatic(24px, 14.4px);
    }
  }

  &--gray {
    border-color: rgba(26, 31, 33, 0.1);
  }

  &--color-white {
    color: var(--color-white);
  }
}