.button-icon {
  $comp: &;

  padding: getRem(18px) getRem(25px);
  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(10px) getRem(16px);
  }

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: 1px solid var(--color-black);
  border-radius: 60px;
  transition: $transition;

  &::before {
    content: '';
    @include btn-before;
  }
  
  &__svg {
    width: getRem(16px);
    height: getRem(16px);
    // transform: rotate(-90deg);

    path {
      fill: var(--color-black);
      transition: $transition;
    }
  }

  &__container-svg {
    overflow: hidden;
    position: relative;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--white {
    border-color: var(--color-white);

    #{$comp}__svg {
      path {
        fill: var(--color-white);
      }
    }
  }
  &--blue {
    border-color: var(--color-blue);

    &::before {
      content: '';
      background: var(--color-blue);

      @include btn-before;
    }

    &:hover {
      &::before {
        transform: none;
      }

      .button-icon__svg {
        animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;

        path {
          fill: var(--color-white);
        }
      }
    }
  }
  &--red {
    border-color: var(--color-red);
  }
  &--green {
    border-color: var(--color-green);
  }

  &--left {
    #{$comp}__svg {
      transform: rotate(90deg);
    }
  }

  &--black {
    border-color: var(--color-black);
    background-color: var(--color-black);

    #{$comp}__svg {
      path {
        fill: var(--color-white);
      }
    }
  }
}