.button {
  padding: getRem(16px) getRem(24px);
  @media (max-width: ($breakpoint - 1px)) {
    padding: 10px 12px;
  }

  display: flex;
  align-items: center;

  @include fsl(14px, 120%);
  @media (max-width: ($breakpoint - 1px)) {
    @include fsl(10px);
  }
  cursor: pointer;
  border: 1px solid var(--color-blue);
  border-radius: 60px;

  &__icon {
    margin-left: getRem(16px);

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(16px);
    height: getRem(16px);
  }

  &--sm {
    padding: getRem(10px) getRem(24px);
  }

  &--gray {
    border-color: rgba(26, 31, 33, 0.1);
  }
}