.button-icon {
  $comp: &;

  padding: getRem(18px) getRem(25px);
  @media (max-width: ($breakpoint - 1px)) {
    padding: 12px 13px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-black);
  border-radius: 60px;
  transition: $transition;
  
  &__svg {
    width: getRem(16px);
    height: getRem(16px);
    transform: rotate(-90deg);

    path {
      fill: var(--color-black);
      transition: $transition;
    }
  }

  &--white {
    border-color: var(--color-white);

    #{$comp}__svg {
      path {
        fill: var(--color-white);
      }
    }
  }
  &--blue {
    border-color: var(--color-blue);
  }
  &--red {
    border-color: var(--color-red);
  }
  &--green {
    border-color: var(--color-green);
  }

  &--left {
    #{$comp}__svg {
      transform: rotate(90deg);
    }
  }
}