.catalog {
  position: relative;
  z-index: 0;

  &__wrapper {
    position: absolute;
    left: 50%;
    top: calc(100% + 2rem);
    transform: translateX(-50%);
    @media (max-width: ($breakpoint - 1px)) {
      top: 100%;
    }
  }

  &__loader {

    height: 50px;
    width: 50px;

    animation: rotate 1s infinite;  

    &::after,
    &::before {
      content: '';

      display: block;
      height: 20px;  
      width: 20px;

      border-radius: 50%;
    }

    &::after {
      animation: ball2 1s infinite; 
      background-color: var(--color-blue);
      box-shadow: 30px 0 0 var(--color-gray);
    }

    &::before {
      margin-bottom: 10px;

      animation: ball1 1s infinite;  
      background-color: var(--color-red);
      box-shadow: 30px 0 0 var(--color-green);
    }
  }
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--color-green);
  }
  50% {
    box-shadow: 0 0 0 var(--color-green);
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--color-green);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 var(--color-gray);
  }
  50% {
    box-shadow: 0 0 0 var(--color-gray);
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--color-gray);
    margin-top: 0;
  }
}