.checkbox {
  $comp: &;

  &__label {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      #{$comp}__box {
        border-color: var(--color-blue);
      }
    }
  }

  &__input {
    position: absolute;
    left: 0;

    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        border-color: var(--color-blue);

        #{$comp}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    margin-right: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(12px);
    }

    width: getRem(28px);
    height: getRem(28px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(20px);
      height: getRem(20px);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    transition: $transition;
    border: 1px solid var(--color-borders);
    border-radius: 2px;
  }

  &__svg {
    opacity: 0;
    transition: $transition;
  }

  &__text {
    font-weight: 500;
    @include fsl(12px, 120%);
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(10px, 100%);
    }
  }

  &__link {
    color: var(--color-blue);
  }

  &__caption {
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px, 100%);
    }
  }
}