.docs-card {
  $comp: &;
  
  display: flex;
  min-height: getRem(140px);
  @media (max-width: ($breakpoint - 1px)) {
    min-height: getRem(92px);
  }

  background: var(--color-white);
  border: 1px solid var(--color-borders);

  transition: $transition;

  &:hover {
    border: 1px solid var(--color-blue);
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: 27%;
    }
    &:nth-child(2) {
      width: 73%;
    }
  }

  &__container {
    padding: getRem(20px) getRem(20px) getRem(20px) getRem(18px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(12px);
    }

    height: 100%;
  }

  &__column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
  }

  &__bot {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__labels {
    display: flex;
  }

  &__label {
    color: var(--color-gray);
    text-transform: uppercase;
    font-weight: 500;
    @include fsl(12px, 110%);

    &:not(:first-child) {
      margin-left: getRem(10px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: getRem(24px);
    height: getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(16px);
      height: getRem(16px);
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }
}