.file {
  
  display: flex;

  &__label {
    position: relative;
    z-index: 0;
    padding: getRem(10px) getRem(24px);

    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      justify-content: center;
      width: 100%;
    }

    border: 1px solid $rgba-borders;
    border-radius: 60px;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    left: 0;

    visibility: hidden;
  }

  &__icon {
    margin-right: 6px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 8px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: getRem(16px);
    height: getRem(16px);
  }

  &__text {
    @include fsl(14px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 100%);
    }
  }
}