.filters {
  $comp: &;

  &__headings {
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      margin-left: -20px;
      padding: 0 20px;

      width: calc(100% + 40px);

      overflow-x: scroll;
      @include scrollbar-hidden;
    }

    &.darken {
      #{$comp}__headings-item:not(.visible) {
        opacity: 0.5;
        // pointer-events: none;
      }
    }
  }
  &__headings-item {
    display: flex;
    align-items: center;

    transition: $transition;

    &.active {
      color: var(--color-blue);

      #{$comp}__svg {
        transform: rotate(-180deg);
        path {
          fill: var(--color-blue);
        }
      }
    }

    &:not(:first-child) {
      margin-left: getRem(28px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: getRem(20px);
      }
    }

    &.visible {
      
      #{$comp}__svg {
        transform: rotate(180deg);
        
        path {
          fill: var(--color-blue);
        }
      }
    }
  }

  &__heading {
    transition: $transition;
    white-space: nowrap;
    font-weight: 500;
    color: inherit;
    @include fsl(20px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px); 
    }

    &:hover {
      color: var(--color-blue);
    }
  }

  &__icon {
    margin-left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      #{$comp}__svg {
        path {
          fill: var(--color-blue);
        }
      }
    }
  }

  &__svg {
    width: getRem(20px);
    height: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(12px);
      height: getRem(12px);
    }
    transition: $transition;

    path {
      transition: $transition;
    }
  }

  &__dropdown {
    margin-top: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }

    display: none;
  }

  &__list {
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: -20px;
      padding: 0 20px;

      width: calc(100% + 40px);

      overflow-x: scroll;
      @include scrollbar-hidden;
    }

    display: flex;
  }

  &__item {
    font-weight: 500;
    cursor: pointer;
    transition: $transition;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 100%);
    }

    &:not(:first-child) {
      margin-left: getRem(20px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: getRem(12px);
      }
    }

    &.active {
      #{$comp}__link {
        color: var(--color-blue);
      }
    }
  }

  &__link {
    transition: $transition;
    white-space: nowrap;
    font-weight: 500;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 100%);
    }

    &:hover {
      color: var(--color-blue);
    }
  }
}