.footer {

  border-top: 1px solid $rgba-borders;

  &--order {
    padding-bottom: getRem(105px);
  }

  &__inner {
    padding: getRem(60px) 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 49px 0;
    }
  }

  &__top {
    padding-bottom: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 32px;
    }
    border-bottom: 1px solid $rgba-borders;
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  
  &__col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 3);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 5);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:nth-child(4) {
      width: calc(#{$col-width-d});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:not(:first-child) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 32px;
      }
    }
  }

  &__label {
    margin-bottom: getRem(24px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      margin-bottom: getStatic(24px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
    }

    font-weight: 500;
    color: var(--color-gray);
    @include fsl(12px, 130%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(12px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px);
    }

    &--sm {
      margin-bottom: getRem(8px);
      @media (max-width: ($breakpoint-ll - 1px)) {
        margin-bottom: getStatic(8px, 14.4px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 2px;
      }
    }
  }

  &__products {}
  &__products-item {

    $comp: &;

    display: flex;
    &:not(:first-child) {
      margin-top: getRem(16px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 8px;
      }
    }

    &:nth-child(1) {
      .footer__products-link:hover {
        color: var(--color-blue);
      }
    }
    &:nth-child(2) {
      .footer__products-link:hover {
        color: var(--color-red);
      }
    }
    &:nth-child(3) {
      .footer__products-link:hover {
        color: var(--color-blue-dark);
      }
    }
    &:nth-child(4) {
      .footer__products-link:hover {
        color: var(--color-gray);
      }
    }
  }
  &__products-link {
    font-weight: 500;
    @include fsl(24px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }

    transition: $transition;
  }

  &__section {

    &:not(:first-child) {
      margin-top: getRem(80px);
      @media (max-width: ($breakpoint-ll - 1px)) {
        margin-top: getStatic(80px, 14.4px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 32px;
      }
    }
  }

  &__item {
    display: flex;
    &:not(:first-child) {
      margin-top: getRem(12px);
      @media (max-width: ($breakpoint-ll - 1px)) {
        margin-top: getStatic(12px, 14.4px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 8px;
      }
    }
  }

  &__link {
    max-width: 357px;
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
    }
    @include fsl(14px, 130%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(14px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }

    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }

  &__bot {
    padding-top: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-top: 32px;
    }
  }
  &__bot-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      height: auto;
      flex-direction: row;
    }
  }

  &__phone {
    font-weight: 500;
    @include fsl(36px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(18px);
    }

    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }

  &__socials {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap});
    }
  }
  &__socials-item {
    @media (max-width: ($breakpoint - 1px)) {
      --size: 36px;
    }

    width: getRem(48px);
    height: getRem(48px);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-borders);
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: getRem(4px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;
      }
    }

    transition: $transition;

    &:hover {
      background-color: var(--color-blue);

      .footer__socials-svg path {
        fill: var(--color-white);
      }
    }
  }
  &__socials-svg {
    path {
      transition: $transition;
    }
  }

  &__contacts {
    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__contacts-item {
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap});
    }
    &:not(:first-child) {
      margin-top: getRem(40px);
      @media (max-width: ($breakpoint-ll - 1px)) {
        margin-top: getStatic(40px, 14.4px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 0;
      }
    }
  }

  &__mail {
    font-weight: 500;
    @include fsl(24px, 110%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(24px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }

    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }

  &__policy {
    @include fsl(14px, 130%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(14px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }

    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }

  &__corps {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
      width: calc(#{$col-part-m} * 2 - #{$col-gap});
    }
  }

  &__corp {
    color: var(--color-gray);
    @include fsl(14px, 130%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(14px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }

    &:not(:first-child) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 4px;
      }
    }
  }

  &__span {
    color: var(--color-black);
    
    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }
}