.form {

  &__item {

    &:not(:first-child) {
      margin-top: getRem(16px);
    }
  }

  &__inner {
    margin-top: getRem(24px);
  }

  &__input {
    padding: getRem(20px);

    width: 100%;

    @include f-main();
    background: var(--color-white);
    border: 1px solid var(--color-borders);
    @include fsl(16px, 130%);
    letter-spacing: -0.5px;

    @include placeholder {
      color: var(--color-gray);
    }
  }

  &__textarea {
    padding: getRem(20px);

    width: 100%;
    height: getRem(160px);

    @include f-main();
    background: var(--color-white);
    border: 1px solid var(--color-borders);
    @include fsl(16px, 130%);
    letter-spacing: -0.5px;
    resize: none;

    @include placeholder {
      color: var(--color-gray);
    }
  }

  &__wrapper {
    margin-top: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__col {
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(20px);
      }
    }
  }

  &__box {

    &:not(:first-child) {
      margin-top: getRem(12px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(8px);
      }
    }
  }
}