.header {
  $comp: &;
  --colorNav: var(--color-blue);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: var(--color-white);
  transition: $transition;

  &--up {
    transform: translateY(-5.25rem);

    #{$comp}__inner {
      padding-bottom: getRem(20px);
    }
  }

  &.menu {
    .mobile-menu {
      transform: none;
      pointer-events: all;
    }

    #{$comp}__menu {
      background: var(--color-blue);
    }

    #{$comp}__burger {
      height: 0;
      border-color: transparent;
      transition: all 0.35s 0s $transition-timing-function;

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
        background: var(--color-white);
        transition-delay: 0.5s;
      }
      
      &:after {
        transform: translate(-50%, -50%) rotate(-135deg);
        background: var(--color-white);
        transition-delay: 0.5s;
      }
    }
  }

  &__inner {
    padding: getRem(32px) 0 getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(13px) 0;
    }

    border-bottom: 1px solid var(--color-borders);
    transition: $transition;
  }

  &__desktop {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      justify-content: space-between;
    }
  }
  
  &__col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 6);
      display: flex;
      align-items: center;
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }
  &__links-item {

    &:not(:first-child) {
      margin-left: getRem(40px);
      @media (max-width: ($breakpoint-ll - 1px)) {
        margin-left: getStatic(40px, 14.4px);
      }
    }

    &.active {
      #{$comp}__dropdown {
        transform: scaleY(1);
        transition-delay: 0s;
      }
      #{$comp}__dropdown-overlay {
        opacity: 1;
        pointer-events: all;
        transition-delay: 0s;
      }
      #{$comp}__dropdown-list {
        opacity: 1;
        transition-delay: 0.5s;
      }
      #{$comp}__text {
        color: var(--color-blue);
      }
      #{$comp}__links-svg {
        transform: rotate(-180deg);
        path {
          fill: var(--color-blue);
        }
      }
    }
  }
  &__links-button {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      .header__text {
        color: var(--color-blue);
      }
      .header__links-svg path {
        fill: var(--color-blue);
      }
    }
  }
  &__text {
    @include fsl(14px, 120%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(14px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 120%);
    }

    transition: $transition;
  }
  &__links-icon {
    margin-left: getRem(6px);

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(16px);
    height: getRem(16px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(16px, 14.4px);
      height: getStatic(16px, 14.4px);
    }
  }
  &__links-svg {
    width: 100%;
    height: 100%;
    transition: $transition;

    path {
      transition: $transition;
    }
  }
  &__links-link {
    @include fsl(14px, 120%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(14px, 14.4px);
    }

    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }

  &__dropdown {
    position: absolute;
    left: -60px;
    top: getRem(-40px);
    bottom: 0;
    z-index: 1;

    width: getRem(688px);

    transform: scaleY(0);
    transform-origin: top;
    transition: $transition;
    transition-delay: 0.5s;
  }
  &__dropdown-overlay {
    position: absolute;
    left: -60px;
    top: getRem(-40px);
    z-index: 1;

    width: 120vw;
    height: 120vh;

    background-color: rgba(#000, 0.2);
    transition: $transition;
    transition-delay: 0.5s;
    opacity: 0;
    pointer-events: none;
  }
  &__dropdown-container {
    position: relative;
    z-index: 2;

    background: var(--color-white);
  }
  &__dropdown-list {
    padding: getRem(96px) 60px getRem(40px);

    opacity: 0;
    transition: $transition;

  }
  &__dropdown-item {
    display: flex;

    &:not(:first-child) {
      margin-top: getRem(16px);
    }
  }
  &__dropdown-link {
    transition: $transition;
    letter-spacing: -0.5px;
    @include fsl(18px, 130%);

    &:hover {
      color: var(--color-blue);
    }
  }

  &__feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__feedback-col {
    &:nth-child(2) {
      margin-left: getRem(30px);
      
      display: flex;
      align-items: center;
    }
  }
  &__feedback-link {
    display: flex;
    align-items: center;

    &:hover {

      .header__text {
        color: var(--color-blue);
      }
    }
  }
  &__feedback-icon {
    margin-right: getRem(4px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      margin-right: getStatic(4px, 14.4px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(19px);
    height: getRem(19px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(19px, 14.4px);
      height: getStatic(19px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(19px);
      height: getRem(19px);
    }
  }
  &__feedback-svg {
    width: 100%;
    height: 100%;
  }
  &__feedback-buttons {
    margin-right: getRem(60px);
    display: flex;
  }
  &__feedback-item {
    &:not(:first-child) {
      margin-left: getRem(12px);
    }

    .button__text span {
      font-weight: 400;
      @include fsl(14px);
    }
  }

  &__phone {
    @include fsl(18px, 120%);
    font-weight: 500;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 100%);
    }

    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }

  &__bot {
    margin-top: getRem(32px);
  }

  &__logo {
    width: calc(#{$col-part-d} * 2 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
    display: flex;
  }
  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(162px);
    height: getRem(28px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(104px);
      height: getRem(18px);
    }
  }
  &__logo-svg {
    width: 100%;
    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      width: 104px;
      height: 18px;
    }
  }

  &__button {
    padding: getRem(13px) getRem(20px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      padding: getStatic(13px, 14.4px) getStatic(20px, 14.4px);
    }

    display: flex;
    align-items: center;

    background: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 40px;
    transition: $transition;
    cursor: pointer;

    &::before {
      background-color: var(--color-blue-dark);
      
      z-index: 0;
    }
    &:hover {
      border: 1px solid var(--color-blue-dark);
    }

    &.active {
      background: var(--color-black);
      border-color: var(--color-black);

      &::before {
        background-color: var(--color-black);
      }

      #{$comp}__button-burger {
        animation: none;
        height: 0;
        border-color: transparent;
        transition: all 0.35s 0s $transition-timing-function;

        &:before {
          transform: translate(-50%, -50%) rotate(-45deg);
          background: var(--color-white);
          transition-delay: 0.5s, 0.1s;
        }
        
        &:after {
          transform: translate(-50%, -50%) rotate(-135deg);
          background: var(--color-white);
          transition-delay: 0.5s, 0.1s;
        }
      }
    }
  }
  &__button-icon {
    margin-right: getRem(20px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      margin-right: getStatic(20px, 14.4px);
    }
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(28px);
    height: getRem(12px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(28px, 14.4px);
      height: getStatic(12px, 14.4px);
    }

    overflow: hidden;
  }
  &__button-burger {
    width: 100%;
    height: getRem(12px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      height: getStatic(12px, 14.4px);
    }

    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    transition: height 0.4s 0.4s $transition-timing-function, border-color 0.4s 0.4s $transition-timing-function;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 2px;

      background: transparent;
      transition: transform 0.4s $transition-timing-function, background 0.4s 0.4s $transition-timing-function;
    }
  }
  &__button-text {
    position: relative;
    overflow: hidden;
    color: var(--color-white);
    @include fsl(18px, 120%);
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(18px, 14.4px);
    }

    span {
      display: block;
    }
  }

  &__nav {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      right: 0;
      left: 0;
      top: calc(100% + 2.5rem);

      height: 1px;

      background: transparent;
      transition: $transition;
    }

    &--active {
      &::after {
        background: var(--color-blue);
      }
    }
  }

  &__list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    white-space: nowrap;

    &:hover {
      .header__link {
        color: var(--color-blue);
      }

      .header__accordion-text {
        color: var(--color-blue);
      }

      .header__accordion-svg path {
        fill: var(--color-blue);
      }
    }
  }

  &__accordion {
    display: flex;
    align-items: center;

    cursor: pointer;

    &.active {
      #{$comp}__accordion-text {
        color: var(--color-blue);
      }
      #{$comp}__accordion-svg {
        transform: rotate(-180deg);
        path {
          fill: var(--color-blue);
        }
      }
    }
  }
  &__accordion-text {
    @include fsl(18px, 120%);
    letter-spacing: -0.5px;
    transition: $transition;
  }
  &__accordion-icon {
    margin-left: getRem(8px);

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(16px);
    height: getRem(16px);
  }
  &__accordion-svg {
    width: 100%;
    height: 100%;

    transition: $transition;

    path {
      transition: $transition;
    }
  }

  &__link {
    @include fsl(18px, 120%);
    letter-spacing: -0.5px;
    // @media (max-width: ($breakpoint-ll - 1px)) {
    //   @include fsl(16px);
    // }

    transition: $transition;
  }

  &__buttons {
    margin-left: getRem(40px);
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
      justify-content: flex-end;
    }
  }
  &__buttons-item {
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(12px);
    }
    
    width: getRem(48px);
    height: getRem(48px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(48px, 14.4px);
      height: getStatic(48px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(32px);
      height: getRem(32px);
    }
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid $rgba-borders;

    &:not(:first-child) {
      margin-left: getRem(8px);
      @media (max-width: ($breakpoint-ll - 1px)) {
        margin-left: getStatic(8px, 14.4px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
      }
    }

    transition: $transition;

    position: relative;

    .header__search {
      position: relative;

      path {
        transition: $transition;
      }
    }

    .header__buttons-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &::before {
        content: '';
        background-color: var(--color-blue);
        transition: transform $transition-duration $transition-timing-function;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0,110%,0);
      }
    }

    &:hover {

      .header__buttons-bg::before {
        transform: none;
      }

      .header__search {
        animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;

        path {
          &:first-child {
            stroke: var(--color-white);
          }
          &:last-child {
            fill: var(--color-white);
          }
        }
      }
      .header__cart-svg {
        animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;

        path {
          stroke: var(--color-white);
        }
      }
    }
  }

  &__cart {
    position: relative;
    z-index: 0;
  }
  &__cart-count {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: getRem(16px);
    height: getRem(16px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(16px, 14.4px);
      height: getStatic(16px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(11px);
      height: getRem(11px);
    }
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 50%;
    @include fsl(11px, 110%);
    @media (max-width: ($breakpoint-ll - 1px)) {
      font-size: getStatic(11px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(7px);
    }
  }
  &__cart-svg {
    width: getRem(20px);
    height: getRem(19px);
    position: relative;
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(20px, 14.4px);
      height: getStatic(19px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: 13px;
      height: 12px;
    }

    path {
      transition: $transition;
    }
  }

  &__search {
    width: getRem(24px);
    height: getRem(24px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: getStatic(24px, 14.4px);
      height: getStatic(24px, 14.4px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: 16px;
      height: 16px;
    }
  }
  &__buttons-bg {
    width: 100%;
    height: 100%;
    // background-color: var(--color-blue);
    position: absolute;
    z-index: -1;
    border-radius: 50%;
  }
  &__buttons-container {
    position: relative;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__panel {
    
    &--active {
      #{$comp}__panel-overlay {
        opacity: 1;
        pointer-events: all;
        transition-delay: 0s;
      }
    }
  }
  &__panel-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;

    height: 300vh;

    background: rgba(#000, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    transition-delay: 0.5s;
  }
  &__panel-inner {
    padding: getRem(40px) 0;
    margin-left: calc(#{$col-part-d} * 6);
  }
  &__panel-spoiler {
    display: none;

    &.active {
      #{$comp}__panel-list {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }
  &__panel-list {
    opacity: 0;
    transition: $transition;
  }
  &__panel-item { 
    display: flex;

    &:not(:first-child) {
      margin-top: getRem(16px);
    }
  }
  &__panel-link {
    letter-spacing: -0.5px;
    @include fsl(18px, 120%);
    transition: $transition;

    &:hover {
      color: var(--color-blue);
    }
  }

  &__menu {

    position: relative;
    z-index: 1;

    width: getRem(52px);
    height: getRem(32px);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 45px;
    border: 1px solid var(--color-blue);
    cursor: pointer;
    transition: $transition;
  }

  &__burger {
    position: relative;
    z-index: 0;

    width: getRem(16px);
    height: getRem(12px);

    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    transition: height 0.4s 0.4s $transition-timing-function, border-color 0.4s 0.4s $transition-timing-function;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 1.5px;

      transition: transform 0.4s $transition-timing-function;
      background: var(--color-black);
    }
  }

  &__cards {
    display: none;

    &.active {

      #{$comp}__cards-grid {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }
  &__cards-grid {
    padding: getRem(40px) 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: $col-gap;

    opacity: 0;
    transition: $transition;
  }
}