.loader {
  $comp: &;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-blue);
  transition: opacity 0.5s $transition-timing-function;
  transition-delay: 1s;

  &--hidden {
    opacity: 0;
    pointer-events: none;

    #{$comp}__icon {
      width: 120vw;
      height: 120vw;
      @media (max-width: ($breakpoint - 1px)) {
        flex-shrink: 0;
        width: 100vh;
        height: 100vh;
      }
      // transform: scale(1.2);
      transition: width 1.6s  $transition-timing-function, height 1.6s  $transition-timing-function;
      transition-delay: 0s, 0s;
    }

    #{$comp}__container {
      transform: rotate(360deg) scale(0.1);
      opacity: 0;
    }
  }

  &__icon {
    --size: 132px;
    padding: 22px 22px 38px;

    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: var(--color-white);
  }

  &__container {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    transition: transform 1.2s $transition-timing-function, opacity 0.1s  $transition-timing-function;
    transition-delay: 0.2s, 1.4s;
    transform-origin: center;
  }

  &__layer {
    @include cover;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
  }

  &__first {
    // &.hidden {
      transform: translateY(-100%);

      #{$comp}__first-svg {
        transform: translateY(100%);
      }

      &.active {
        transform: none;
        transition: 0.8s $transition-timing-function;

        #{$comp}__first-svg {
          transform: none;
          transition: 0.8s $transition-timing-function;
        }
      }
    // }
  }
  &__second {
    transform: translateX(100%);

    #{$comp}__second-svg {
      transform: translateX(-100%);
    }

    &.active {
      transform: none;
      transition: 0.8s $transition-timing-function;

      #{$comp}__second-svg {
        transform: none;
        transition: 0.8s $transition-timing-function;
      }
    }
  }
  &__third {
    transform: translateY(100%);

    #{$comp}__third-svg {
      transform: translateY(-100%);
    }

    &.active {
      transform: none;
      transition: 0.8s $transition-timing-function;

      #{$comp}__third-svg {
        transform: none;
        transition: 0.8s $transition-timing-function;
      }
    }
  }
}