.mobile-menu {
  $comp: &;

  position: absolute;
  top: 100%;
  right: 0;

  width: 100vw;
  height: 100vh;

  @media (min-width: $breakpoint) {
    display: none;
  }

  
  transition: $transition;
  pointer-events: none;
  transform: translateX(100%);
  background: var(--color-white);

  &__wrapper {
    padding-bottom: getRem(59px);
    
    overflow-y: scroll;
  }

  &__item {
    padding: getRem(14px) getRem(20px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--color-borders);
    cursor: pointer;

    &.active {
      #{$comp}__item-text {
        color: var(--color-blue)
      }
      #{$comp}__svg {
        path {
          fill: var(--color-blue)
        }
      }
    }
  }
  &__item-text {
    @include fsl(14px, 100%);
  }

  &__icon {
    margin-left: getRem(20px);

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(-90deg);
  }
  &__svg {
    width: getRem(14px);
    height: getRem(14px);
  }

  &__container {
    margin: getRem(14px) 0 getRem(20px);
  }

  &__nav {}
  &__nav-item {

    display: flex;

    &:not(:first-child) {
      margin-top: getRem(14px);
    }
  }
  &__nav-link {
    @include fsl(14px, 100%);
  }

  &__inner {
    margin: getRem(24px) 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    margin-bottom: getRem(14px);

    color: var(--color-gray);
    font-weight: 500;
    @include fsl(14px, 100%);
  }

  &__link {
    display: flex;
    align-items: center;
  }
  &__link-icon {
    margin-right: getRem(6px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link-svg {
    width: getRem(12px);
    height: getRem(12px);
  }
  &__link-text {
    @include fsl(12px, 100%);
  }

  &__title {
    margin-bottom: getRem(8px);

    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(18px, 100%);
  }

  &__caption {
    font-weight: 500;
    color: var(--color-gray);
    @include fsl(14px, 100%);
  }

  &__modal {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 12px;

    width: 100%;
    height: 100%;

    background: var(--color-white);
    transition: $transition;
    transform: translateX(100%);
    overflow-y: scroll;
    @include scrollbar-hidden;

    &.active {
      transform: translateX(0);
    }
  }
  &__modal-back {
    display: flex;
    align-items: center;
  }
  &__modal-icon {
    margin-right: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(90deg);
  }
  &__modal-svg {
    width: getRem(14px);
    height: getRem(14px);

    path {
      fill: var(--color-blue);
    }
  }
  &__modal-text {
    color: var(--color-blue);
    @include fsl(14px, 100%);
  }
  &__modal-list {
    margin-top: getRem(28px);
    margin-left: 4px;
  }
  &__modal-item {
    display: flex;

    &:not(:first-child) {
      margin-top: getRem(24px);
    }
  }
  &__modal-wrapper {
    margin-top: getRem(12px);

    border-top: 1px solid var(--color-borders);
  }
}