.modal {
  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: ($breakpoint - 1px)) {
    right: getRem(20px);
  }

  height: 100%;
  width: getRem(611px);
  @media (max-width: ($breakpoint - 1px)) {
    width: auto;
  }
  display: none;

  // transform-origin: left;
  // transition: $transition;

  &__container {
    padding: getRem(60px) getRem(24px) getRem(60px) getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }
  }
}

.vacancies-modal {
  $comp: &;

  transition: $transition;
  transform-origin: left;

  &.active {
    // transition-delay: 300;

    #{$comp}__title {
      opacity: 1;
    }

    .form > div {
      opacity: 1;
    }
  }

  .form > div {
    opacity: 0;
    transition: opacity 0.3s $transition-timing-function;
    @for $i from 1 to 9 {
      &:nth-child(#{$i}) {
        transition-delay: #{0.05 * $i}s;
      }
    }
  }
  
  &__title {
    margin-bottom: getRem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(24px);
    }

    transition: opacity .4s;
    // transition-delay: .3s;
    opacity: 0;
  }
}

.contacts-modal {
  width: calc(#{$col-part-d} * 6 + 40px);

  @media (max-width: ($breakpoint - 1px)) {
    width: calc(#{$col-part-m} * 4);
  }

  &__ttl {
    margin-bottom: getRem(20px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(8px);
    }
  }

  &__subttl {
    @include fsl(18px, 110%);
    margin-bottom: getRem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 110%);
      margin-bottom: getRem(24px);
    }
  }

  &__block {
    border: 1px solid var(--color-borders);
  }

  &__bottom {
    padding: getRem(40px) getRem(30px);

    display: flex;
  }

  &__logo-box {
    border-right: 1px solid var(--color-border-dark);
    padding-right: getRem(30px);

    svg {
      max-width: 175px;
      width: 100%;
    }

    p {
      text-transform: uppercase;
      text-align: center;
      @include fsl(12px);

      margin-top: getRem(20px);
    }
  }

  &__info {
    display: flex;
    padding-left: getRem(30px);

    &-col {
      display: flex;
      flex-direction: column;
  
      margin-right: getRem(40px);
    }

    &-ttl {
      font-weight: bold;
      margin-bottom: getRem(10px);
    }

    &-item {
      margin-bottom: getRem(5px);
    }
  }
}

.catalog-modal {
  $comp: &;

  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: ($breakpoint - 1px)) {
    right: getRem(20px);
  }

  width: getRem(950px);
  height: 100%;
  @media (max-width: ($breakpoint - 1px)) {
    width: auto;
  }
  display: none;

  background: var(--color-white);

  &__container {
    position: relative;
    z-index: 0;
    padding: getRem(60px) getRem(60px) getRem(150px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px) getRem(20px) getRem(150px);
    }

    height: 100%;
    overflow-y: scroll;
    @include scrollbar-hidden;
  }

  &__title {
    margin-bottom: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(28px);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__col {
    flex-shrink: 0;

    width: getRem(375px);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }

    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(24px);
      }
    }
  }

  &__heading {
    margin-bottom: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: getRem(8px);
    }
  }

  &__button {
    padding: getRem(12px) getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(12px) getRem(16px);
    }
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    border: 1px solid var(--color-borders);
    transition: $transition;

    &.active {
      border-color: var(--color-light-gray);
      background: var(--color-light-gray);
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;

    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        border-color: var(--color-blue);

        #{$comp}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__content {
    margin-right: getRem(15px);

    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: getRem(16px);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: getRem(40px);
    height: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(32px);
      height: getRem(32px);
    }
  }

  &__text {
    letter-spacing: -1px;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
      letter-spacing: 0;
    }
  }

  &__box {
    width: getRem(28px);
    height: getRem(28px);
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-borders);
    border-radius: 2px;
    transition: $transition;
  }

  &__svg {
    transition: $transition;
    opacity: 0;
  }

  &__panel {
    padding: getRem(27px) getRem(60px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--color-white);
    border-top: 1px solid var(--color-borders);
    box-shadow: 0px -6px 34px rgba(0, 0, 0, 0.06);

    &.hidden {
      #{$comp}__panel-title {
        opacity: 0.5;
        pointer-events: none;
      }
      #{$comp}__panel-button {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
  &__panel-title {
    transition: $transition
  }
  &__panel-button {
    margin-left: getRem(40px);

    width: getRem(376px);

    transition: $transition
  }
}

.call-modal {
  $comp: &;

  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: ($breakpoint - 1px)) {
    right: getRem(20px);
  }

  width: getRem(611px);
  height: 100%;
  @media (max-width: ($breakpoint - 1px)) {
    width: auto;
  }
  display: none;

  background: var(--color-white);

  &.active {
    transition-delay: 300;
    #{$comp}__title {
      opacity: 1;
    }
    .form > div {
      opacity: 1;
    }
  }

  &__container {
    position: relative;
    z-index: 0;
    padding: getRem(60px) getRem(60px) getRem(150px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px) getRem(20px) getRem(150px);
    }

    height: 100%;
    overflow-y: scroll;
    @include scrollbar-hidden;
  }

  &__title {
    margin-bottom: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(28px);
    }

    opacity: 0;
    transition: $transition;
  }

  .form > div {
    opacity: 0;
    transition: opacity 0.3s $transition-timing-function;
    @for $i from 1 to 5 {
      &:nth-child(#{$i}) {
        transition-delay: #{0.05 * $i}s;
      }
    }
  }
}

.response {
  $comp: &;

  width: getRem(586px);
  @media (max-width: ($breakpoint - 1px)) {
    width: calc(100% - 40px);
  }
  display: none;

  text-align: center;
  background: var(--color-white);

  &.active {
    #{$comp}__container {
      opacity: 1;
    }
  }

  &__container {
    padding: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(32px);
    }

    opacity: 0;
    transition: $transition;
    // transition-delay: 0.4s;
  }

  &__icon {
    margin-bottom: getRem(35px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: getRem(97px);
    height: getRem(97px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(54px);
      height: getRem(54px);
    }
  }

  &__title {
    margin-bottom: getRem(12px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(8px);
    }
  }

  &__text {
    letter-spacing: -0.5px;
    @include fsl(18px, 160%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__button {
    margin-top: getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(12px);
    }

    display: flex;
    justify-content: center;
  }

  .fancybox-button {
    display: none;
  }
}

.search-modal {
  $comp: &;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: none;

  background: var(--color-white);

  &.active {
    #{$comp}__form {
      opacity: 1;
    }
  }

  &__container {
    padding: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }
  }

  &__form {
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(46px);
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: 0;
    transition: opacity $transition;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 11 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        position: relative;
        z-index: 0;
        
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: calc(#{$col-width-d});
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
  }

  &__input {
    padding: getRem(24px) getRem(20px) getRem(21px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(16px);
    }

    width: 100%;

    @include f-main;
    background-color: var(--color-white);
    border: 1px solid var(--color-borders);
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(20px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px, 100%);
    }

    @include placeholder {
      color: var(--color-gray);
    }
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    right: getRem(15px);
    transform: translateY(-50%);
    z-index: 2;

    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  &__svg {
    width: getRem(16px);
    height: getRem(16px);
  }
}

.map-modal {
  $comp: &;
  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: ($breakpoint - 1px)) {
    right: 20px;
  }

  display: none;

  width: getRem(647px);
  height: 100%;
  @media (max-width: ($breakpoint - 1px)) {
    width: auto;
  }

  background: var(--color-white);

  &.active {
    #{$comp}__inner {
      opacity: 1;
    }
  }

  &__inner {
    padding: getRem(60px) 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px) 0;
    }

    height: 100%;

    overflow-y: scroll;
    @include scrollbar-hidden;
    opacity: 0;
    transition: $transition;
  }

  &__top {
    padding-bottom: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: getRem(16px);
    }
  }

  &__container {
    padding: 0 60px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 20px;
    }
  }

  &__title {
    margin-bottom: getRem(8px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 2px;
    }
  }

  &__site {
    font-weight: 500;
    color: var(--color-blue);
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px, 110%);
    }
  }

  &__offset {
    margin-top: getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: getRem(8px);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: getRem(19px);
    height: getRem(19px);
  }

  &__caption {
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }

  &__row {
    margin-top: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }

    display: flex;
  }
  &__row-item {

    &:not(:first-child) {
      margin-top: getRem(32px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(16px);
      }
    }
  }
  
  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 2 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
    &:nth-child(2) {
      margin-left: getRem(40px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        margin-top: getRem(16px);
      }
    }
  }

  &__label {
    margin-bottom: getRem(8px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 4px;
    }

    font-weight: 500;
    color: var(--color-gray);
    letter-spacing: -0.5px;
    @include fsl(14px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }

  &__item {
    
    &:not(:first-child) {
      margin-top: getRem(4px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 0;
      }
    }
  }

  &__text {
    font-weight: 500;
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
  }

  &__bot {
    padding-top: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-top: getRem(16px);
    }

    border-top: 1px solid var(--color-borders);
  }

  &__heading {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
  }

  &__slider {}
  &__slider-slide {
    display: block;
  }
  &__slider-img {
    display: flex;
    align-items: center;
  }
  &__slider-title {
    margin-top: getRem(8px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 4px;
    }

    font-weight: 500;
    letter-spacing: -1px;
    @include fsl(14px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }

  &__controls {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
}

.video-modal {
  width: getRem(900px);
  height: getRem(600px);
  @media (max-width: ($breakpoint - 1px)) {
    width: getRem(350px);
    height: getRem(200px);
  }
  display: none;

  &__container {
    height: 100%;
    display: flex;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}

/* Custom animation slide-in-out */
.fancybox-fx-left.fancybox-slide--previous {
  
  transform: translateX(-100%);
}

.fancybox-fx-left.fancybox-slide--next {
  
  transform: translateX(-100%);
}

.fancybox-fx-left.fancybox-slide--current {
  transform: translateX(0);
}

.fancybox-fx-top.fancybox-slide--previous {
  
  transform: translateY(-100%);
}

.fancybox-fx-top.fancybox-slide--next {
  transform: translateY(-100%);
}

.fancybox-fx-top.fancybox-slide--current {
  transform: translateY(0);
}

.fancybox-slide--next.open {
  transition-delay: 0.4s;
}
.fancybox-slide--previous.open {
  transition-delay: 0.4s;
}