.nav {
  display: flex;
  @media (max-width: ($breakpoint - 1px)) {
    padding: 0 20px;
    margin-left: -20px;

    width: calc(100% + 20px * 2);
    display: flex;

    overflow-y: scroll;
    @include scrollbar-hidden;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-left: getRem(20px);
    }
  }
  &__link {
    white-space: nowrap;
    transition: $transition;
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(20px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }

    &.active {
      color: var(--color-blue);
    }
  }
}