.product-card {
  $comp: &;

  display: block;
  height: getRem(360px);
  @media (max-width: ($breakpoint - 1px)) {
    height: getRem(187px);
  }

  transition: 0.6s $transition-timing-function;

  .button-icon::before {
    background: var(--color-gray);
  }

  &:hover {
    @media (min-width: $breakpoint) {
  
      #{$comp}__container {
        &::before {
          transform: none;
        }
      }
      #{$comp}__content {
        transition-delay: 0s;
        transform: translateY(-10px);
        opacity: 0;
      }
      #{$comp}__hidden {
        transition-delay: 0.4s;
        transform: none;
        opacity: 1;
      }
      #{$comp}__image {
        transform: scale(0.9);
      }
  
      .button-icon {
        
        &::after {
          border-color: var(--color-gray);
        }

        &::before {
          transform: none;
        }
      }
  
      .button-icon__svg {
        animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;

        path {
          fill: var(--color-white);
        }
      }
    }
  }

  &--blue {
    #{$comp}__logo {
      width: getRem(216px);
      height: getRem(48px);
    }

    .button-icon {
      &::after {
        border-color: var(--color-blue);
      }

      &::before {
        background: var(--color-blue);
      }
    }
    &:hover {
      .button-icon {
        &::after {
          border-color: var(--color-blue);
        }
      }

      .button-icon__svg {
        path {
          fill: var(--color-white);
        }
      }
    }
  }
  &--red {
    #{$comp}__logo {
      width: getRem(292px);
      height: getRem(48px);
    }

    .button-icon {
      &::after {
        border-color: var(--color-red);
      }

      &::before {
        background: var(--color-red);
      }
    }
    &:hover {
      .button-icon {
        &::after {
          border-color: var(--color-red);
        }
      }

      .button-icon__svg {
        path {
          fill: var(--color-white);
        }
      }
    }
  }
  &--green {
    #{$comp}__logo {
      width: getRem(202px);
      height: getRem(48px);
    }

    .button-icon {
      &::after {
        border-color: var(--color-green);
      }

      &::before {
        background: var(--color-green);
      }
    }
    &:hover {
      .button-icon {
        &::after {
          border-color: var(--color-green);
        }
  
      }

      .button-icon__svg {
        path {
          fill: var(--color-white);
        }
      }
    }

    #{$comp}__text {
      max-width: getRem(512px);
      @media (max-width: ($breakpoint - 1px)) {
        max-width: none;
      }
    }
  }

  &__container {
    padding: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }
    position: relative;
    z-index: 0;

    height: 100%;

    background: var(--color-light-gray);
    transition: $transition;
    overflow: hidden;
    
    &::before {
      content: "";
      @include cover;
      z-index: -1;

      background: var(--color-darken-white);
      transition: 0.8s $transition-timing-function;
      transform: translateY(100%);
    }
  } 

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__button {
    display: flex;
  }

  &__bot {
    position: relative;
    z-index: 0;
  }

  &__content {
    transition: 0.4s $transition-timing-function;
    transition-delay: 0.4s;
  }

  &__title {
    margin-bottom: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(12px);
    }
  }

  &__text {
    max-width: getRem(435px);
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
    }

    font-weight: 500;
    color: var(--color-gray);
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(10px);
    
    opacity: 0;
    transition: 0.6s $transition-timing-function;
    // transition-delay: 0.4s;
  }
  
  &__logo {
    margin-bottom: getRem(20px);
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__caption {
    max-width: getRem(608px);

    letter-spacing: -1px;
    font-weight: 500;
    @include fsl(20px, 130%);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;

    width: getRem(500px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(170px);
    }
    display: flex;
    align-items: center;

    mix-blend-mode: darken;
    transition: 0.6s $transition-timing-function;
    transform-origin: top right;
  }
}