.radio {
  $comp: &;

  border: 1px solid var(--color-borders);
  background: var(--color-white);

  transition: $transition;

  &:hover {
    background: var(--color-light-gray);
  }

  &.active {
    // background: var(--color-light-gray);
  }

  &__label {
    position: relative;
    z-index: 0;
    padding: getRem(18px) getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(13px) getRem(12px);
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;

    visibility: hidden;

    &:checked {
      ~#{$comp}__icon {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__text {
    font-weight: 500;
    @include fsl(14px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(28px);
    height: getRem(28px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(20px);
      height: getRem(20px);
    }

    border: 1px solid var(--color-blue);
    border-radius: 50%;
    background: var(--color-white);

    &::before {
      content: "";

      display: block;
      width: getRem(12px);
      height: getRem(12px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(8px);
        height: getRem(8px);
      }

      background-color: var(--color-blue);
      transition: $transition;
      border-radius: 50%;
      opacity: 0;
    }
  }
}