.section {
  margin-top: getRem(120px);
  @media (max-width: ($breakpoint - 1px)) {
    margin-top: getRem(48px);
  }

  &--first {
    margin-top: getRem(248px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(83px);
    }
  }

  &--md {
    margin-top: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(25px);
    }
  }

  &--big {
    margin-top: getRem(240px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(48px);
    }
  }

  &--default {
    margin-top: 0;
  }

  &--overflow {
    overflow-x: hidden;
  }

  &__block {
    margin-top: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(25px);
    }
  }

  &__inner {
    margin-top: getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(12px);
    }
  }
}