.select {
  width: 100%;
  
  @media (max-width: ($breakpoint-m - 1px)) {
    position: relative;
  }
  
  transition: $transition;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &.select--small {
    .select2-container {

      .select2-selection {
        padding: 8px 20px;
      }
    }
  }

  .select2-container {

    &.select2-container--open {
      .select2-selection {
        // border-bottom: 0;
        border-color: var(--color-blue);

        &__arrow {
          transform: rotate(180deg);
        }
      }
    }

    .select2-selection {
      padding: getRem(16px);

      @media (min-width: $breakpoint) {
        padding: getRem(14px) getRem(24px);
      }

      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 1px solid var(--color-borders);
      transition: $transition;

      &:hover {
        border-color: var(--color-blue);
      }

      &__rendered {
        padding: 0;
        margin-right: 10px;

        font-weight: 500;
        color: var(--color-black);
        letter-spacing: -0.5px;
        @include fsl(16px, 130%);
        @media (max-width: ($breakpoint - 1px)) {
          letter-spacing: 0;
          @include fsl(14px);
        }
      }

      &__placeholder {
        color: var(--color-black);
      }

      &__arrow {
        position: relative;
        top: 0;
        right: 0;

        width: getRem(16px);
        height: getRem(16px);
        
        transition: $transition;

        b {
          margin: 0;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%);

          border: none;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.862 4.8623L13.8048 5.80511L8.00005 11.6099L2.19531 5.80511L3.13812 4.8623L8.00005 9.72423L12.862 4.8623Z' fill='%233F3F40'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  &__mobile {
    @include cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 16px;

    @media (min-width: $breakpoint) {
      display: none;
    }
  }
}

.select-wrapper {

  .select2-container {
    margin-top: 4px;

    @media (max-width: ($breakpoint - 1px)) {
      pointer-events: none;
    }
  }

  .select2-dropdown {
    padding: getRem(20px);

    border: 1px solid var(--color-borders);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08);
  }

  .select2-container--default .select2-results>.select2-results__options {
    max-height: 100%;
    @include scrollbar-hidden;
    // border-top: 1px solid $color-light-gray;
    border-radius: 0 0 4px 4px;
  }

  .select2-results__option {
    // padding: 6px 19px;

    @include fsl(16px, 130%);
    transition: $transition;

    &--highlighted[aria-selected] {
      color: var(--color-black);
      // background-color: $color-darken-white;
    }

    &[aria-selected=true] {
      background-color: var(--color-white);
    }
  }
}