.slider-buttons {
  $comp: &;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(172px + 172px + 6px + (100vw - (20px * 11)) / 12 * 4);

  display: flex;
  justify-content: space-between;

  .button-icon {
    background: var(--color-white);
  }

  &--default {
    position: static;
    transform: none;

    width: auto;

    #{$comp}__item {

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }

  &__item {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__btn {
    width: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}