.slider-buttons {
  $comp: &;
  position: absolute;
  z-index: 2;
  left: calc(#{$col-part-d} * 3 - #{$col-gap} + 3px);
  right: calc(#{$col-part-d} * 3 - #{$col-gap} + 3px);
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  .button-icon {
    background: var(--color-white);
  }

  &--default {
    position: static;
    transform: none;

    #{$comp}__item {

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }

  &__item {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__btn {
    width: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}