.slider-buttons {
  $comp: &;
  position: absolute;
  z-index: 2;
  left: calc(#{$col-part-d} * 3 - #{$col-gap});
  right: calc(#{$col-part-d} * 3 - #{$col-gap});
  top: 50%;
  transform: translateY(-50%);
  padding: 0 getRem(44px);

  display: flex;
  justify-content: space-between;

  .button-icon {
    background: var(--color-white);
  }

  &--default {
    position: static;
    transform: none;
    padding: 0;

    #{$comp}__item {

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }

  &__item {
    background: none;
    border: none;
    cursor: pointer;
  }
}