.small-card {
  $comp: &;
  --color: var(--color-white);

  position: relative;
  z-index: 0;

  display: block;
  height: getRem(234px);
  @media (max-width: ($breakpoint - 1px)) {
    height: getRem(118px);
  }

  background: var(--color-light-gray);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 4px;

    transform: translateY(100%);
    transition: 0.8s $transition-timing-function;
    background: var(--color);
  }

  &:hover {
    #{$comp}__button-svg {
      path {
        fill: var(--color);
      }
    }

    &::before {
      transform: none;
    }
  }

  &--small {
    height: getRem(146px);
    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(118px);
    }

    #{$comp}__container {
      padding: getRem(24px);
      @media (max-width: ($breakpoint - 1px)) {
        padding: getRem(20px);
      }
    }

    #{$comp}__bot {
      align-items: center;
    }
  }

  &.aqua {
    --color: var(--color-blue);

    // &::before {
    //   background: var(--color-blue);
    // }

    #{$comp}__svg {
      width: getRem(145px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(82px);
      }
    }
  }
  &.blockfire {
    --color: var(--color-red);

    #{$comp}__svg {
      width: getRem(195px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(115px);
      }
    }
  }
  &.pert {
    --color: var(--color-green);


    #{$comp}__svg {
      width: getRem(134px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(80px);
      }
    }
  }

  &__container {
    padding: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }
  
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__bot {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      align-items: center;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: ($breakpoint - 1px)) {
      align-items: center;
    }
  }
  &__svg {
    height: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(19px);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button-svg {
    width: getRem(30px);
    height: getRem(30px);
    path {
      fill: var(--color-black);
      transition: $transition;
    }
  }
}