.table {

  @media (max-width: ($breakpoint - 1px)) {
    margin-left: -20px;
    padding: 0 20px;

    width: calc(100% + 40px);
    display: flex;

    overflow-y: scroll;
    @include scrollbar-hidden;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    border-right: 1px solid var(--color-borders);
    border-bottom: 1px solid var(--color-borders);
  }

  &__top {
    padding: getRem(24px) getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(16px);
      position: sticky;
      left: 0;

      width: getRem(146px);
    }

    font-weight: 500;
    color: var(--color-gray);
    letter-spacing: -0.5px;
    background: var(--color-light-gray);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }

    border-left: 1px solid var(--color-borders);
    border-top: 1px solid var(--color-borders);
  }

  &__item {
    padding: getRem(32px) getRem(19px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(7px) getRem(12px);
    }

    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      justify-content: center;
      width: getRem(119px);
      min-height: getRem(68px);
    }

    border-left: 1px solid var(--color-borders);
    border-top: 1px solid var(--color-borders);

    &--big {
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(185px);
      }
    }
  }

  &__list {
    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
    }
  }
  &__list-item {

    &:not(:first-child) {
      margin-top: 4px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 0;
        margin-left: 8px;
      }
    }
  }
  
  &__text {
    @include fsl(20px, 130%);
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
      text-align: center;
    }
  }

  &__span {
    display: inline-block;
    transform: translateY(2px);

    letter-spacing: -0.5px;
    @include fsl(10px, 130%);
  }

  &__mobile {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: grid;
    }
    grid-template-columns: repeat(6, auto);

    border-right: 1px solid var(--color-borders);
    border-bottom: 1px solid var(--color-borders);
  }
}