.tech-docs {
  $comp: &;

  position: relative;
  z-index: 0;

  display: block;
  
  background: var(--color-black);
  overflow: hidden;

  &:hover {
    #{$comp}__hover {
      transform: none;
    }
    #{$comp}__frame {
      transform: none;
    }
  }

  &--follow {
    #{$comp}__bg {
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
  }

  &__container {
    padding: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 20px;
    }
    position: relative;
    z-index: 0;

    overflow: hidden;
  }

  &__title {
    margin-bottom: getRem(20px);

    @media (max-width: ($breakpoint - 1px)) {
      max-width: 200px;
    }

    color: var(--color-white);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: -0.5px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    right: getRem(40px);
    top: getRem(20px);
    bottom: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      right: getRem(20px);
      top: getRem(20px);
      bottom: getRem(20px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: getRem(192px);
    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(123px);
    }
  }

  &__caption {
    margin-bottom: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(24px);
    }

    color: var(--color-white);
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: ($breakpoint - 1px)) {
      justify-content: space-between;
    }

    .parsley-errors-list {
      order: 1;
      width: 100%;
    }
  }
  
  &__input {
    padding: getRem(28px) getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(16px);
    }

    width: getRem(730px);
    height: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(100% - 66px);
      height: getRem(46px);
    }

    color: var(--color-white);
    border: 1px solid #5E5E5E;
    background: var(--color-black);
    @include f-main;
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(16px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px, 100%);
    }
    @include placeholder {
      color: var(--color-white);
    }
  }

  &__button {
    margin-left: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: $col-gap;
    }
  }

  &__btn {
    width: getRem(80px);
    height: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(46px);
      height: getRem(46px);
    }
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  &__hover {
    @include cover;
    z-index: 2;

    transition: 0.8s $transition-timing-function;
    transform: translateY(100%);
    overflow: hidden;

    #{$comp}__img {
      path {
        fill: #009BC9;
      }
    }
  }
  
  &__frame {
    transform: translateY(-100%);
    background: var(--color-blue);
    transition: 0.8s $transition-timing-function;
  }
}