.tech-docs {
  display: block;
  background: var(--color-black);

  &__container {
    padding: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 20px;
    }
    position: relative;
    z-index: 0;

    overflow: hidden;
  }

  &__title {
    margin-bottom: getRem(20px);

    @media (max-width: ($breakpoint - 1px)) {
      max-width: 200px;
    }

    color: var(--color-white);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: -0.5px;
    }
  }

  &__wrapper {
    display: flex;
  }

  

  &__bg {
    position: absolute;
    right: getRem(40px);
    top: getRem(20px);
    bottom: getRem(20px);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: getRem(192px);
    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      width: 197px;
    }
  }
}