.routes {
  margin-top: 30px;

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.test-container {
  margin: 50px;
}

.test-grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
}