.routes {
  margin-top: 30px;

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.blue-fill {
  fill: var(--color-blue);
}

.blude-stroke {
  stroke: var(--color-blue);
}