.routes {
  margin-top: 30px;

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.test-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.test-frame {
  transition: $transition;
}

.test-button {
  display: flex;
}

.test-line {
  transition: $transition;
}