.tooltip {
  position: absolute;
  top: getRem(10px);
  right: getRem(10px);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: getRem(20px);
    height: getRem(20px);
  }

  &__container {
    display: none;
  }
}

.tippy-content {
  padding: getRem(10px);
  
  max-width: getRem(350px);
  @media (max-width: ($breakpoint - 1px)) {
    max-width: getRem(200px);
  }


  background: var(--color-white);
  @include fsl(16px, 130%);
  @media (max-width: ($breakpoint - 1px)) {
    @include fsl(12px);
  }
}