.tooltip {
  
  &--absolute {
    position: absolute;
    top: getRem(10px);
    right: getRem(10px);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: getRem(20px);
    height: getRem(20px);
  }

  &__container {
    display: none;
  }
}

.tippy-content {
  padding: getRem(20px);
  
  max-width: getRem(260px);

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  background: var(--color-white);
  @include fsl(13px, 130%);
}

.tippy-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 14px 0 14px;
  border-color: var(--color-white) transparent transparent transparent;
}