extends ../layouts/master

include ../components/breadcrumbs

block content
  
  section.section.section--first
    .container
      .error-page
        .error-page__col(data-aos='fade-up')
          .error-page__ttl 404
          .error-page__subttl Страница не найдена
          +link-right.error-page__btn(data-link='' href="/slt-html/dist/main")
            |Главная
        .error-page__col(data-aos='fade-up')
          +error-page