extends ../layouts/master

include ../components/breadcrumbs
include ../components/button-icon
include ../components/about-comp
include ../components/nav
include ../components/small-cards


block variables 
  -
    var isDefault = true

block content
  -
    var ddata = {
      quality: [
        {title: "Сырье", text: "Входной контроль качества и регулярный контроль изменения параметров сырья после изготовления в собственной лаборатории."},
        {title: "Производство", text: "Проверка внешнего диаметра, толщины стенки, длины трубы, внешнего вида с помощью ручных и автоматизированных инструментов. На линиях установлены лазерные измерители диаметра и ультразвуковые толщиномеры."},
        {title: "Маркировка", text: "Проверка соответствия маркировки с выпускаемой продукцией, соответствие штрихкода, расстояние между маркировкой."},
        {title: "Упаковка", text: "Соответствие упаковки, количество штук/метров в упаковке, соответствие этикетки."},
      ]
    }
  .about-page 
    section.section.section--first
      .container 
        +breadcrumbs(items = ['о компании'] page = "СЛТ Аква")
    section.section.section--md 
      .container 
        +nav(items = ['СЛТ Аква', 'Производство', 'Работа у нас'] active = 1)
    section.section 
      .container  
        .about-page__intro(data-decrease-container='') 
          .about-page__intro-row 
            .about-page__intro-col
              h1.about-page__intro-title 
                |#[span.word-span #[span(data-aos='fade-up') Производство]]
            .about-page__intro-col
              p.about-page__intro-text(data-aos='fade-up')
                |Наши мощности позволяют выпускать более 11&nbsp;000 тонн готовой продукции в год. Мы используем сырье крупнейшего российского нефтехимического холдинга СИБУР.
          .about-page__intro-container(data-aos='fade-up')
            .about-page__intro-image
              img.about-page__intro-img(src="assets/images/about-production.jpg", alt=""  data-parallax='w2')
              img.about-page__intro-mobile(src="assets/images/about-production-mobile.webp", alt=""  data-parallax='w2')
            .about-page__intro-icon(data-decrease='')
              +about-logo-svg.about-page__intro-svg
    section.section(data-parallax-container='w2')
      .container 
        .section__wrapper 
          .section__row 
            .section__col 
              h5.about-page__label(data-aos='fade-up')
                |Производственная площадка
            .section__col
              h2.about-page__stats-title 
                |#[span.word-span #[span(data-aos='fade-up') Наш завод расположен]] #[br] #[span.word-span #[span(data-aos='fade-up') в индустриальном]] #[span.word-span #[span(data-aos='fade-up') парке]] #[span.word-span #[span(data-aos='fade-up') «Тольяттисинтез»]]
              .about-page__stats(data-aos='fade-up') 
                .about-page__stats-col
                  .about-page__stats-number
                    |8100
                    span.about-page__stats-span
                      |м2
                  .about-page__stats-caption 
                    |Общая площадь завода
                .about-page__stats-col
                  .about-page__stats-number
                    |700+
                  .about-page__stats-caption 
                    |Товарных позиций
              .about-page__stats-row(data-aos='fade-up')
                .about-page__stats-item 
                  h2.about-page__stats-digit 
                    |23 760
                    span.about-page__stats-span 
                      |км
                  .about-page__stats-caption 
                    |Труб в год 
                .about-page__stats-item 
                  h2.about-page__stats-digit 
                    |10 143 392
                    span.about-page__stats-span 
                      |шт
                  .about-page__stats-caption 
                    |Фитингов в год 
    section.section.section--hidden--mobile 
      +about-slider
    section.section 
      .container 
        .section__wrapper 
          .section__row 
            .section__col 
              h5.about-page__label(data-aos='fade-up') 
                |Продукция
            .section__col
              h2 
                |#[span.word-span #[span(data-aos='fade-up') Мы выпускаем]] #[span.word-span #[span(data-aos='fade-up') продукцию]] #[span.word-span #[span(data-aos='fade-up') под]] #[span.word-span #[span(data-aos='fade-up') собственными]] #[span.word-span #[span(data-aos='fade-up') торговыми]] #[span.word-span #[span(data-aos='fade-up') марками]]
          .section 
            .about-page__cards
              +cards
    section.section 
      .container 
        .section__wrapper 
          .section__row 
            .section__col 
              h5.about-page__label(data-aos='fade-up') 
                |Контроль качества
            .section__col
              h4.about-page__heading(data-aos='fade-up')
                |Обеспечивается на каждом этапе технологического цикла при производстве, хранении и последующей отгрузки продукции
              .about-page__grid 
                each item in ddata.quality
                  .about-page__grid-item(data-aos='fade-up') 
                    h5.about-page__grid-title
                      |#{item.title}
                    p.about-page__grid-text 
                      |#{item.text}
    section.section 
      .container 
        .section__wrapper 
          .section__row 
            .section__col 
              h5.about-page__label(data-aos='fade-up') 
                |Тестирование
            .section__col
              ul.about-page__list 
                each item in ['Регулярное тестирование трубопроводных сборок на собственном гидравлическом стенде и стенде для испытаний на пожаростойкость (по ГОСТ Р 58832)', 'Регулярные испытания и сертификация выпускаемой продукции в независимых аккредитованных лабораториях', 'От каждой партии выпущенной продукции отбирается арбитражная проба, которая хранится весь гарантийный срок',]
                  li.about-page__list-item(data-aos='fade-up') 
                    h4
                      |#{item}
    section.section 
      .container 
        .section__wrapper 
          .section__row 
            .section__col 
              h5.about-page__label(data-aos='fade-up') 
                |Сертификация
            .section__col
              h4.about-page__heading.about-page__heading--sm(data-aos='fade-up')
                |Наша продукция имеет полный пакет документов соответствия требованиям технических нормативов регулирующих органов.
              p.about-page__caption(data-aos='fade-up')
                |В том числе для проектирования согласован и зарегистрирован в ФГБУ ВНИИПО МЧС России СТО (Стандарт организации) 22.21.29-015-17207509-2019 в качестве нормативного документа по пожарной безопасности с присвоением шифра ВНПБ 102-20.
          .about-page__partners
            - for (i = 0; i < 7; i++)
              .about-page__partners-item(data-aos='fade-up') 
                img(src=`assets/images/partners-${i+1}.png`, alt="")
    section.section
      +about-bot
  +video-modal(id = 'video')