extends ../layouts/master

include ../components/breadcrumbs
include ../components/accordion
include ../components/button-icon
include ../components/about-comp
//- include ../components/modals
include ../components/nav


block variables 
  -
    var isDefault = true

block content
  .about-page 
    section.section.section--first
      .container 
        +breadcrumbs(items = ['о компании'] page = "СЛТ Аква")
    section.section.section--md 
      .container 
        +nav(items = ['СЛТ Аква', 'Производство', 'Работа у нас'] active = 2)
    section.section 
      .container  
        .about-page__intro(data-decrease-container='')
          .about-page__intro-row 
            .about-page__intro-col
              .about-page__intro-title 
                |Работа у нас
            .about-page__intro-col
              p.about-page__intro-text 
                |Команда СЛТ Аква — ключевой актив компании. #[br] Мы создаем условия, в которых каждый сотрудник компании может раскрыть свои таланты, самореализоваться, непрерывно развиваться.
          .about-page__intro-container
            .about-page__intro-image
              img.about-page__intro-img(src="assets/images/about-work.jpg", alt=""  data-parallax='w2')
              img.about-page__intro-mobile(src="assets/images/about-work-mobile.webp", alt="" data-parallax='w2')
            .about-page__intro-icon(data-decrease='')
              +about-logo-svg.about-page__intro-svg
    section.section(data-parallax-container='w2')
      .container 
        .section__wrapper 
          .section__row 
            .section__col 
              h5.about-page__label 
                |ВСЕ ЛУЧШИЕ — НАШИ!
            .section__col
              ul.about-page__list 
                each item in ['Как компания мы #[span.about-page__list-span надежный] поставщик и партнер', 'Как производитель мы устанавливаем высокие стандарты #[span.about-page__list-span качества] для нашей продукции', 'Как команда мы ценим #[span.about-page__list-span профессионализм] коллег и готовность делать больше, чем от тебя ожидают', 'Как социальная система мы несем полную #[span.about-page__list-span ответственность] перед своими сотрудниками, партнерами и потребителями', 'Как производственная организация мы следим за #[span.about-page__list-span технологическими] разработками и используем только передовое оборудование и сырье']
                  li.about-page__list-item 
                    h4
                      |#{item}
    section.section.section--hidden--mobile
      +about-slider
    section.section
      .container
        .section__wrapper 
          .section__row 
            .section__col
              h5.about-page__label 
                |Условия
            .section__col
              h2.about-page__heading 
                |Офис в Москве
              .about-page__section-grid 
                each item in ['Слаженная команда профессионалов', 'Комфортный офис класс А с зоной Coffee Point в БЦ Melnikoff House (в пешей доступности от м. Комсомольская/Бауманская)', 'Полный пакет технического и программного обеспечения для продуктивной работы', 'Компенсация мобильной связи', 'Участие в семинарах и тренингах по повышению квалификации', 'Официальное трудоустройство согласно ТК РФ', 'Пятидневная рабочая неделя 9:00 – 18:00 (комбинированный формат работы удаленно/офис)', 'Ежегодный оплачиваемый отпуск — 28 календарных дней ', 'Выплата заработной платы всегда в срок (2 раза в месяц)', 'Перспективы карьерного роста', 'Корпоративные праздники и новогодние подарки для детей сотрудников']
                  .about-page__section-item 
                    |#{item}
              .section
                h2.about-page__heading 
                  |Производство в Тольятти
                .about-page__section-grid 
                  each item in ['Слаженная команда профессионалов', 'Завод располагается на территории индустриального парка «Тольяттисинтез»', 'Компенсация мобильной связи', 'Бесплатные обеды', 'В зависимости от категории задач выдается рабочая одежда', 'Участие в семинарах и тренингах по повышению квалификации', 'Официальное трудоустройство согласно ТК РФ', 'Пятидневная рабочая неделя 9:00 – 18:00', 'Ежегодный оплачиваемый отпуск — 28 календарных дней', 'Выплата заработной платы всегда в срок (2 раза в месяц)', 'Перспективы карьерного роста', 'Корпоративные праздники и новогодние подарки для детей сотрудников']
                    .about-page__section-item 
                      |#{item}
    section.section 
      .about-page__vacancies
        .container
          .section__row 
            .section__col
              h5.about-page__label 
                |Открытые вакансии
            .section__col
              ul.about-page__vacancies-page__list
                - for (i = 0; i < 2; i++)
                  li.about-page__vacancies-item 
                    +accordion
    section.section.section--default
      +about-bot
  +vacancies-modal
  +response-modal(text = 'Благодарим за проявленный интерес к нашей компании. В ближайшее время мы рассмотрим ваше резюме и ответим.' id = '2')
  +video-modal(id = 'video')