extends ../layouts/master

include ../components/breadcrumbs
include ../components/nav
include ../components/form-components

block content
  .calculator-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Расчет компенсаторов для систем SLT AQUA")
        .section__inner 
          h1
            |#[span.word-span #[span Расчет компенсаторов]] #[br] #[span.word-span #[span для систем SLT AQUA]]
    section.section
      .container 
        +nav(items = ['Компенсационное колено', 'П-образный компенсатор', 'Петлевой компенсатор ', 'Сильфонный компенсатор',] active = 1)
        .section__block 
          .calculator-page__row 
            .calculator-page__col
              .calculator-page__picture 
                +calculator-2-svg.calculator-page__picture-svg
              .calculator-page__inner 
                ul.calculator-page__description
                  -
                    var list = [
                      {label: 'S#[span.calculator-page__span L]', text: '150 мм (безопасное расстояние)'},
                      {label: 'W#[span.calculator-page__span K]', text: 'ширина компенсатора, мм'},
                      {label: 'L', text: 'длина участка компенсиции одним плечом, м'},
                      {label: 'L#[span.calculator-page__span oбщ]', text: 'длина компенсируемого участка П-компенсатором'},
                      {label: 'L#[span.calculator-page__span S1]', text: 'требующаяся длина плеча компенсатора'},
                      {label: 'ΔL', text: 'линейное расширение, мм'},
                    ]
                  each item in list
                    li.calculator-page__description-item 
                      .calculator-page__description-col
                        .calculator-page__label 
                          |#{item.label}
                      .calculator-page__description-col
                        |-
                      .calculator-page__description-col
                        .calculator-page__caption 
                          |#{item.text}
            .calculator-page__col
              form.form(action="/") 
                .calculator-page__features
                  .calculator-page__features-col
                    .calculator-page__wrapper
                      .calculator-page__caption.calculator-page__caption--big
                        |Тип трубы
                      .calculator-page__features-inner 
                        ul.calculator-page__features-list
                          each item in ['SLT AQUA PP-R', 'SLT AQUA PP-R-GF', 'SLT AQUA PP-R-AL']
                            li.calculator-page__features-item 
                              +radio-button(name = 'type' text = item)
                  .calculator-page__features-col
                    .calculator-page__caption.calculator-page__caption--big 
                      |Внешний диаметр трубы #[span.calculator-page__features-span D], мм
                    .calculator-page__features-inner 
                      .calculator-page__features-row
                        ul.calculator-page__features-buttons 
                          each item in ['20', '25', '30']
                            li.calculator-page__features-button
                              +radio-button(name = 'diameter' text = item)
                        ul.calculator-page__features-buttons 
                          each item in ['40', '50', '63']
                            li.calculator-page__features-button
                              +radio-button(name = 'diameter' text = item)
                        ul.calculator-page__features-buttons 
                          each item in ['75', '90', '110']
                            li.calculator-page__features-button
                              +radio-button(name = 'diameter' text = item)
                  .calculator-page__features-col
                    .calculator-page__wrapper
                      .calculator-page__caption.calculator-page__caption--big
                        |Требуемая длина плеча #[br.calculator-page__br] компенсатора #[span.calculator-page__features-span L #[span.calculator-page__features-small S1]] (обратный расчет), мм
                      .calculator-page__features-inner
                        +input#input(type = 'number' placeholder = '0')
                .section__block
                  .calculator-page__wrapper
                    .calculator-page__features
                      .calculator-page__features-col
                        .calculator-page__caption.calculator-page__caption--big 
                          |Общая длина трубы, м
                        .calculator-page__features-inner 
                          +input#input(type = 'number' placeholder = '0')
                        .calculator-page__features-desc 
                          .calculator-page__caption.calculator-page__caption--big 
                            |Lобщ = 2L
                      .calculator-page__features-col
                        .calculator-page__caption.calculator-page__caption--big 
                          |Температура монтажа, °C
                        .calculator-page__features-inner 
                          +input#input(type = 'number' placeholder = '0')
                      .calculator-page__features-col
                        .calculator-page__caption.calculator-page__caption--big 
                          |Температура эксплуатации, °C
                        .calculator-page__features-inner 
                          +input#input(type = 'number' placeholder = '0')
                .section__block 
                  .calculator-page__block
                    .calculator-page__block-row
                      .calculator-page__block-col
                        h4 
                          |Прямой расчет
                      .calculator-page__block-col
                        .calculator-page__block-text 
                          |Один компенсатор на весь отрезок компенсации
                    .calculator-page__block-inner
                      .calculator-page__block-row
                        .calculator-page__block-col
                          .calculator-page__caption.calculator-page__caption--big 
                            |Длина плеча компенсатора, мм
                          .calculator-page__block-title 
                            |L#[span.calculator-page__block-span S]=343
                        .calculator-page__block-col
                          .calculator-page__caption.calculator-page__caption--big
                            |Минимальная ширина компенсатора, мм
                          .calculator-page__block-title 
                            |W#[span.calculator-page__block-span k]=156
                .section__block 
                  .calculator-page__block
                    .calculator-page__block-row
                      .calculator-page__block-col
                        h4 
                          |Обратный расчет
                      .calculator-page__block-col
                        .calculator-page__block-text 
                          |Количество компенсаторов в зависимости от плеча компенсации
                    .calculator-page__block-inner
                      .calculator-page__block-row
                        .calculator-page__block-col
                          .calculator-page__caption 
                            |Требующаяся длина плеча компенсатора, мм
                          .calculator-page__block-title 
                            |L#[span.calculator-page__block-span S1]=343
                        .calculator-page__block-col
                          .calculator-page__caption.calculator-page__caption--big 
                            |Минимальная ширина компенсатора, мм
                          .calculator-page__block-title 
                            |W#[span.calculator-page__block-span k]=156
                    .calculator-page__block-inner
                      .calculator-page__block-row
                        .calculator-page__block-col
                          .calculator-page__caption.calculator-page__caption--big
                            |Длина компенсируемого участка 1-м компенсатором, мм
                          .calculator-page__block-title 
                            |L#[span.calculator-page__block-span комп]=343
                        .calculator-page__block-col
                          .calculator-page__caption.calculator-page__caption--big
                            |Количество компенсаторов на длину #[span.calculator-page__features-span L #[span.calculator-page__features-small общ]] , шт
                          .calculator-page__block-title 
                            |K=10
                    .calculator-page__block-inner
                      .calculator-page__block-row
                        .calculator-page__block-col
                          .calculator-page__button
                            .button-wrapper
                              +download-btn.button--wide--mobile
                                |Скачать расчет в PDF