extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs

block content
  .catalog-page
    section.section.section--first 
      .container 
        +breadcrumbs(items = ['SLT AQUA', 'фитинги '] page = "Муфта SLT AQUA PP-R Переходная BxB")
        .section__inner
          .catalog-page__top 
            .catalog-page__top-left
              h1 
                |Каталог
            .catalog-page__desktop
              .catalog-page__top-buttons 
                .catalog-page__top-item 
                  +download-btn.button--wide--mobile
                    |Скачать каталог в PDF
                .catalog-page__top-item 
                  +link-right.button--wide--mobile
                    |Информационные материалы
    section.section
      .container
        .catalog-page__mobile 
          .catalog-page__top-buttons 
            .catalog-page__top-item 
              +download-btn.button--wide--mobile
                |Скачать каталог в PDF
            .catalog-page__top-item 
              +link-right.button--wide--mobile
                |Информационные материалы
        .catalog-page__products 
          each item in ['blue', 'red', 'green']
            .catalog-page__products-item(class=item)
              .catalog-page__products-row 
                .catalog-page__products-col
                  .catalog-page__products-title 
                    |SLT AQUA
                  .catalog-page__products-caption 
                    |Полипропиленовые трубопроводные системы для водоснабжения и отопления
                  .catalog-page__desktop
                    .catalog-page__products-btn 
                      +link-right 
                        |Вся продукция
                .catalog-page__products-col
                  .catalog-page__benefits
                    .catalog-page__benefits-col 
                      h3.catalog-page__benefits-num 
                        |10
                        span.catalog-page__benefits-span 
                          |лет
                      .catalog-page__benefits-text 
                        |Гарантийный срок
                    .catalog-page__benefits-col 
                      h3.catalog-page__benefits-num 
                        |10
                        span.catalog-page__benefits-span 
                          |лет
                      .catalog-page__benefits-text 
                        |Гарантийный срок
                  .catalog-page__mobile
                    .catalog-page__products-btn 
                      +link-right 
                        |Вся продукция
              .catalog-page__products-bot
                .catalog-page__products-container 
                  - for (i = 0; i < 4; i++)
                    a.catalog-page__card(href="#") 
                      .catalog-page__card-container 
                        .catalog-page__card-icon 
                          +big-arrow-svg.catalog-page__card-svg
                        .catalog-page__card-title 
                          |PE-RT I
                      .catalog-page__card-img 
                        img(src="assets/images/catalog-product.webp", alt="")
          .catalog-page__products-item
            .catalog-page__products-row 
              .catalog-page__products-col
                .catalog-page__products-title 
                  |Инструменты
                .catalog-page__products-caption 
                  |Для монтажа полимерных трубопроводных систем
                .catalog-page__products-button 
                  +link-right.button--black
                    |Вся продукция
              .catalog-page__products-col
                .catalog-page__products-wrapper
                  .catalog-page__products-container 
                    - for (i = 0; i < 4; i++)
                      a.catalog-page__card(href="#") 
                        .catalog-page__card-container 
                          .catalog-page__card-icon 
                            +big-arrow-svg.catalog-page__card-svg
                          .catalog-page__card-title 
                            |PE-RT I
                        .catalog-page__card-img 
                          img(src="assets/images/catalog-product.webp", alt="")