extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs

block content
  .catalog-page
    section.section.section--first.catalog-page__section 
      .container 
        +breadcrumbs(items = ['SLT AQUA', 'фитинги '] page = "Муфта SLT AQUA PP-R Переходная BxB")
        .catalog-page__row 
          .catalog-page__col
            h1.catalog-page__title
              |#[span.word-span #[span(data-aos='fade-up') Муфта]] #[span.word-span #[span(data-aos='fade-up') SLT AQUA]] #[span.word-span #[span(data-aos='fade-up') PP-R]] #[span.word-span #[span(data-aos='fade-up') Переходная BxB]]
            p.catalog-page__text(data-aos='fade-up') 
              |Труба однослойная напорная полипропиленовая PN10 (SDR 11) предназначена для систем холодного и питьевого водоснабжения, а также технологических трубопроводов, транспортирующих жидкости и газы, не агрессивные к материалам трубы.
            .catalog-page__button(data-aos='fade-up')
              .button.button-animate(data-scroll='#order')
                .button__text
                  span
                    |Сделать заказ
                .button__icon 
                  +big-arrow-svg.button__svg
          .catalog-page__col(data-aos='fade-up')
            img.catalog-page__img(src="assets/images/catalog-1.jpg", alt="")
          .catalog-page__col
            .catalog-page__label(data-aos='fade-up') 
              |Применение
            ul.catalog-page__types 
              li.catalog-page__types-item(data-aos='fade-up')
                .catalog-page__type 
                  .catalog-page__type-icon
                    .use-icon 
                      +use-svg.use-icon__svg.catalog-page__type-svg
                  .catalog-page__type-text 
                    |Соединение
    section.section.section--md#order
      .container 
        .row 
          .row__col
            h3
              |#[span.word-span #[span(data-aos='fade-up') Сделать]] #[span.word-span #[span(data-aos='fade-up') заказ]]
          .row__col
            p.catalog-page__caption(data-aos='fade-up') 
              |Здесь вы можете сформировать список требуемых товаров. Наши менеджеры обработают заказ, рассчитают стоимость, найдут подходящего по всем параметрам поставщика и отправят вам коммерческое предложение.
        .catalog-page__colors 
          .catalog-page__colors-item(data-aos='fade-up')
            .catalog-page__colors-text 
              |Цветовое #[br] исполнение
            .catalog-page__colors-icon.tooltip.active
              +colors-light-svg.catalog-page__colors-svg.tooltip__icon 
              .tooltip__container 
                |белый
            .catalog-page__colors-icon.black.tooltip
              +colors-light-svg.catalog-page__colors-svg.tooltip__icon
              .tooltip__container 
                |черный
            .catalog-page__colors-icon.red.tooltip
              +colors-light-svg.catalog-page__colors-svg.tooltip__icon 
              .tooltip__container 
                |красный
        .section__block
          .catalog-page__table(data-aos='fade-up') 
            .catalog-page__table-head
              each item in ['Диаметр, мм', 'Артикул', 'Количество в упаковке, шт', 'Количество в коробке, шт', 'Добавить в заказ, шт']
                .catalog-page__table-cell
                  |#{item}
            .catalog-page__table-body 
              - for (i = 0; i < 15; i++)
                label.catalog-page__table-item(data-table-item='')
                  each item in ['25×20', 'SLTFM32520', '50', '500', 'last']
                    if (item == "last")
                      .catalog-page__table-cell
                        .catalog-page__table-row 
                          .catalog-page__table-col
                            input.catalog-page__table-input(type="number" placeholder="Введите количество" data-table-input='')
                          .catalog-page__table-col
                            .catalog-page__table-button 
                              .catalog-page__table-add 
                                |Добавить
                              .catalog-page__table-icon 
                                +plus-svg.catalog-page__table-svg
                    else
                      .catalog-page__table-cell 
                        .catalog-page__table-text
                          |#{item}
          .catalog-page__block 
            ul.catalog-page__block-list
              -
                var ddata = [
                  {label: "Артикул", text: "SLTFM32520"},
                  {label: "Количество в упаковке, шт", text: "50"},
                  {label: "Количество в коробке, шт", text: "500"},
                ]
              - for (i = 0; i < 12; i++)
                li.catalog-page__block-item(data-aos='fade-up' data-table-item='') 
                  .catalog-page__block-top 
                    .catalog-page__block-cell 
                      .catalog-page__block-label 
                        |Диаметр, мм
                      .catalog-page__block-text
                        |25×20
                  .catalog-page__block-body
                    each item in ddata 
                      .catalog-page__block-cell 
                        .catalog-page__block-label 
                          |#{item.label}
                        .catalog-page__block-text
                          |#{item.text}
                    .catalog-page__block-cell 
                      .catalog-page__block-label.darken
                        |Добавить в заказ,шт
                      .catalog-page__block-input
                        input.catalog-page__table-input(type="number" placeholder="Кол-во" data-table-input='')
                    .catalog-page__block-cell 
                      .catalog-page__table-button 
                        .catalog-page__table-add 
                          |Добавить
                        .catalog-page__table-icon 
                          +plus-svg.catalog-page__table-svg
    section.section 
      .container 
        +tech-docs