extends ../layouts/master

include ../components/breadcrumbs
//- include ../components/tech-docs
include ../components/button-icon
include ../components/nav
include ../components/form-components
include ../components/modals


block content
  .contacts-page 
    section.section.section--first
      .container 
        +breadcrumbs( page = "Контакты")
        .events-page__inner 
          h1 
            |Контакты
    section.section
      .container 
        .contacts-white-row

          .contacts-white-row__left-col

            .footer__contacts

              .footer__contacts-item 
                .footer__label.footer__label--sm
                  |По вопросам сотрудничества
                a.footer__mail(href="mailto:info@slt-aqua.ru") 
                  h4
                    |info@slt-aqua.ru
                    
              .footer__contacts-item 
                .footer__label.footer__label--sm
                  |Для заявок на продукцию
                a.footer__mail(href="mailto:order@slt-aqua.ru") 
                  h4
                    |order@slt-aqua.ru

            .footer__socials 
              a.footer__socials-item(href="#")
                .footer__socials-container
                  +facebook-svg.footer__socials-svg
              a.footer__socials-item(href="#")
                .footer__socials-container
                  +instagram-svg.footer__socials-svg

          .contacts-white-row__right-col

            a.contacts-mail-box(href="")
              h6.only-desktop Отправить заявку #[br] на тендер
              h6.only-mobile Отправить заявку на тендер
              .download-card__icon 
                +convert-svg.download-card__svg

            a.contacts-mail-box(href="")
              h6 Предложить рекламу
              .download-card__icon 
                +convert-svg.download-card__svg

            a.contacts-mail-box(href="")
              h6 Поучаствовать #[br] в благотворительности
              .download-card__icon 
                +convert-svg.download-card__svg

        .contacts-grey-row

          .contacts-card

            .contacts-card__top

              h4 Центральный офис

              .contacts-card__txt
                .contacts-card__txt-ttl Адрес
                |г. Москва, ул. Ольховская 4к2, БЦ «Melnikoff House», этаж 1

            .contacts-card__bottom

              .contacts-card__txt
                .contacts-card__txt-ttl Телефон
                |8 800 444-72-37

          .contacts-card

            .contacts-card__top

              h4 Завод и центральный склад

              .contacts-card__txt
                .contacts-card__txt-ttl Адрес
                |445007, Самарская обл., г. Тольятти, Центральный район, ул. Новозаводская, д.8, стр. 156

              +address-btn.contacts-card__btn(data-fancy-button='contacts1')
                |Схема проезда

            .contacts-card__bottom

              .contacts-card__txt
                .contacts-card__txt-ttl Телефон
                |8 8482 65-01-98

              .contacts-card__txt
                .contacts-card__txt-ttl Координаты для навигатора
                |-33.8, 151.21

          .contacts-card

            .contacts-card__top

              h4 Склад

              .contacts-card__txt
                .contacts-card__txt-ttl Адрес
                |г. Москва, ул. 1-я Вольская, влад. 23

              +address-btn.contacts-card__btn(data-fancy-button='contacts2')
                |Схема проезда

            .contacts-card__bottom

              .contacts-card__txt
                .contacts-card__txt-ttl Телефон
                |8 925 463 12 89

              .contacts-card__txt
                .contacts-card__txt-ttl Координаты для навигатора
                |-33.8, 151.21

    section.section
      .container
        -
          var ddata = [
            {type: "text", placeholder: "Имя*",},
            {type: "email", placeholder: "E-mail*",},
          ]

        .contacts-block

          .contacts-form
            h2.vacancies-modal__title
              |Связаться с нами
            form.form(action="/" data-parsley-validate) 
              each item in ddata
                .form__item 
                  +input#input(type = item.type placeholder = item.placeholder required)

              .form__item 
                  +input#input(type="tel" placeholder="Телефон*" required data-tel-input)

              .form__item 
                +textarea#input(placeholder="Комментарий")

              .form-bottom

                .form__inner 
                  +checkbox(id="checkbox" required="")

                .form__inner
                  +form-button
                    |Отправить

          .contacts-requisites
            h2 Наши реквизиты

            .contacts-requisites__txt
              |ИНН 7728894116
              br
              |КПП 632401001
              br
              |ОГРН 5147746266080
              br
              |Юр. адрес: 445007, Самарская обл., г. Тольятти, Центральный район, ул. Новозаводская, д.8, этаж 1 комната 6
              br
              |Банк: АО «ЭКСПОБАНК» г. Москва
              br
              |р/c 40702810901380148785
              br
              |к/с 30101810345250000460
              br
              |БИК 044525460

            +download-btn.button--wide--mobile
              |Скачать файлом

  +contacts-modal1
  +contacts-modal2