extends ../layouts/master

include ../components/breadcrumbs
//- include ../components/docs-cards
include ../components/form-components
include ../components/nav
include ../components/about-comp
include ../components/accordion

block variables 
  -
    var isDefault = true

block content
  -
    var ddata = {
      list: [
        {title: 'Прозрачная политика продаж и взаимоотношений с партнерам', text: 'Партнерские отношения строятся на принципах: слушать и понимать клиента, полное включение в задачи клиента, предоставлять клиенту лучшие решения, нести ответственность за предложенные клиенту решения. Соблюдение деловой этики.'},
        {title: 'Высокое качество клиентского сервиса', text: 'Мы уделяем большое внимание скорости ответа на входящие заявки, постоянно находимся рядом, ведем совместные проекты, оказываем техническую поддержку и выстраиваем сотрудничество, при котором мы можем обеспечить партнеру полный комплекс услуг, который ему требуется для успешной работ.'},
        {title: 'Развитая логистическая инфраструктура', text: 'Равноудаленность расположения производственной площадки от севера и юга центральной части России позволяет осуществлять эффективную логистику в любом направлении.'},
      ],
      inputs: [
        {type: 'text', placeholder: 'Название компании*'},
        {type: 'text', placeholder: 'Город*'},
        {type: 'text', placeholder: 'ИНН*'},
        {type: 'text', placeholder: 'Адрес компании*'},
      ],
      right: [
        {
          title: 'Направление деятельности вашей компании',
          items: ['Торговая компания', 'Монтажная организация', 'Строительная компания', 'Проектная организация']
        },
        {
          title: 'Какая продукция завода СЛТ Аква вас интересует',
          items: ['SLT AQUA PP-R для водоснабжения и отопления', 'SLT BLOCKFIRE PP-R для пожаротушения', 'SLT PE-RT гибкая система для водоснабжения и отопления']
        },
        {
          title: 'Наличие склада у вашей компании',
          name: 'storage',
        },
        {
          title: 'Использую систему электронного документооборота',
          name: 'doc',
        },
      ]
    }
  .docs-page.cooperation-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Условия сотрудничества")
        .section__inner 
          h1 
            |#[span.word-span #[span Условия сотрудничества]]
    section.section 
      .container 
        +nav(items = ['Условия сотрудничества', 'Рекламная поддержка', ] active = 0)
        .section__block 
          .section__wrapper 
            .section__row 
              .section__col
                h5.section__label
                  |Для нас важно
              .section__col
                ul.cooperation-page__list 
                  each item in ddata.list
                    li.cooperation-page__list-item 
                      h2.cooperation-page__list-title 
                        |#{item.title}
                      .cooperation-page__list-wrapper
                        p.cooperation-page__list-text 
                          |#{item.text}
    section.section 
      .cooperation-page__section 
        .container 
          .section__row 
            .section__col
              h5.section__label
                |Условия работы
            .section__col
              ul.cooperation-page__accordions
                each item in ['svg/bag.svg', 'svg/accordion-2.svg', 'svg/accordion-3.svg', 'svg/accordion-4.svg',]
                  li.cooperation-page__accordion
                    +accordion-simple(url = item)
    section.section#form
      .container 
        h3.cooperation-page__title
            |#[span.word-span #[span Оставить заявку]] #[span.word-span #[span на]] #[span.word-span #[span сотрудничество]]
        .section__block 
          form.form(action="/" data-parsley-validate) 
            .cooperation-page__row
              .cooperation-page__col

                .form__item
                  +input#input(type="text" placeholder="Имя*" required)
                
                .form__item
                  +input#input(type="mail" placeholder="E-mail*" required)

                .form__item
                  +input#input(type="tel" placeholder="Телефон*" data-tel-input required)

                each item in ddata.inputs 
                  .form__item 
                    +input#input(type = item.type placeholder = item.placeholder required)

                .form__item
                  +input#input(type="text" placeholder="Сайт компании")

                .form__item
                  +input#input(type="text" placeholder="Территория продаж*" required)

                .form__item
                  textarea.form__input.form__input--tall#input(type="text" placeholder="Оборот компании по полипропиленовым системам в год, руб.")

                .form__item
                  +textarea#input(placeholder = "Как вы о нас узнали?")
                .cooperation-page__desktop
                  .form__wrapper
                    .form__row 
                      .form__col
                        +checkbox(id="checkbox" required="")
                      .form__col
                        +form-button
                          |Отправить
              .cooperation-page__col
                h6.cooperation-page__label 
                  |Укажите
                each item, i in ddata.right
                  div(class=(i === 0 ? "form__wrapper" : "section__block")) 
                    h5
                      |#{item.title}
                    if (item.items)
                      .cooperation-page__inner 
                        ul.form__list
                          each text in item.items 
                            li.form__box 
                              +checkbox(text = text)
                    else  
                      .form__wrapper
                        .cooperation-page__buttons
                          .cooperation-page__buttons-item
                            +radio-button(name = item.name text = 'Да')
                          .cooperation-page__buttons-item
                            +radio-button(name = item.name text = 'Нет')
                .cooperation-page__mobile
                  .form__wrapper
                    .form__row 
                      .form__col
                        +checkbox 
                      .form__col
                        .button-wrapper
                          +form-button
                            |Отправить
    section.section 
      +about-bot
