extends ../layouts/master

include ../components/breadcrumbs
include ../components/docs-cards
include ../components/nav
include ../components/select

block content
  .docs-page.cooperation-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Рекламная поддержка")
        .section__inner 
          h1 
            |#[span.word-span #[span(data-aos='fade-up') Рекламная поддержка]]
    section.section 
      .container 
        +nav(items = ['Условия сотрудничества', 'Рекламная поддержка', ] active = 1)
        .cooperation-page__selects 
          .section__selects
            .section__select(data-aos='fade-up') 
              +select(options = ['qwe', 'zxc', 'asd'] placeholder = 'Категория материалов')
        .section__block 
          .docs-page__block
            .docs-page__block-item
              .docs-page__top(data-aos='fade-up')
                h4
                  |Каталоги
                .docs-page__top-button(data-aos='fade-up') 
                  +download-btn
                    |Скачать все документы
              .docs-page__grid 
                -
                  var items = [
                    {img: 'docs-pert.webp', title: 'Рекламная листовка 2018'},
                    {img: 'docs-blockfire.webp', title: 'Рекламная листовка 2019'},
                    {img: 'docs-pert.webp', title: 'Рекламная листовка 2021'},
                    {img: 'docs-blockfire.webp', title: 'Рекламная листовка 2022'},
                  ]
                each item in items
                  .aos(data-aos='fade-up')
                    +docs-img(img = item.img title = item.title)
            .docs-page__block-item
              .docs-page__top(data-aos='fade-up') 
                h4
                  |Демо-боксы
              .docs-page__grid 
                -
                  var items = [
                    {img: 'docs-card.webp', title: 'Демо-бокс 2020'},
                    {img: 'docs-card-2.webp', title: 'Рекламная листовка 2018'},
                    {img: 'docs-card.webp', title: 'Рекламная листовка 2018'},
                  ]
                each item in items
                  .aos(data-aos='fade-up')
                    +docs-img(img = item.img title = item.title)
            .docs-page__block-item
              .docs-page__top(data-aos='fade-up') 
                h4
                  |Логотипы
              .docs-page__grid 
                .aos(data-aos='fade-up')
                  +docs-img(img = 'svg/docs-card-2.svg' title = 'Логотип')
                .aos(data-aos='fade-up')
                  +docs-img(img = 'svg/docs-card-3.svg' title = 'Логотип в инверсии')
            .docs-page__button(data-aos='fade-up') 
              .button-wrapper
                +download-btn.button--wide--mobile
                  |Скачать все документы