extends ../layouts/master

include ../components/breadcrumbs
include ../components/docs-cards
include ../components/nav
include ../components/select

block content
  .docs-page.cooperation-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Рекламная поддержка")
        .section__inner 
          h1 
            |Рекламная поддержка
    section.section 
      .container 
        +nav(items = ['Условия сотрудничества', 'Рекламная поддержка', ] active = 1)
        .cooperation-page__selects 
          .section__selects
            .section__select 
              +select(options = ['qwe', 'zxc', 'asd'] placeholder = 'Категория материалов')
        .section__block 
          .docs-page__block
            .docs-page__block-item
              .docs-page__top 
                h4 
                  |Каталоги
                .docs-page__top-button 
                  +download-btn
                    |Скачать все документы
              .docs-page__grid 
                - for (i = 0; i < 2; i++)
                  +docs-img(img = 'docs-pert.webp')
                  +docs-img(img = 'docs-blockfire.webp')
            .docs-page__block-item
              .docs-page__top 
                h4 
                  |Демо-боксы
              .docs-page__grid 
                - for (i = 0; i < 3; i++)
                  +docs-img(img = 'docs-card.webp')
            .docs-page__block-item
              .docs-page__top 
                h4 
                  |Демо-боксы
              .docs-page__grid 
                - for (i = 0; i < 2; i++)
                  +docs-img(img = 'docs-card.webp')
            .docs-page__button 
              +download-btn.button--wide--mobile
                |Скачать все документы