extends ../layouts/master

include ../components/breadcrumbs
//- include ../components/docs-cards
include ../components/download-card
include ../components/nav

block content
  .docs-page
    section.section.section--first
      .container 
        +breadcrumbs(items = ['Техническая информация'] page = "Программы для проектировщиков")
        .section__inner 
          h1 
            |Техническая информация
    section.section 
      .container 
        +nav(items = ['Разрешительная документация', 'Программы для проектировщиков', 'Информационные материалы'] active = 1)
        .section__block 
          .docs-page__item
            .docs-page__block 
              .docs-page__item-row 
                .docs-page__item-col
                  .docs-page__item-container 
                    .docs-page__item-img 
                      img.docs-page__item-image(src="assets/images/hydra.webp", alt="")
                    .docs-page__item-mobile 
                      h2.docs-page__item-title 
                        |ГидРаВПТ
                      .docs-page__item-caption 
                        |Специальная версия BLOCK FIRE
                .docs-page__item-col
                  .docs-page__item-desktop
                    h2.docs-page__item-title 
                      |ГидРаВПТ
                    .docs-page__item-caption 
                      |Специальная версия BLOCK FIRE
                  .docs-page__item-buttons 
                    .docs-page__item-button 
                      .docs-page__item-btn
                        |Бесплатно
                    .docs-page__item-button 
                      +link-right(target = "_blank")
                        |Перейти на сайт
                .docs-page__item-col
                  p.docs-page__item-text 
                    |Сертифицированная программа для проведения гидравлического расчета установок водяного пожаротушения. Расчет проводится в полном соответствии с методикой, изложенной в приложении «В» СП 5.13130.2009 "Системы противопожарной защиты. Установки пожарной сигнализации и пожаротушения автоматические. Нормы и правила проектирования"
          .docs-page__item
            .docs-page__block 
              .docs-page__item-row 
                .docs-page__item-col
                  .docs-page__item-container 
                    .docs-page__item-img 
                      img.docs-page__item-image(src="assets/images/potok.webp", alt="")
                    .docs-page__item-mobile 
                      h2.docs-page__item-title 
                        |Поток
                .docs-page__item-col
                  .docs-page__item-desktop
                    h2.docs-page__item-title 
                      |Поток
                  .docs-page__item-buttons 
                    .docs-page__item-button 
                      .docs-page__item-btn
                        |Бесплатно
                    .docs-page__item-button 
                      +link-right(target = "_blank")
                        |Перейти на сайт
                .docs-page__item-col
                  p.docs-page__item-text 
                    |Программа «ПОТОК» предназначена для выполнения теплогидравлического расчета 1-2 трубных, коллекторных (плинтусных, лучевых) систем теплохолодоснабжения или центрального водяного отопления теплоносителем - вода или раствор, с постоянным или скользящим перепадом температур (в случаи присоединения потребителей по однотрубной системе) в зданиях любого назначения с централизованным или раздельным теплоучётом.
    section.section
      .container 
        h2 
          |Скачать дистрибутивы
        .section__block 
          +nav(items = ['Revit', 'AutoCAD'] active = 0)
          .docs-page__download 
            .docs-page__download-grid 
              +download-card.download-card--big(title = 'Библиотека SLT AQUA')
              +download-card.download-card--big(title = 'Библиотека SLT BLOCKFIRE с длинным названием проблем не будет')