extends ../layouts/master

include ../components/breadcrumbs
//- include ../components/docs-cards
include ../components/download-card
include ../components/nav

block content
  -
    var ddata = [
      {title: "Сертификаты соотвествия ГОСТ", count: 2},
      {title: "Свидетельство о проведении испытаний", count: 1},
      {title: "Паспорта качества", count: 4},
      {title: "Монтажные инструкции", count: 3},
      {title: "Нормативные документы", count: 2},
    ]
  .docs-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Разрешительная документация")
        .section__inner 
          h1 
            |#[span.word-span #[span(data-aos='fade-up') Разрешительная документация]]
    section.section 
      .container 
        +nav(items = ['Разрешительная документация', 'Программы для проектировщиков', 'Информационные материалы'] active = 0)
        .section__block 
          .docs-page__item.aqua 
            .docs-page__block
              .docs-page__top 
                .docs-page__top-row 
                  .docs-page__col(data-aos='fade-up')
                    .docs-page__icon
                      +card-logo.docs-page__svg
                  h2.docs-page__top-title
                    |#[span.word-span #[span(data-aos='fade-up') SLT AQUA]]
                .docs-page__top-button(data-aos='fade-up') 
                  +download-btn
                    |Скачать все документы
              .docs-page__block-item
                ul.docs-page__list
                  each item in ddata
                    li.docs-page__list-item(data-aos='fade-up')
                      .docs-page__row 
                        .docs-page__col
                          .docs-page__heading 
                            |#{item.title}
                        .docs-page__col
                          .docs-page__grid 
                            - for (i = 0; i < item.count; i++)
                              +download-card.download-card--big(title = 'Трубы')
              .docs-page__button(data-aos='fade-up') 
                .button-wrapper
                  +download-btn.button--wide--mobile
                    |Скачать все документы
          .docs-page__item.blockfire 
            .docs-page__block
              .docs-page__top 
                .docs-page__top-row 
                  .docs-page__col(data-aos='fade-up')
                    .docs-page__icon
                      +blockfire-svg.docs-page__svg
                  h2.docs-page__top-title
                    |#[span.word-span #[span(data-aos='fade-up') SLT BLOCKFIRE]]
                .docs-page__top-button(data-aos='fade-up') 
                  +download-btn
                    |Скачать все документы
              .docs-page__block-item
                ul.docs-page__list
                  each item in ddata
                    li.docs-page__list-item(data-aos='fade-up')
                      .docs-page__row 
                        .docs-page__col
                          .docs-page__heading 
                            |#{item.title}
                        .docs-page__col
                          .docs-page__grid 
                            - for (i = 0; i < item.count; i++)
                              +download-card.download-card--big(title = 'Трубы')
              .docs-page__button(data-aos='fade-up') 
                .button-wrapper
                  +download-btn.button--wide--mobile
                    |Скачать все документы
          .docs-page__item.pert 
            .docs-page__block
              .docs-page__top 
                .docs-page__top-row 
                  .docs-page__col(data-aos='fade-up')
                    .docs-page__icon
                      +pe-rt-svg.docs-page__svg
                  h2.docs-page__top-title
                    |#[span.word-span #[span(data-aos='fade-up') SLT PE-RT]]
                .docs-page__top-button(data-aos='fade-up') 
                  +download-btn
                    |Скачать все документы
              .docs-page__block-item
                ul.docs-page__list
                  each item in ddata
                    li.docs-page__list-item(data-aos='fade-up')
                      .docs-page__row 
                        .docs-page__col
                          .docs-page__heading 
                            |#{item.title}
                        .docs-page__col
                          .docs-page__grid 
                            - for (i = 0; i < item.count; i++)
                              +download-card.download-card--big(title = 'Трубы')
              .docs-page__button(data-aos='fade-up') 
                .button-wrapper
                  +download-btn.button--wide--mobile
                    |Скачать все документы