extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs
include ../components/button-icon
include ../components/nav


block content
  .events-page 
    section.section.section--first
      .container 
        +breadcrumbs( page = "События")
        .events-page__inner 
          h1 
            |#[span.word-span #[span(data-aos='fade-up') События]]
    section.section
      .container 
        +nav(items = ['Все', 'Новости', 'Публикации'] active = 0)
    section.section.section--md 
      .container 
        ul.events-page__events 
          - for (i = 0; i < 5; i++)
            li.events-page__events-item 
              a.events-page__event(href="#" data-link='') 
                .events-page__event-container(data-aos='fade-up') 
                  .events-page__event-row 
                    .events-page__event-col
                      .events-page__event-content 
                        .events-page__event-top 
                          .events-page__event-label 
                            |29 февраля 2022
                          .events-page__event-category 
                            |Публикации
                        h4
                          |Инновации в пожаротушении
                      .events-page__event-button 
                        +button-icon.button-icon--blue
                    .events-page__event-col
                      .events-page__event-image 
                        img(src="assets/images/event-1.webp", alt="")
    section.section
      .container
        +follow
  +response-modal(id = 'follow' text = 'Подписка оформлена')