extends ../layouts/master

include ../components/breadcrumbs
include ../components/loader
include ../components/tech-docs
include ../components/product-cards
include ../components/slider-buttons


block loader
  +loader

block variables
  -
    var mainClass = 'main--main-page'

block content
  -
    var ddata = {
      slider: [
        {
          img: "assets/images/main-slide-1.webp",
          title: "Жилые комплексы "
        },
        {
          img: "assets/images/main-slide-3.webp",
          title: "Общественные здания"
        },
        {
          img: "assets/images/main-slide-2.webp",
          title: "Гостиничные и торгово-развлекательные комплексы"
        },
      ]
    }
  .main-page 
    section.main-page__hero
      .container 
        .main-page__hero-row
          .main-page__hero-col
            h1
              |#[span.word-span #[span(data-aos='fade-up') Производство]] #[span.word-span #[span(data-aos='fade-up') полимерных]] #[span.word-span #[span(data-aos='fade-up') трубопроводных]] #[span.word-span #[span(data-aos='fade-up') систем]] 
          .main-page__hero-col(data-aos='fade-up')
            +link-right
              |О компании
    section.section.section--md 
      .main-page__video(data-aos='fade-up' data-decrease-container='')
        .main-page__video-left
        .main-page__video-right
        .main-page__video-icon(data-decrease-main='')
          +about-logo-svg.main-page__video-svg
        .main-page__video-container
          video.main-page__video-player(src="assets/videos/slt_main.mp4" loop muted data-aos='fade-down')
    section.main-page__section 
      .main-page__section-grid 
        +product-cards
    section.main-page__section 
      .main-page__cooperation(data-aos='fade-up')
        .main-page__cooperation-bg
          .main-map 
            +main-map-svg
            +main-map-mobile
          .only-mobile 
            .main-page__icon.small
              svg.main-page__svg.main-page__svg--small(width='82' height='82' viewbox='0 0 82 82' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(opacity='0.6' cx='41' cy='41' r='41' fill='url(#paint0_radial_1401_365691)')
                circle(cx='41.0006' cy='41.0011' r='22.0006' fill='#04b2d1')
                circle(cx='41.0473' cy='41.0483' r='11.8881' fill='white')
                path(d='M39.972 39.1241L39.1998 37.8962L34.959 44.5398H36.53L39.972 39.1241ZM41.0781 43.2314L41.8004 42.0368L41.0113 40.7805L38.7409 44.541H46.9798L41.1145 34.9243L40.3156 36.1652L44.6281 43.2314H41.0781Z' fill='#04b2d1')
                defs
                  radialgradient#paint0_radial_1401_365691(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='translate(41 41) rotate(90) scale(41)')
                    stop(stop-color='#204854' stop-opacity='0')
                    stop(offset='1' stop-color='#005670')
            .main-page__icon
              svg.main-page__svg(width='124' height='124' viewbox='0 0 124 124' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(opacity='0.6' cx='62' cy='62' r='62' fill='url(#paint0_radial_1401_365702)')
                circle(cx='62.0003' cy='61.9996' r='29.9994' fill='#04b2d1')
                circle(cx='61.9999' cy='61.9999' r='9.10151' fill='white')
                circle(cx='62.0594' cy='62.0594' r='15.0594' fill='white')
                path(d='M60.698 59.6221L59.7198 58.0667L54.3477 66.4825H56.3378L60.698 59.6221ZM62.0991 64.8252L63.0142 63.3118L62.0145 61.7204L59.1385 66.484H69.5752L62.1452 54.302L61.1332 55.8739L66.5961 64.8252H62.0991Z' fill='#04b2d1')
                defs
                  radialgradient#paint0_radial_1401_365702(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='translate(62 62) rotate(90) scale(62)')
                    stop(offset='0.265625' stop-color='#204854' stop-opacity='0')
                    stop(offset='1' stop-color='#005670')
        .main-page__cooperation-container 
          .main-page__cooperation-row 
            .main-page__cooperation-col
              .main-page__cooperation-wrapper
                h3.main-page__cooperation-title
                  |#[span.word-span #[span(data-aos='fade-up') Развитая]] #[span.word-span #[span(data-aos='fade-up') логистическая]] #[span.word-span #[span(data-aos='fade-up') инфраструктура]] #[span.word-span #[span(data-aos='fade-up') позволяет]] #[span.word-span #[span(data-aos='fade-up') доставлять]] #[span.word-span #[span(data-aos='fade-up') продукцию]] #[br] #[span.word-span #[span(data-aos='fade-up') в самые]] #[span.word-span #[span(data-aos='fade-up') отдаленные]] #[span.word-span #[span(data-aos='fade-up') регионы]] #[span.main-page__cooperation-span #[span.word-span #[span(data-aos='fade-up') России и страны СНГ]]]
              .main-page__cooperation-top
                .main-page__cooperation-item.small
                  .main-page__icon.small.only-desktop
                    +main-icon-small.main-page__svg.main-page__svg--small
                  .main-page__cooperation-text
                    |Центральный офис
                  .main-page__cooperation-city 
                    |Москва
                .main-page__cooperation-item
                  .main-page__icon.only-desktop
                    +main-icon.main-page__svg
                  .main-page__cooperation-text.main-page__cooperation-text--small 
                    |Завод и&nbsp;центральный&nbsp;склад
                  .main-page__cooperation-city 
                    |Тольятти
            .main-page__cooperation-col
              .main-page__cooperation-text
                |Мы активно сотрудничаем с торговыми компаниями, проектными, монтажными и строительными организациями
              .main-page__cooperation-button
                +link-right.button--color-white 
                  |Сотрудничество
    section.section.section--overflow(data-aos='fade-up')
      .container 
        .main-page__top
          .main-page__top-row 
            .main-page__top-col
              h3.main-page__title
                |#[span.word-span #[span(data-aos='fade-up') Продукция]] #[span.word-span #[span(data-aos='fade-up') СЛТ Аква]] #[span.word-span #[span(data-aos='fade-up') на объектах]]
            .main-page__top-col
              p.main-page__top-text(data-aos='fade-up')
                |Наши трубопроводные системы установлены на многих объектах строительства жилого, общественного и промышленного назначения
          .main-page__top-button(data-aos='fade-up') 
            +link-right 
              |Все объекты
        .main-page__slider
          .main-page__slider-controls
            .slider-buttons
              .slider-buttons__btn
                button.slider-buttons__item 
                  +button-icon-left.button-icon--blue(data-slider-button = '11')
              .slider-buttons__btn
                button.slider-buttons__item 
                  +button-icon.button-icon--blue(data-slider-button = '12')
          .swiper-container.swiper-container--visible.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='main' data-slider-prev='11' data-slider-next='12')
            .swiper-wrapper 
              each item in ddata.slider
                .swiper-slide 
                  a.main-page__slider-slide(href="#" data-link='')
                    .main-page__slider-image 
                      img.main-page__slider-img(src=item.img, alt="")
                    h5.main-page__slider-title 
                      |#{item.title}
    section.section
      .container 
        h3.main-page__title(data-parallax-container='2') 
          |#[span.word-span #[span(data-aos='fade-up') Помощь]] #[span.word-span #[span(data-aos='fade-up') в инженерных]] #[span.word-span #[span(data-aos='fade-up') расчетах]]
        .section__block
          .main-page__calculator 
            each item, i in ['Расчет компенсаторов #[br] для систем SLT AQUA', 'Расчет компенсаторов #[br] для систем SLT BLOCKFIRE', 'Расчета удельных гидравлических потерь трубопроводов  SLT AQUA']
              a.main-page__calculator-link(href="#" class=(i === 1 ? 'red' : 'blue'))
                .main-page__calculator-col(data-aos='fade-up')
                  .main-page__calculator-icon
                    +btn-arrow-right.main-page__calculator-svg
                  .main-page__calculator-title 
                    |#{item}
            .main-page__calculator-img(data-parallax='2' data-parallax-type='up')
              img.main-page__calculator-bg(src="assets/images/calculator-bg.webp", alt="")