extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs

block content
  .main-page 
    section.main-page__hero
      .container 
        .main-page__hero-row 
          .main-page__hero-col
            h1 
              |Производство полимерных трубопроводных систем 
          .main-page__hero-col
            