extends ../layouts/master

include ../components/breadcrumbs
include ../components/loader
include ../components/tech-docs
include ../components/product-cards
include ../components/slider-buttons


//- block loader 
  +loader


block content
  -
    var ddata = {
      slider: [
        {
          img: "assets/images/main-slide-1.webp",
          title: "Жилые комплексы "
        },
        {
          img: "assets/images/main-slide-3.webp",
          title: "Общественные здания"
        },
        {
          img: "assets/images/main-slide-2.webp",
          title: "Гостиничные и торгово-развлекательные комплексы"
        },
      ]
    }
  .main-page 
    section.main-page__hero
      .container 
        .main-page__hero-row
          .main-page__hero-col
            h1
              |#[span.word-span #[span(data-aos='fade-up') Производство]] #[span.word-span #[span(data-aos='fade-up') полимерных]] #[span.word-span #[span(data-aos='fade-up') трубопроводных]] #[span.word-span #[span(data-aos='fade-up') систем]] 
          .main-page__hero-col(data-aos='fade-up')
            +link-right
              |О компании
    section.section.section--md 
      .main-page__video(data-aos='fade-up' data-decrease-container='')
        .main-page__video-left
        .main-page__video-right
        .main-page__video-icon(data-decrease='')
          +about-logo-svg.main-page__video-svg
        video.main-page__video-player(src="assets/videos/slt_main.mp4" loop muted data-aos='fade-down')
    section.main-page__section 
      .main-page__section-grid 
        +product-cards
    section.main-page__section 
      .main-page__cooperation
        .main-page__cooperation-bg(data-aos='fade-up')
          .main-page__elem.main-page__first
            .main-page__ball 
            .main-page__line.main-page__line--first 
              +line-1-svg.main-page__line-svg
          .main-page__elem.main-page__second
            .main-page__ball 
            .main-page__line.main-page__line--second
              +line-2-svg.main-page__line-svg
          .main-page__elem.main-page__third
            .main-page__ball 
            .main-page__line.main-page__line--third
              +line-3-svg.main-page__line-svg
          .main-page__elem.main-page__fourth
            .main-page__ball 
            .main-page__line.main-page__line--fourth
              +line-4-svg.main-page__line-svg
          .main-page__elem.main-page__fifth
            .main-page__ball 
            .main-page__line.main-page__line--fifth
              +line-5-svg.main-page__line-svg
          .main-page__elem.main-page__sixth
            .main-page__ball 
            .main-page__line.main-page__line--sixth
              +line-6-svg.main-page__line-svg
          .only-mobile 
            .main-page__icon.small
              +main-icon-small.main-page__svg.main-page__svg--small
            .main-page__icon
              +main-icon.main-page__svg
        .main-page__cooperation-container 
          .main-page__cooperation-row 
            .main-page__cooperation-col
              .main-page__cooperation-wrapper
                h3.main-page__cooperation-title
                  |#[span.word-span #[span(data-aos='fade-up') Развитая]] #[span.word-span #[span(data-aos='fade-up') логистическая]] #[span.word-span #[span(data-aos='fade-up') инфраструктура]] #[span.word-span #[span(data-aos='fade-up') позволяет]] #[span.word-span #[span(data-aos='fade-up') доставлять]] #[span.word-span #[span(data-aos='fade-up') продукцию]] #[br] #[span.word-span #[span(data-aos='fade-up') в самые]] #[span.word-span #[span(data-aos='fade-up') отдаленные]] #[span.word-span #[span(data-aos='fade-up') регионы]] #[span.main-page__cooperation-span #[span.word-span #[span(data-aos='fade-up') России и страны СНГ]]]
              .main-page__cooperation-top
                .main-page__cooperation-item.small(data-aos='fade-up')
                  .main-page__icon.small.only-desktop
                    +main-icon-small.main-page__svg.main-page__svg--small
                  .main-page__cooperation-text
                    |Центральный офис
                  .main-page__cooperation-city 
                    |Москва
                .main-page__cooperation-item(data-aos='fade-up')
                  .main-page__icon.only-desktop
                    +main-icon.main-page__svg
                  .main-page__cooperation-text.main-page__cooperation-text--small 
                    |Завод и&nbsp;центральный&nbsp;склад
                  .main-page__cooperation-city 
                    |Тольятти
            .main-page__cooperation-col
              .main-page__cooperation-text(data-aos='fade-up')
                |Мы активно сотрудничаем с торговыми компаниями, проектными, монтажными и строительными организациями
              .main-page__cooperation-button(data-aos='fade-up')
                +link-right.button--color-white 
                  |Сотрудничество
    section.section.section--overflow(data-parallax-container='1')
      .container 
        .main-page__top
          .main-page__top-row 
            .main-page__top-col
              h3.main-page__title
                |#[span.word-span #[span(data-aos='fade-up') Продукция]] #[span.word-span #[span(data-aos='fade-up') СЛТ Аква]] #[span.word-span #[span(data-aos='fade-up') на объектах]]
            .main-page__top-col
              p.main-page__top-text(data-aos='fade-up')
                |Наши трубопроводные системы установлены на многих объектах строительства жилого, общественного и промышленного назначения
          .main-page__top-button(data-aos='fade-up') 
            +link-right 
              |Все объекты
        .main-page__slider(data-aos='fade-up')
          .main-page__slider-controls
            +slider-buttons(prev = '11' next = '12')
          .swiper-container.swiper-container--visible.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='main' data-slider-prev='11' data-slider-next='12')
            .swiper-wrapper 
              - for (i = 0; i < 3; i++)
                each item in ddata.slider
                  .swiper-slide 
                    a.main-page__slider-slide(href="#" data-link='')
                      .main-page__slider-container
                        .main-page__slider-image 
                          img.main-page__slider-img(src=item.img, alt="")
                      h5.main-page__slider-title 
                        |#{item.title}
    section.section
      .container 
        h3.main-page__title
          |#[span.word-span #[span(data-aos='fade-up') Помощь]] #[span.word-span #[span(data-aos='fade-up') в инженерных]] #[span.word-span #[span(data-aos='fade-up') расчетах]]
        .section__block(data-parallax-container='2') 
          .main-page__calculator 
            each item, i in ['Расчет компенсаторов #[br] для систем SLT AQUA', 'Расчет компенсаторов #[br] для систем SLT BLOCKFIRE', 'Расчета удельных гидравлических потерь трубопроводов  SLT AQUA']
              a.main-page__calculator-link(href="#" class=(i === 1 ? 'red' : 'blue'))
                .main-page__calculator-col(data-aos='fade-up')
                  .main-page__calculator-icon
                    +btn-arrow-right.main-page__calculator-svg
                  .main-page__calculator-title 
                    |#{item}
            .main-page__calculator-img(data-parallax='2' data-parallax-type='up')
              img.main-page__calculator-bg(src="assets/images/calculator-bg.webp", alt="")