extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs
include ../components/button-icon
include ../components/nav


block content
  .objects-page 
    section.section.section--first
      .container 
        +breadcrumbs(page = "Объекты")
        .section__inner 
          h1 
            |События
    section.section
      .container 
        .objects-page__top 
          |TOP
        .objects-page__grid 
          - for (i = 0; i < 12; i++)
            a.objects-page__card(href="#")
              .objects-page__card-container 
                img.objects-page__card-img(src="assets/images/objects-1.webp", alt="")
                .objects-page__card-category 
                  |Жилой комплекс
              .objects-page__card-title 
                |ЖК Апарт-отель YE’S
              .objects-page__card-text 
                |Санкт-Петербург