extends ../layouts/master

include ../components/breadcrumbs
include ../components/form-components


block content
  -
    var ddata = [
      {
        title: 'Местоположение',
        items: ['Санкт-Петербург', 'Москва', 'Нижний Новгород', 'Химки', 'Краснодар'],
      },
      {
        title: 'Категория продукции',
        items: ['Санкт-Петербург', 'Москва', 'Нижний Новгород', 'Химки', 'Краснодар'],
      },
      {
        title: 'Тип объекта',
        items: ['Санкт-Петербург', 'Москва', 'Нижний Новгород', 'Химки', 'Краснодар'],
      },
    ]
  .objects-page 
    section.section.section--first
      .container 
        +breadcrumbs(page = "Объекты")
        .section__inner 
          h1 
            |Объекты
    section.section
      .container
        .objects-page__top
          .objects-page__top-button(data-menu-button='')
            .objects-page__top-text 
              |Фильтр
            .objects-page__top-icon 
              +plus-svg.objects-page__top-svg
          .objects-page__top-grid
            each item in ddata
              .objects-page__top-item
                .select-custom(data-accordion='')
                  .select-custom__button(data-accordion-button='')
                    .select-custom__text 
                      |#{item.title}
                    .select-custom__icon 
                      +arrow-svg.select-custom__svg
                  .select-custom__dropdown(data-accordion-dropdown='')
                    ul.select-custom__list 
                      each box in item.items
                        li.select-custom__item(data-objects-item='')
                          .checkbox 
                            label.checkbox__label
                              input.checkbox__input(type="checkbox" data-item-checkbox='')
                              .checkbox__box 
                                +check-svg.checkbox__svg
                              .checkbox__caption(data-item-text='')
                                |#{box}
        .category-list(data-list-container='')
          .category-list__row 
            .category-list__col
              .category-list__button
                +refresh-button.button--wide--mobile(data-clear-categories='')
                  |Сбросить
            .category-list__col
              template(data-catalog-template='')
                li.category-list__item(data-category='')
                  .category-list__text 
                  .category-list__icon(data-delete-category='')
                    +close-svg.category-list__svg
              ul.category-list__list(data-catalog-list='')
        .section__block
          .objects-page__grid 
            - for (i = 0; i < 12; i++)
              a.objects-page__card(href="#")
                .objects-page__card-container
                  .objects-page__card-img-container
                    img.objects-page__card-img(src="assets/images/objects-1.webp", alt="")
                  .objects-page__card-category 
                    |Жилой комплекс
                .objects-page__card-title 
                  |ЖК Апарт-отель YE’S
                .objects-page__card-text 
                  |Санкт-Петербург
  +objects-menu