extends ../layouts/master

include ../components/breadcrumbs
include ../components/slider-buttons
include ../components/button-icon
include ../components/nav
include ../components/small-cards
include ../components/accordion


block content
  .objects-page 
    section.section.section--first
      .container 
        +breadcrumbs(items = ['Объекты'] page = "Электродепо «Лихоборы»")
        .objects-page__section 
          .objects-page__row 
            .objects-page__col
              .objects-page__slider
                .objects-page__slider-bot 
                  .objects-page__slider-pagination 
                    .swiper-pagination
                  .objects-page__slider-btns 
                    +slider-buttons.slider-buttons--default(prev = '6' next = '7')
                .swiper-container.swiper-container--slide-height-max(data-slider-id='5' data-slider-prev='6' data-slider-next='7')
                  .swiper-wrapper
                    - for (i = 0; i < 3; i++)
                      .swiper-slide 
                        img.objects-page__slider-img(src="assets/images/object-slide-1.webp", alt="") 
            .objects-page__col
              h2.objects-page__title 
                |Электродепо «Лихоборы»
              .objects-page__section-row 
                .objects-page__section-col
                  .objects-page__section-label
                    |Местоположение
                  .objects-page__section-text 
                    |Санкт-Петербург
                .objects-page__section-col
                  .objects-page__section-label
                    |Тип объекта
                  .objects-page__section-text 
                    |Промышленный объект
              .section__block 
                .objects-page__block
                  .objects-page__section-row 
                    .objects-page__section-col
                      .objects-page__label
                        |Задача
                    .objects-page__section-col
                      ul.objects-page__section-list 
                        each item in ['Обновить водноснабжение', 'Обновить систему пожаротушения']
                          li.objects-page__section-item 
                            .objects-page__section-text 
                              |#{item}
                .objects-page__block
                  .objects-page__section-row 
                    .objects-page__section-col
                      .objects-page__label
                        |Предложенное решение
                    .objects-page__section-col
                      ul.objects-page__section-list 
                        each item in ['Полностью перепроектировать системы водоснабжения', 'С учетом проектных изменений и новых требований, обновить коммуникации для пожаротушения с использванием продукции СЛТ Аква']
                          li.objects-page__section-item 
                            .objects-page__section-text 
                              |#{item}
    section.section 
      .container 
        .objects-page__row  
          .objects-page__col
            h4
              |Категории продукции
            .objects-page__inner
              .objects-page__cards
                +small-cards
          .objects-page__col.objects-page__col--offset
            h4
              |Об объекте
            .objects-page__inner
              p.objects-page__text 
                |Электродепо в Московском метрополитене работают как гаражи, где поезда отстаиваются ночью и куда прибывают на ремонт в случае поломки. В «Лихоборах», которые строятся для обслуживания растущей Люблинско-Дмитровской линии, смогут оставаться на стоянку 38 составов.
              p.objects-page__text 
                |Электродепо «Лихоборы» строится для обслуживания поездов Люблинско-Дмитровской линии Московского метрополитена. Строительство депо началось в 2012 году и должно завершиться в 2018 году. Обратите внимание — цвет строящихся сейчас в Москве электродепо совпадает с цветом той линии, которую они будут обслуживать. Депо «Солнцево» жёлтое, депо «Руднёво» розовое, а депо «Лихоборы» салатовое! И ещё — в правой части верхнего кадра видна новая эстакада для 3-го главного пути, построенная во время реконструкции МК МЖД (МЦК).
    section.section 
      .container 
        h4 
          |Поставщик
        .objects-page__inner 
          .objects-page__block 
            .objects-page__headings
              .objects-page__headings-col
                .objects-page__label 
                  |Выполнены работы
              .objects-page__headings-col
                .objects-page__section-item 
                  .objects-page__section-text 
                    |Проектирование
              .objects-page__headings-col
                .objects-page__section-item 
                  .objects-page__section-text 
                    |Поставка продукции
              .objects-page__headings-col
                .objects-page__section-item 
                  .objects-page__section-text 
                    |Монтаж
            +accordion-big
          .objects-page__block 
            .objects-page__headings
              .objects-page__headings-col
                .objects-page__label 
                  |Выполнены работы
              .objects-page__headings-col
                .objects-page__section-item 
                  .objects-page__section-text 
                    |Проектирование
              .objects-page__headings-col
                .objects-page__section-item 
                  .objects-page__section-text 
                    |Поставка продукции
            +accordion-big