extends ../layouts/master

include ../components/breadcrumbs
include ../components/form-components

block content
  -
    var ddata = [
      [
        {label: 'Артикул', text: '2SLTPS1120'},
        {label: 'Цвет', color: true},
      ],
      [
        {label: 'Диаметр, мм', text: '20'},
        {label: 'SDR', text: '7,4'},
      ],
    ]
  .order-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Заказ")
        .section__inner 
          h1 
            |Заказ
    section.section 
      .container 
        .order-page__grid
          - for (i = 0; i < 4; i++) 
            .order-page__card(data-order-card='')
              .order-page__card-row 
                .order-page__card-col
                  .order-page__card-content
                    img.order-page__card-img(src="assets/images/order.webp", alt="")
                    .order-page__mobile 
                      .order-page__card-title 
                        |Труба SLT Aqua PP-R SDR 7,4
                  .order-page__mobile 
                    .order-page__card-close 
                      +close-svg.order-page__card-svg
                .order-page__card-col
                  .order-page__desktop
                    .order-page__card-title 
                      |Труба SLT Aqua PP-R SDR 7,4
                  .order-page__card-grid 
                    each arr in ddata
                      .order-page__card-list 
                        each item in arr
                          .order-page__card-item
                            .order-page__card-label 
                              |#{item.label}
                            if (item.text)
                              .order-page__card-text 
                                |#{item.text}
                            else
                              .order-page__icon 
                                +order-color-svg.order-page__svg
                    .order-page__card-list 
                      .order-page__card-item
                        .order-page__card-label 
                          |Длина отрезка, м
                        .order-page__card-text 
                          |2
                      .order-page__card-item.order-page__mobile
                        .order-page__card-label 
                          |Заказано, м
                        input.order-page__card-input(type = "number" value = "25")
                .order-page__card-col
                  .order-page__card-close 
                    +close-svg.order-page__card-svg
                  .order-page__card-bot 
                    .order-page__card-label 
                      |Заказано, м
                    input.order-page__card-input(type = "number" value = "25")
    .order-page__panel.hidden(data-order-panel='')
      .order-page__panel-col
        h5.order-page__panel-title
          |Товарных позиций в заказе: 
      .order-page__panel-col
        .order-page__panel-buttons 
          .order-page__panel-item 
            +refresh-button 
              |Очистить заказ
          .order-page__panel-item 
            +link-right.button--blue
              |Перейти к оформлению