extends ../layouts/master

include ../components/breadcrumbs

block variables 
  -
    var isDefault = true


block content
  .order-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Заказ")
        .section__inner 
          h1.order-page__heading
            |#[span.word-span #[span(data-aos='fade-up') Заказ оформлен]]
          .order-page__caption(data-aos='fade-up') 
            |Наши менеджеры обработают заказ, рассчитают стоимость, найдут подходящего по всем параметрам поставщика и отправят вам коммерческое предложение.
          .order-page__button(data-aos='fade-up')
            .button-wrapper
              +link-right.button--wide--mobile 
                |Каталог
    section.order-page__section(data-aos='fade-up')
      +order-ready-svg.order-page__section-icon