extends ../layouts/master

include ../components/breadcrumbs

block variables 
  -
    var mainClass = 'main--default'


block content
  .order-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Заказ")
        .section__inner 
          h1.order-page__title
            |#[span.word-span #[span В заказ ничего]] #[br] #[span.word-span #[span не добавлено]]
          .order-page__button
            .button-wrapper
              +link-right.button--wide--mobile 
                |Каталог
    section.order-page__section
      +order-empty-svg.order-page__section-icon