extends ../layouts/master

include ../components/breadcrumbs
include ../components/card
include ../components/form-components
include ../components/button-icon

block content
  .search-page 
    section.section.section--first
      .container 
        +breadcrumbs( page = "Результаты поиска")
        .events-page__inner 
          h1 
            |Результаты поиска

        .search-page__count
          |По запросу «
          span 123
          |» найдено результатов: 
          span 0

        .search-page__input
          +input(type='text' placeholder='Поиск')
          +link-right
            |Поиск

        .search-page-tabs
          .search-page-tabs__item.is-active Продукция
            sup 20
          .search-page-tabs__item События
            sup 2
          .search-page-tabs__item Пустой
    
        .section__block.search-body-container

          .catalog-page__grid.search-body-item.is-active
            - for (i = 0; i < 8; i++)
              +card

          ul.events-page__events.search-body-item
            - for (i = 0; i < 5; i++)
              li.events-page__events-item 
                a.events-page__event(href="#") 
                  .events-page__event-container 
                    .events-page__event-row 
                      .events-page__event-col
                        .events-page__event-content 
                          .events-page__event-top 
                            .events-page__event-label 
                              |29 февраля 2022
                            .events-page__event-category 
                              |Публикации
                          h4
                            |Инновации в пожаротушении
                        .events-page__event-button 
                          +button-icon.button-icon--blue
                      .events-page__event-col
                        .events-page__event-image 
                          img(src="assets/images/event-1.webp", alt="")

          .search-body-item
            .search-empty
              +search-empty-svg
