extends ../layouts/master

include ../components/breadcrumbs
include ../components/card
include ../components/form-components
include ../components/button-icon

block content
  .search-page 
    section.section.section--first
      .container 
        +breadcrumbs( page = "Результаты поиска")
        .events-page__inner 
          h1 
            |#[span.word-span #[span Результаты поиска]]

        .search-page__count
          |По запросу «
          span 123
          |» найдено результатов: 
          span 0

        .search-page__input
          .form__container.search-page__container(data-search-container='')
            +input(type='text' placeholder='Поиск' data-search-input='')
            .search-page__icon.hidden(data-search-button='')
              +close-svg.search-page__svg
          .search-page__btn
            +link-right
              |Поиск
          button.search-page__button
            +btn-arrow-right.arrow-blue

        .search-page-tabs
          .search-page-tabs__item.is-active Продукция
            sup 20
          .search-page-tabs__item События
            sup 2
          .search-page-tabs__item Пустой
    
        .section__block.search-body-container
          .search-body-item.is-active
            .catalog-page__grid
              - for (i = 0; i < 8; i++)
                .aos
                  +card
          .search-body-item
            ul.events-page__events
              - for (i = 0; i < 5; i++)
                li.events-page__events-item 
                  a.events-page__event(href="#" data-link='') 
                    .events-page__event-container 
                      .events-page__event-row 
                        .events-page__event-col
                          .events-page__event-content 
                            .events-page__event-top 
                              .events-page__event-label 
                                |29 февраля 2022
                              .events-page__event-category 
                                |Публикации
                            h4
                              |Инновации в пожаротушении
                          .events-page__event-button 
                            +button-icon.button-icon--blue
                        .events-page__event-col
                          .events-page__event-image 
                            img(src="assets/images/event-1.webp", alt="")

          .search-body-item
            .search-empty
              +search-empty-svg
