extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs
include ../components/product-cards
include ../components/slider-buttons


block header

block footer

block content
  
  .test-container
    .test-parent
      +loader-svg.test  
      .test-first.test-layer.hidden
        +first-layer.test-first-layer
      .test-second.test-layer.hidden
        +second-layer.test-second-layer
      .test-third.test-layer.hidden
        +third-layer.test-third-layer