extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs
include ../components/product-cards
include ../components/form-components
include ../components/calc-table


block header

block footer

block content
  //- +calc-table
  .test-pdf 
    .test-qwe
      |qwe
  .button 
    |download
