extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs
include ../components/product-cards
include ../components/form-components


block header

block footer

block content
  +test-svg