extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs
include ../components/product-cards
include ../components/form-components


block header

block footer

block content
  .test-frame
    .about-page__slider-slide 
      .about-page__slider-container
        img.about-page__slider-img(src=`assets/images/about-slide-1.webp`, alt="")
    
