extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs
include ../components/product-cards
include ../components/slider-buttons


block header

block footer

block content