extends ../layouts/master

include ../components/breadcrumbs
include ../components/accordion
include ../components/nav
include ../components/select

block variables 
  -
    var isDefault = true

block content
  .where-buy
    section.section.section--first
      .container 
        +breadcrumbs( page = "Где купить")
        .events-page__inner 
          h1 
            |#[span.word-span #[span(data-aos='fade-up') Где купить]]
    section.section
      .container
        .where-buy__top

          +nav(items = ['Списком', 'На карте'] active = 1)

          .section__selects
            .section__select(data-aos='fade-up') 
              +select(options = ['qwe', 'zxc', 'asd'] placeholder='Город')

        -
          const filters = [
            'Интернет-магазин',
            'Доставка',
            'Самовывоз со склада',
            'Услуги монтажа',
            'В продаже SLT AQUA ',
            'В продаже SLT BLOCKFIRE',
            'В продаже SLT PE-RT',
            'Сопутствующие товары',

            'Услуги монтажа',
            'В продаже SLT AQUA ',
            'В продаже SLT BLOCKFIRE',
            'В продаже SLT PE-RT',
            'Сопутствующие товары',
          ]

        .where-buy__filters

          .where-buy__filters-col#filters-container
            each item in filters
              .where-buy__filters-item.filter-btn(data-aos='fade-up')
                .button__text
                  span #{item}

          .where-buy__filters-col
            +refresh-button.where-buy__filters-reset.reset-disabled
              |Очистить

        .where-buy__map-container(data-aos='fade-up')
          #map
          ul.placemarks
            li.placemarks__item(data-modal-id='qq')
              .placemarks__address
                |ул. Красная Пресня, 1с6, Москва, 123242
            li.placemarks__item(data-modal-id='qq')
              .placemarks__address
                |пр-т Мира, 119, Москва, 129223
            li.placemarks__item(data-modal-id='qq')
              .placemarks__address
                |PM7H+33 Южнопортовый р-н, Москва
  +map-modal(id = 'qq')

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?apikey=9eaf2d45-34a5-4620-bac6-0482e9335845&lang=ru_RU" type="text/javascript")