extends ../layouts/master

include ../components/breadcrumbs
include ../components/accordion
include ../components/nav
include ../components/select

block variables 
  -
    var isDefault = true

block content
  .where-buy
    section.section.section--first
      .container 
        +breadcrumbs( page = "Где купить")
        .events-page__inner 
          h1 
            |Где купить
    section.section
      .container
        .where-buy__top

          +nav(items = ['Списком', 'На карте'] active = 1)

          .section__selects
            .section__select 
              +select(options = ['qwe', 'zxc', 'asd'] placeholder='Город')

        -
          const filters = [
            'Интернет-магазин',
            'Доставка',
            'Самовывоз со склада',
            'Услуги монтажа',
            'В продаже SLT AQUA ',
            'В продаже SLT BLOCKFIRE',
            'В продаже SLT PE-RT',
            'Сопутствующие товары',

            'Услуги монтажа',
            'В продаже SLT AQUA ',
            'В продаже SLT BLOCKFIRE',
            'В продаже SLT PE-RT',
            'Сопутствующие товары',
          ]

        .where-buy__filters

          .where-buy__filters-col#filters-container
            each item in filters
              .where-buy__filters-item.filter-btn
                .button__text
                  span #{item}

          .where-buy__filters-col
            +refresh-button.where-buy__filters-reset.reset-disabled
              |Очистить

        .where-buy__map-container
          #map
          ul.placemarks
            li.placemarks__item 
              .placemarks__latitude 
                |55.77275533608109
              .placemarks__longitude
                |37.50032040967168
            li.placemarks__item 
              .placemarks__latitude 
                |55.75214937578482
              .placemarks__longitude
                |37.691191246541344
            li.placemarks__item 
              .placemarks__latitude 
                |55.81749613982103
              .placemarks__longitude
                |37.605968474359685
            li.placemarks__item 
              .placemarks__latitude 
                |55.673496969421386
              .placemarks__longitude
                |37.633290966668994

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?apikey=9eaf2d45-34a5-4620-bac6-0482e9335845&lang=ru_RU" type="text/javascript")