extends ../layouts/master

include ../components/breadcrumbs
include ../components/accordion

block content
  .where-buy
    section.section.section--first
      .container 
        +breadcrumbs( page = "Где купить")
        .events-page__inner 
          h1 
            |Где купить
    section.section
      .container
        .where-buy__top

          .search-page-tabs
            .search-page-tabs__item.is-active Списком
            .search-page-tabs__item На карте

          select(name="city")
            option(value="") Город
            option(value="") Город2
            option(value="") Город3

        -
          const filters = [
            'Интернет-магазин',
            'Доставка',
            'Самовывоз со склада',
            'Услуги монтажа',
            'В продаже SLT AQUA ',
            'В продаже SLT BLOCKFIRE',
            'В продаже SLT PE-RT',
            'Сопутствующие товары',
          ]

        .where-buy__filters
          .where-buy__filters-item.is-active Все

          each item in filters
            .where-buy__filters-item
              |#{item}

        .where-buy-list.search-body-container

          .search-body-item.is-active
            - for (i=0;i<7;i++)
              .where-buy-list__item
                +accordion-big
          
          .search-body-item
            img(src="assets/images/where-buy-map.jpeg", alt="")