.about-page {
  $comp: &;

  &__intro {}
  &__intro-row {
    margin-bottom: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(28px);
    }

    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__intro-col {
    flex-shrink: 0;

    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 16px;
        width: auto;
      }
    }
  }
  &__intro-title {
    font-weight: 500;
    letter-spacing: -3px;
    @include fsl(110px, 90%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(48px, 100%);
      letter-spacing: -1px;
    }
  }
  &__intro-text {
    // max-width: getRem(528px);
    // @media (max-width: ($breakpoint - 1px)) {
    //   max-width: none;
    // }

    font-weight: 500;
    letter-spacing: -1px;
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
  }
  &__intro-image {
    position: relative;
    z-index: 0;
    
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: -20px;
      width: calc(100% + (20px * 2));
    }
    display: flex;
    align-items: center;
  }
  &__intro-img {
    @media (max-width: ($breakpoint-m - 1px)) {
      display: none;
    }
  }
  &__intro-mobile {
    display: none;
    @media (max-width: ($breakpoint-m - 1px)) {
      display: block;
      width: 100%;
    }
  }
  &__intro-svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: ($breakpoint - 1px)) {
      top: 50%;
    }

    width: getRem(586px);
    height: getRem(482px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(97px);
      height: getRem(80px);
    }

    mix-blend-mode: multiply;
  }

  &__title {
    margin-bottom: getRem(48px);
    
  }

  &__label {
    color: var(--color-gray);
  }

  &__section {
    padding-top: getRem(120px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-top: 0;
    }

    border-top: 1px solid var(--color-borders);
    @media (max-width: ($breakpoint - 1px)) {
      border-top: none;
    }
  }
  &__section-grid {
    display: grid;
    grid-template-columns: repeat(2, getRem(566px));
    column-gap: getRem(40px);
    row-gap: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      grid-template-columns: 1fr;
    }
  }
  &__section-item {
    padding-left: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-left: getRem(32px);
    }
    position: relative;
    z-index: 0;

    font-weight: 500;
    letter-spacing: -1px;
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
      letter-spacing: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      @media (max-width: ($breakpoint - 1px)) {
        top: 2px;
      }

      width: getRem(16px);
      height: getRem(16px);

      background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.80385 11L7 2L12.1962 11H1.80385Z' stroke='%2307A8D7' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__list {
    padding-right: calc(#{$col-part-d});
    @media (max-width: ($breakpoint - 1px)) {
      padding-right: 0;
    }
  }
  &__list-item {
    position: relative;
    z-index: 0;
    padding-left: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-left: getRem(28px);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      @media (max-width: ($breakpoint - 1px)) {
        top: 4px;
      }

      width: getRem(40px);
      height: getRem(26px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(20px);
        height: getRem(13px);
      }

      background-image: url("data:image/svg+xml,%3Csvg width='42' height='29' viewBox='0 0 42 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 14L14.3333 27L41 1' stroke='%2307A8D7' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:not(:first-child) {
      margin-top: getRem(32px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(16px);
      }
    }
  }
  &__list-span {
    color: var(--color-blue);
  }

  &__bot {}
  &__bot-link {

    display: block;

    &:hover {
      @media (min-width: $breakpoint) {
        #{$comp}__bot-title {
          color: var(--color-white);
        }
        #{$comp}__bot-count {
          border-color: var(--color-white);
          color: var(--color-white);
        }
  
        .button-icon {
          background: var(--color-blue);
        }
  
        .button-icon__svg {
          path {
            fill: var(--color-white);
          }
        }
  
        #{$comp}__bot-bg {
          opacity: 1;
        }
      }
    }
  }
  &__bot-item {
    display: flex;
    height: getRem(420px);
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
      height: auto;
    }

    border-top: 1px solid var(--color-borders);
  }
  &__bot-card {
    position: relative;
    z-index: 0;

    width: 50%;
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
      height: getRem(190px);
    }

    @extend .about-page__bot-link;

    &:not(:first-child) {
      border-left: 1px solid var(--color-borders);
      @media (max-width: ($breakpoint - 1px)) {
        border-left: 0;
        border-top: 1px solid var(--color-borders);
      }
    }
  }
  &__bot-container {
    padding: getRem(40px) getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(16px) getRem(36px);
    }

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__bot-title {
    transition: $transition;
  }
  &__bot-button {
    display: flex;
    justify-content: flex-end;
  }
  &__bot-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: getRem(269px);
    height: getRem(269px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(95px);
      height: getRem(95px);
    }
    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;
    border: 1px solid var(--color-borders);
    border-radius: 50%;
    color: var(--color-blue);
    @include fsl(96px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(44px);
    }
  }
  &__bot-line {
    position: relative;
    z-index: 0;
    width: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(190px);
    }

    @extend .about-page__bot-link;
  }
  &__bot-bg {
    @include cover;
    z-index: -1;
    
    display: flex;
    align-items: center;

    transition: $transition;
    opacity: 0;
  }
  &__bot-img {
    width: 100%;
  }

  &__stats {
    margin-top: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(32px);

      justify-content: space-between;
    }
    display: flex;
  }
  &__stats-col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 3);
      @media (max-width: ($breakpoint - 1px)) {
        width: calc(50% - 10px);
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        width: calc(50% - 10px);
      }
    }
  }
  &__stats-number {
    margin-bottom: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(8px);
    }

    font-weight: 500;
    color: var(--color-blue);
    @include fsl(140px, 90%);
    letter-spacing: -3px;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(64px);
    }
  }
  &__stats-span {
    font-weight: 500;
    @include fsl(24px, 90%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }
  }
  &__stats-caption {
    font-weight: 500;
    @include fsl(16px, 130%);
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
      letter-spacing: 0;
    }
  }
  &__stats-row {
    margin-top: getRem(80px);
    margin-left: calc(#{$col-part-d} * 3);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
      margin-top: getRem(32px);
    }

    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      justify-content: space-between;
    }
  }
  &__stats-item {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-part-d} * 2);
      @media (max-width: ($breakpoint - 1px)) {
        width: calc(50% - 10px);
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        width: calc(50% - 10px);
      }
    }

    #{$comp}__stas-span {
      @include fsl(22px, 90%);
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(14px);
      }
    }
  }
  &__stats-digit {
    margin-bottom: getRem(8px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 4px;
    }

    color: var(--color-blue);
  }

  &__heading {
    margin-bottom: getRem(80px);
    padding-right: calc(#{$col-part-d});
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(32px);
      padding-right: 0;
    }

    &--sm {
      margin-bottom: getRem(40px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: getRem(20px);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $col-gap;
    row-gap: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      row-gap: getRem(24px);
      grid-template-columns: 1fr;
    }
  }
  &__grid-title {
    margin-bottom: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(12px);
    }
  }
  &__grid-text {
    @include fsl(20px, 130%);
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $col-gap;
    row-gap: $col-gap;
    @media (max-width: ($breakpoint - 1px)) {
      row-gap: 12px;
      grid-template-columns: 1fr;
    }
  }

  &__caption {
    margin-left: calc(#{$col-part-d} * 2);
    margin-right: calc(#{$col-part-d});
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
      margin-right: 0;
    }
    
    color: var(--color-gray);
    font-weight: 500;
    letter-spacing: -1px;
    @include fsl(24px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, 110%);
      letter-spacing: 0;
    }
  }

  &__partners {
    margin-top: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(60px);
    }

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, auto);
    @media (max-width: ($breakpoint - 1px)) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: $col-gap;
    }
  }
  &__partners-item {
    width: getRem(158px);
    height: getRem(100px);
  }

  &__vacancies {
    padding: getRem(120px) 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(48px) 0;
    }

    background: var(--color-light-gray);
  }
  &__vacancies-list {
    padding-right: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding-right: 0;
    }
  }
  &__vacancies-item {

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__slider {

  }
  &__slider-desktop {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__slider-mobile {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__slider-slide {
    position: relative;
    z-index: 0;

    width: calc(#{$col-part-d} * 2 - #{$col-gap});
    height: getRem(620px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(267px);
      // height: getRem;
      height: auto;
    }

    overflow: hidden;
    transition: $transition;
  }
  &__slider-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: ($breakpoint - 1px)) {
      position: static;
      transform: none;
      display: block;
    }

    max-width: none;
    max-height: none;
    @media (max-width: ($breakpoint - 1px)) {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
