.catalog-page {
  $comp: &;

  &__section {
    padding-bottom: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 24px;
    }
  
    border-bottom: 1px solid var(--color-borders);
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }

  &__col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }

    &:nth-child(1) {
      margin-top: getRem(60px);
      margin-right: calc(#{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin: 0;
      }
    }

    &:nth-child(2) {
      margin-right: calc(#{$col-part-d} + #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin-right: 0;
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &:nth-child(3) {
      margin-top: getRem(60px);
      width: calc(#{$col-part-d} * 3 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 16px;
        width: auto;
      }
    }
  }

  &__text {
    margin-top: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }

    max-width: calc(#{$col-part-d} * 3 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
      @include fsl(14px);
    }
    @include fsl(16px, 150%);
    color: var(--color-gray);
    letter-spacing: -0.5px;
  }

  &__button {
    margin-top: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }

    display: flex;
  }

  &__img {
    display: block;
    width: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(217px);
      height: getRem(217px);
    }
  }

  &__label {
    margin-bottom: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(12px);
    }

    font-weight: 500;
    @include fsl(16px, 130%);
    letter-spacing: -0.5px;
    color: var(--color-gray);
  }

  &__types-item {

    &:not(:first-child) {
      margin-top: getRem(8px);
    }
  }

  &__type {
    display: flex;
    align-items: center;
  }
  &__type-icon {
    margin-right: getRem(16px);

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(40px);
    height: getRem(40px);
  }
  &__type-svg {
    width: 100%;
    height: 100%; 

    overflow: visible;
  }
  &__type-text {
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      
    }
  }

  &__caption {
    letter-spacing: -0.5px;
    @include fsl(18px, 150%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }
  }

  &__colors {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }
  }
  &__colors-item {
    display: flex;
  }
  &__colors-text {
    margin-right: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(12px);
    }

    font-weight: 500;
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }
  &__colors-icon {
    margin-left: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: getRem(12px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(50px);
    height: getRem(50px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(40px);
      height: getRem(40px);
    }

    &.black {
      #{$comp}__colors-border {
        stroke: var(--color-borders);
      }
      #{$comp}__colors-circle {
        fill: var(--color-black);
        opacity: 1;
        stroke: var(--color-black);
      }
    }
    &.red {
      #{$comp}__colors-border {
        stroke: var(--color-borders);
      }
      #{$comp}__colors-circle {
        fill: var(--color-red);
        opacity: 1;
        stroke: var(--color-red);
      }
    }
  }
  &__colors-svg {
    --size-m: 40px;
    width: 100%;
    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(40px);
      height: getRem(40px);
    }
  }

  &__table {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__table-head {
    display: flex;
  }
  &__table-heading {
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--color-gray);
  }
  &__table-cell {
    padding: getRem(32px) 0;
    flex-shrink: 0;

    &:nth-child(1) {
      padding: getRem(32px) 0 getRem(32px) getRem(32px);
      width: calc(#{$col-part-d});

      background: var(--color-light-gray);
    }

    &:nth-child(2) {
      padding-left: calc(#{$col-part-d});
      width: calc(#{$col-part-d} * 3);
    }

    &:nth-child(3) {
      width: calc(#{$col-part-d} * 2);
    }

    &:nth-child(4) {
      width: calc(#{$col-part-d} * 3);
    }

    letter-spacing: -0.5px;
    color: var(--color-gray);
    font-weight: 500;

    &:last-child {
      padding-right: getRem(32px);

      width: calc(#{$col-part-d} * 3 - #{$col-gap});
      color: var(--color-black);
    }
  }
  &__table-item {
    display: flex;

    border-bottom: 1px solid var(--color-borders);
    transition: $transition;

    &:focus-within {
      background: var(--color-light-gray);
      border-color: var(--color-blue);

      #{$comp}__table-button {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &__table-text {
    font-weight: 400;
    @include fsl(20px);
    color: var(--color-black);
  }
  &__table-row {
    display: flex;
  }
  &__table-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 2);
    }
  }
  &__table-button {
    display: flex;
    align-items: center;

    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
    transition: $transition;
  }
  &__table-add {
    letter-spacing: normal;
    font-weight: 500;
    color: var(--color-black);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px); 
    }
  }
  &__table-icon {
    margin-left: getRem(16px);
    @media (max-width: ($breakpoint)) {
      margin-left: 10px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(16px);
    height: getRem(16px);
  }
  &__table-svg {
    width: 100%;
    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      --size: 14px;

      width: var(--size);
      height: var(--size);
    }
  }
  &__table-input {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px;

      width: 100%;
    }

    @include fsl(20px);
    @include f-main();
    background: none;
    border: none;
    color: var(--color-blue);
    @media (max-width: ($breakpoint - 1px)) {
      border: 1px solid var(--color-borders);
      @include fsl(18px);
    }
    letter-spacing: -0.5px;
    transition: $transition;

    @include placeholder {
      color: var(--color-gray);
      @media (max-width: ($breakpoint - 1px)) {
        color: var(--color-black);
      }
    }

    &:focus {
      @media (max-width: ($breakpoint - 1px)) {
        border-color: transparent;
        border-bottom-color: var(--color-blue);
        background: var(--color-light-gray);
      }
    }
  }

  &__block {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__block-item {

    &:not(:first-child) {
      margin-top: getRem(12px);
    }
  }
  &__block-top {
    padding: getRem(20px);

    background: var(--color-light-gray);
  }
  &__block-cell {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  &__block-label {
    @include fsl(14px);
    font-weight: 500;
    color: var(--color-gray);

    &.darken {
      color: var(--color-black)
    }
  }
  &__block-text {
    @include fsl(18px);
  }
  &__block-body {
    padding: getRem(16px) getRem(20px) getRem(20px);

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;

    border: 1px solid var(--color-borders);
    border-top: none;
  }

  &__grid {
    --itemsCount: 4;
    --gap: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 3;
      --gap: 12px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      --itemsCount: 2;
    }

    display: grid;
    grid-template-columns: repeat(var(--itemsCount), 1fr);
    gap: var(--gap);
  }

  &__heading {
    margin-bottom: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
  }

  &__list {
    margin-left: calc(#{$col-part-d} * 3);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
    }
  }
  &__list-item {
    padding-bottom: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      page-break-before: getRem(12px);
    }

    border-bottom: 1px solid var(--color-borders);

    &:not(:first-child) {
      margin-top: getRem(32px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(12px);
      }
    }
  }
  &__list-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__list-col {
    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 3);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(8px);
      }
    }
  }
  &__list-label {
    color: var(--color-gray);
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }
  &__list-text {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px, 110%);
    }
  }
}