.catalog-page {
  $comp: &;

  &__title {
    @include fsl(44px, 110%);
    letter-spacing: -2px;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(20px);
      letter-spacing: -0.5px;
    }
  }

  &__section {
    padding-bottom: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 24px;
    }
  
    border-bottom: 1px solid var(--color-borders);
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }

  &__col {
    flex-shrink: 0;
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }

    &:nth-child(1) {
      margin-top: getRem(60px);
      margin-right: calc(#{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin: 0;
      }
    }

    &:nth-child(2) {
      margin-right: calc(#{$col-part-d} + #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin-right: 0;
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &:nth-child(3) {
      margin-top: getRem(60px);
      width: calc(#{$col-part-d} * 3 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 16px;
        width: auto;
      }
    }
  }

  &__text {
    margin-top: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }

    max-width: calc(#{$col-part-d} * 3 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
      @include fsl(14px);
    }
    @include fsl(16px, 150%);
    color: var(--color-gray);
    letter-spacing: -0.5px;
  }

  &__button {
    margin-top: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }

    display: flex;
  }

  &__img {
    display: block;
    width: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(500px);
      height: getRem(500px);
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      width: getRem(217px);
      height: getRem(217px);
    }
  }

  &__label {
    margin-bottom: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(12px);
    }

    font-weight: 500;
    @include fsl(16px, 130%);
    letter-spacing: -0.5px;
    color: var(--color-gray);
  }

  &__types-item {

    &:not(:first-child) {
      margin-top: getRem(8px);
    }
  }

  &__type {
    display: flex;
    align-items: center;
  }
  &__type-icon {
    margin-right: getRem(16px);
  }
  &__type-svg {
    width: 100%;
    height: 100%; 

    overflow: visible;
  }
  &__type-text {
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      
    }
  }

  &__caption {
    letter-spacing: -0.5px;
    @include fsl(18px, 150%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }
  }

  &__colors {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }
  }
  &__colors-item {
    display: flex;
  }
  &__colors-text {
    margin-right: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(12px);
    }

    font-weight: 500;
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }
  &__colors-icon {
    margin-left: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: getRem(12px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(50px);
    height: getRem(50px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(40px);
      height: getRem(40px);
    }

    cursor: pointer;

    &.active {
      .catalog-page__colors-border {
        stroke: var(--color-blue) !important;
      }
    }

    &.black {
      #{$comp}__colors-border {
        stroke: var(--color-borders);
      }
      #{$comp}__colors-circle {
        fill: var(--color-black);
        opacity: 1;
        stroke: var(--color-black);
      }
    }
    &.red {
      #{$comp}__colors-border {
        stroke: var(--color-borders);
      }
      #{$comp}__colors-circle {
        fill: var(--color-red);
        opacity: 1;
        stroke: var(--color-red);
      }
    }
  }
  &__colors-svg {
    --size-m: 40px;
    width: 100%;
    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(40px);
      height: getRem(40px);
    }
  }
  &__colors-border {
    transition: $transition;
  }

  &__table {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    &--big {
      #{$comp}__table-cell {
        padding: getRem(24px) 0;
        padding-right: getRem(75px);

        &:nth-child(1) {
          padding: getRem(24px);
          padding-left: getRem(32px);

          width: getRem(178px);
        }

        &:nth-child(2) {
          padding: getRem(24px) getRem(43px);
          padding-right: getRem(70px);

          width: getRem(270px);
        }
        &:nth-child(3) {
          width: getRem(195px);
        }
        &:nth-child(4) {
          width: getRem(195px);
        }

        &:nth-child(5) {
          width: getRem(214px);
        }

        &:nth-child(6) {
          width: getRem(192px);
        }

        &:last-child {
          padding-right: getRem(32px);

          width: auto;
          flex-grow: 1;
        }
      }

      #{$comp}__table-body {
        #{$comp}__table-cell {
          padding: getRem(32px) 0;

          &:nth-child(1) {
            padding: getRem(32px);
          }

          &:nth-child(2) {
            padding: getRem(32px) getRem(43px);
            padding-right: getRem(70px);

            width: getRem(270px);
          }

          &:last-child {
            padding: 21px 0;
          }
        }
      }
    }
  }
  &__table-head {
    display: flex;
  }
  &__table-heading {
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--color-gray);
  }
  &__table-cell {
    padding: getRem(32px) 0;
    flex-shrink: 0;

    &:nth-child(1) {
      padding: getRem(32px) 0 getRem(32px) getRem(32px);
      width: calc(#{$col-part-d});

      background: var(--color-light-gray);
    }

    &:nth-child(2) {
      padding-left: calc(#{$col-part-d});
      width: calc(#{$col-part-d} * 3);
    }

    &:nth-child(3) {
      width: calc(#{$col-part-d} * 2);
    }

    &:nth-child(4) {
      width: calc(#{$col-part-d} * 2);
    }

    letter-spacing: -0.5px;
    color: var(--color-gray);
    font-weight: 500;

    &:last-child {
      padding-right: getRem(32px);

      width: calc(#{$col-part-d} * 3 - #{$col-gap});
      color: var(--color-black);
    }

    &.active {
      #{$comp}__table-input {
        display: none;
      }
      #{$comp}__table-caption {
        display: block;
      }
      #{$comp}__table-icon {
        display: none;
      }
    }
  }
  &__table-item {
    position: relative;
    z-index: 0;

    display: flex;
    
    cursor: pointer;
    border-bottom: 1px solid var(--color-borders);
    transition: 0.8s $transition-timing-function;
    overflow: hidden;

    &:hover {
      border-color: var(--color-blue);

      &::before {
        transform: none;
      }
    }

    &::before {
      content: "";
      @include cover;
      z-index: -1;

      background: var(--color-light-gray);
      transform: translateY(100%);
      transition: 0.8s $transition-timing-function;
    }

    &.active {
      border-color: var(--color-blue);

      &::before {
        transform: none;
      }

      #{$comp}__table-input {
        border-color: var(--color-blue);
      }

      #{$comp}__table-button {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &__table-text {
    font-weight: 400;
    @include fsl(20px);
    color: var(--color-black);
  }
  &__table-row {
    display: flex;
    align-items: center;
  }
  &__table-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 2);
    }
  }
  &__table-button {
    padding: getRem(16px) getRem(36px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(10px) 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(180px);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }

    background: var(--color-blue);
    border-radius: 60px;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
    transition: 0.8s $transition-timing-function;
  }
  &__table-add {
    letter-spacing: normal;
    font-weight: 500;
    color: var(--color-white);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px); 
    }
  }
  &__table-icon {
    margin-left: getRem(16px);
    @media (max-width: ($breakpoint)) {
      margin-left: 10px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(16px);
    height: getRem(16px);
  }
  &__table-svg {
    width: 100%;
    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      --size: 14px;

      width: var(--size);
      height: var(--size);
    }

    path {
      fill: var(--color-white);
    }
  }
  &__table-input {
    padding: 16px 12px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px;

      width: 100%;
    }
    width: getRem(190px);

    @include fsl(14px);
    @include f-main();
    background: none;
    border: 1px solid var(--color-borders);
    color: var(--color-blue);
    @media (max-width: ($breakpoint - 1px)) {
      border: 1px solid var(--color-borders);
      @include fsl(18px);
    }
    letter-spacing: -0.5px;
    transition: 0.8s $transition-timing-function;

    @include placeholder {
      color: var(--color-gray);
      transition: $transition;
      @media (max-width: ($breakpoint - 1px)) {
        color: var(--color-black);
      }
    }

    &:focus {
      @media (max-width: ($breakpoint - 1px)) {
        border-color: transparent;
        border-bottom-color: var(--color-blue);
        background: var(--color-light-gray);
      }
    }
  }
  &__table-span {
    margin: 0 1px;
    transform: translateY(2px);

    display: inline-block;

    @include fsl(10px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(8px);
    }
  }
  &__table-caption {
    display: none;

    font-weight: 400;
    letter-spacing: -0.5px;
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px, 130%);
    }
  }

  &__block {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__block-list {
    @media (max-width: ($breakpoint - 1px)) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      display: block;
    }
  }
  &__block-item {

    &:not(:first-child) {
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: getRem(12px);
      }
    }

    &.active {
      #{$comp}__table-input {
        border-color: transparent;
        border-bottom-color: var(--color-blue);
        background: var(--color-light-gray);
      }

      #{$comp}__table-button {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &__block-top {
    padding: getRem(20px);

    background: var(--color-light-gray);
  }
  &__block-cell {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: center;

    &:last-child {
      grid-template-columns: 1fr;
    }
  }
  &__block-label {
    @include fsl(14px);
    font-weight: 500;
    color: var(--color-gray);

    &.darken {
      color: var(--color-black)
    }
  }
  &__block-text {
    @include fsl(18px);
  }
  &__block-body {
    padding: getRem(16px) getRem(20px) getRem(20px);

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;

    border: 1px solid var(--color-borders);
    border-top: none;

    &.active {
      #{$comp}__table-input {
        display: none;
      }
      #{$comp}__table-caption {
        display: block;
      }
      #{$comp}__table-icon {
        display: none;
      }
    }
  }

  &__grid {
    --itemsCount: 4;
    --gap: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 3;
      --gap: 12px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      --itemsCount: 2;
    }

    display: grid;
    grid-template-columns: repeat(var(--itemsCount), 1fr);
    gap: var(--gap);
  }

  &__heading {
    margin-bottom: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
  }

  &__list {
    margin-left: calc(#{$col-part-d} * 3);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      display: block;
    }
  }
  &__list-item {
    padding-bottom: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      page-break-before: getRem(12px);
    }

    border-bottom: 1px solid var(--color-borders);

    &:not(:first-child) {
      margin-top: getRem(32px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 0;
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: getRem(12px);
      }
    }
  }
  &__list-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__list-col {
    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 3);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(8px);
      }
    }
  }
  &__list-label {
    color: var(--color-gray);
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }
  &__list-text {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px, 110%);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__top-left {
    width: calc(#{$col-part-d} * 6);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
  }
  &__top-buttons {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(24px);
      display: block;
    }
  }
  &__top-item {
    &:not(:first-child) {
      margin-left: getRem(8px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        margin-top: getRem(8px);
      }
    }
  }

  &__products {}
  &__products-item {
    padding: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }

    background: var(--color-light-gray);

    &:not(:first-child) {
      margin-top: getRem(20px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(12px);
      }
    }

    &.blue {
      #{$comp}__benefits {
        border-color: var(--color-blue);
      }
      #{$comp}__benefits-num {
        color: var(--color-blue);
      }
    }
    &.red {
      #{$comp}__benefits {
        border-color: var(--color-red);
      }
      #{$comp}__benefits-num {
        color: var(--color-red);
      }

      #{$comp}__card {
        --color: var(--color-red);
      }
    }
    &.green {
      #{$comp}__benefits {
        border-color: var(--color-green);
      }
      #{$comp}__benefits-num {
        color: var(--color-green);
      }

      #{$comp}__card {
        --color: var(--color-green);
      }
    }
  }
  &__products-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__products-col {

    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(20px);
      }
    }
  }
  &__products-title {
    margin-bottom: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(12px);
    }

    font-weight: 500;
    letter-spacing: -2px;
    @include fsl(60px, 100%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: -1px;
      @include fsl(24px)
    }
  }
  &__products-caption {
    max-width: getRem(435px);
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
    }

    color: var(--color-gray);
    font-weight: 500;
    letter-spacing: -1px;
    @include fsl(20px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
  }
  &__products-btn {
    margin-top: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
    display: flex;
  }
  &__products-bot {
    margin-top: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
    display: flex;
    justify-content: flex-end;
  }
  &__products-container {
    display: flex;
    gap: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      flex-wrap: wrap;
      gap: 12px;
      width: 100%;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
  &__products-wrapper {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
  &__products-button {
    margin-top: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
    display: flex;
  }

  &__benefits {
    padding-top: getRem(12px);

    display: flex;
    justify-content: space-between;
    width: getRem(560px);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }

    border-top: 1px solid var(--color-borders);
  }
  &__benefits-col {
    width: calc(50% - 10px);
  }
  &__benefits-num {
    margin-bottom: getRem(4px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 0;
    }
  }
  &__benefits-span {
    display: inline-block;

    letter-spacing: -0.5px;
    font-weight: 500;
    @include fsl(16px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px, 110%);
    }
  }
  &__benefits-text {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(14px, 160%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }

  &__card {
    --color: var(--color-blue);

    padding: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(16px);
    }
    position: relative;
    z-index: 0;

    display: flex;
    width: getRem(270px);
    min-height: getRem(201px);
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(50% - 6px);
      min-height: getRem(98px);
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      width: 100%;
    }

    background: var(--color-white);

    &:hover {
      #{$comp}__card-svg {
        animation: MoveUpInitial 0.3s forwards, MoveUpEnd 0.3s forwards 0.3s;
      }

      #{$comp}__card-title {
        color: var(--color);
      }

      #{$comp}__card-pic {
        transform: scale(0.9);
      }
    }
  }
  &__card-container {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__card-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // transform: rotate(-90deg);
    overflow: hidden;
  }
  &__card-svg {
    width: getRem(16px);
    height: getRem(16px);
    

    path {
      fill: var(--color);
    }
  }
  &__card-title {
    max-width: getRem(162px);
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
    }

    font-weight: 500;
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
    transition: $transition;
  }
  &__card-img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    @media (max-width: ($breakpoint - 1px)) {
      bottom: 0;
    }

    display: flex;
    align-items: center;
  }
  &__card-pic {
    width: getRem(190px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(133px);
    }

    transition: $transition;
    transform-origin: top right;
  }

  &__desktop {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__container {
    @media (max-width: ($breakpoint - 1px)) {
      position: relative;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        left: -20px;
        top: 0;
        bottom: 0;
  
        width: 20px;
  
        background-color: var(--color-white);
      }
    }
  }

  &__wrapper {
    
  }
}

.use-icon {
  --size: 40px;
  padding: getRem(8px) getRem(4px);

  width: getRem(40px);
  height: getRem(40px);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  border: 1.5px solid var(--color-borders);

  &__svg {
    width: 100%;
    height: 100%;
  }
}