.contacts-white-row {
  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
  }

  &__left-col {
    display: flex;
    flex-direction: column;
  
    width: calc(#{$col-part-d} * 6);

    .footer__label {
      @include fsl(16px, 130%);

      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(14px, 100%);
      }
    }
  }

  &__right-col {
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
      margin-top: getRem(30px);
    }
  }

  .footer__contacts {
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }

  .footer__contacts-item {

    &:not(:first-child) {
      margin-top: getRem(20px);
    }

    @media (min-width: $breakpoint) {
      margin-top: 0 !important;

      &:first-child {
        margin-right: getRem(60px);
      }
    }
  }

  .footer__socials {
    margin-top: getRem(20px);

    @media (min-width: $breakpoint) {
      margin-top: getRem(50px);
    }
  }
}

.contacts-mail-box {
  width: calc(#{$col-part-d} * 2 - #{$col-gap});
  padding: getRem(20px);
  margin-left: calc(#{$col-gap});
  border: 1px solid var(--color-borders);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
    margin-left: 0;
    flex-direction: row;

    &:not(:first-child) {
      margin-top: getRem(12px);
    }
  }

  .download-card__icon {
    justify-content: flex-end;
  }

  .download-card__svg {
    width: auto;
    height: auto;

    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(28px);
      height: getRem(28px);
    }
  }
}

.contacts-grey-row {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin: getRem(120px) 0;

  @media (max-width: ($breakpoint - 1px)) {
    margin: getRem(48px) 0;
    flex-direction: column;
  }
}

.contacts-card {
  width: calc(#{$col-part-d} * 4 - #{$col-gap});
  background-color: var(--color-light-gray);
  padding: getRem(40px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
    padding: getRem(20px);

    &:not(:first-child) {
      margin-top: getRem(12px);
    }
  }

  &__txt {
    margin-top: getRem(40px);
    @include fsl(18px, 130%);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
      @include fsl(14px, 130%);
    }
  }

  &__txt-ttl {
    @include fsl(14px);
    color: var(--color-gray);
    margin-bottom: getRem(8px);

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
      margin-bottom: getRem(4px);
    }
  }

  &__btn {
    

    .button__icon {
      margin: 0 getRem(8px) 0 0;
    }

    .button__text {
      @include fsl(14px);
      font-weight: 400;
    }

    @media (max-width: ($breakpoint - 1px)) {
      justify-content: center;
      margin-top: getRem(8px);
    }

    @media (min-width: $breakpoint) {
      width: fit-content;
      padding: getRem(10px) getRem(24px);
      margin-top: getRem(16px);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }
}

.contacts-block {
  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
  }
}

.contacts-form {
  width: calc(#{$col-part-d} * 5 - #{$col-gap});

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
  }
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: getRem(40px);

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: getRem(20px);
  }

  .form__inner {
    margin-top: 0;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;

      &:last-child {
        margin-top: getRem(20px);
      }
    }
  }

  .button {
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      justify-content: center;
    }
  }
}

.contacts-requisites {
  width: calc(#{$col-part-d} * 6 - #{$col-gap});

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: getRem(48px);
    width: 100%;
  }

  &__txt {
    margin: getRem(60px) 0 getRem(30px);
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    @include fsl(14px, 160%);

    @media (max-width: ($breakpoint - 1px)) {
      margin: getRem(24px) 0 getRem(16px);
      width: 100%;
      @include fsl(12px, 160%);
    }
  }

  .button {
    @media (min-width: $breakpoint) {
      width: fit-content;
    }
  }
}