.cooperation-page {

  &__selects {
    margin-top: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
  }

  &__list {
    padding-right: calc(#{$col-part-d});
    @media (max-width: ($breakpoint - 1px)) {
      padding-right: 0;
    }
  }
  &__list-item {

    &:not(:first-child) {
      margin-top: getRem(120px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(48px);
      }
    }
  }
  &__list-title {
    margin-bottom: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
  }
  &__list-wrapper {
    margin-left: calc(#{$col-part-d} * 2);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
    }
  }
  &__list-text {
    color: var(--color-gray);
    font-weight: 500;
    @include fsl(24px, 130%);
    letter-spacing: -1px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(16px);
    }
  }

  &__section {
    padding: getRem(120px) 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(48px) 0;
    }

    background: var(--color-light-gray);
  }

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      margin-right: calc(#{$col-part-d} + #{$col-gap});
      width: calc(#{$col-part-d} * 5 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin-right: 0;
        width: auto;
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(32px);
      }
    }
  }

  &__label {
    color: var(--color-gray);
  }

  &__inner {
    margin-top: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(16px);
    }
  }

  &__buttons {
    display: flex;
  }
  &__buttons-item {

    width: getRem(132px);
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(50% - 4px);
    }

    &:not(:first-child) {
      margin-left: getRem(8px);
    }
  }

  &__desktop {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
}