.main-page {
  $comp: &;

  &__hero {
    margin-top: getRem(308px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(108px);
    }
  }
  &__hero-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__hero-col {

    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:nth-child(2) {
      display: flex;
      align-items: flex-end;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 12px;
      }
    }
  }

  &__section {
    margin-top: getRem(20px);
    padding: 0 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
      padding: 0 12px;
    }
  }
  &__section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      gap: 12px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      grid-template-columns: 1fr;
    }
  }

  &__video {
    position: relative;
    z-index: 0;

    overflow: hidden;
  }
  &__video-left {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;

    width: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    background: var(--color-white);
  }
  &__video-right {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;

    width: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    background: var(--color-white);
  }
  &__video-player {
    display: block;
    height: getRem(900px);
    @media (max-width: ($breakpoint - 1px)) {
      // height: getRem(375px);
      height: auto;
      // object-fit: initial;
      width: 100%;
    }
  }
  &__video-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    mix-blend-mode: multiply;
  }
  &__video-svg {
    width: getRem(498px);
    height: getRem(410px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(97px);
      height: getRem(80px);
    }
  }

  &__cooperation {
    position: relative;
    z-index: 0;

    height: getRem(800px);
    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(485px);
    }
    overflow: hidden;
    background: var(--color-black);
  }
  &__cooperation-bg {
    @include cover;
    z-index: -2;
  }
  &__cooperation-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: ($breakpoint - 1px)) {
      transform: none;
      bottom: 0;
      top: auto;
      left: auto;
      right: getRem(-217px);
    }

    width: getRem(1440px);
    height: getRem(1180px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(521px);
      height: getRem(427px);
    }
  }
  &__cooperation-image {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    @media (max-width: ($breakpoint - 1px)) {
      left: 50%;
      right: auto;
      bottom: getRem(70px);
      transform: translateX(-50%);
    }

    display: flex;
    align-items: center;
    width: getRem(1024px);
    height: getRem(550px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(324px);
      height: getRem(176px);
    }
  }
  &__cooperation-container {
    padding: getRem(50px) getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__cooperation-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__cooperation-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 6);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 12px;
      }
    }
  }
  &__cooperation-title {
    max-width: getRem(586px);

    font-weight: 500;
    color: var(--color-white);
    letter-spacing: -3px;
    @include fsl(44px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: -0.5px;
      @include fsl(20px);
    }
  }
  &__cooperation-span {
    color: var(--color-blue);
  }
  &__cooperation-text {
    max-width: getRem(360px);

    color: var(--color-white);
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
      letter-spacing: 0; 
    }
  }
  &__cooperation-bot {
    display: flex;
  }

  &__top {
    margin-bottom: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(32px);
    }
  }
  &__top-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__top-col {

    &:nth-child(2) {
      padding-right: calc(#{$col-gap});
      width: calc(#{$col-part-d} * 3);
      @media (max-width: ($breakpoint - 1px)) {
        padding-right: 0;
        margin-top: 12px;

        width: auto;
      }
    }
  } 
  &__top-text {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }
    color: var(--color-gray);
  }
  &__top-button {
    margin-top: 11px;
    @media (max-width: ($breakpoint)) {
      margin-top: 16px;
    }
    display: flex;
  }

  &__title {
    letter-spacing: -3px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: -0.5px;
    }
  }

  &__slider {
    position: relative;
    z-index: 0;
  }
  &__slider-desktop {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__slider-mobile {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__slider-row {
    margin-left: getRem(-150px);

    display: flex;
    justify-content: space-between;
    width: calc(100% + (9.4rem * 2));
  }
  &__slider-col {
    position: relative;
    z-index: 0;

    display: block;
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(266px);
    }

    overflow: hidden;
  }
  &__slider-container {
    height: getRem(420px);
  }
  &__slider-frame {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    transition: 0.6s $transition-timing-function;
    pointer-events: none;

    &.left {
      transform: translateX(-100%);

      #{$comp}__slider-slide {
        transform: translateX(100%);
      }
    }

    &.right {
      transform: translateX(100%);

      #{$comp}__slider-slide {
        transform: translateX(-100%);
      }
    }

    &.active {
      transform: translateX(0);
      pointer-events: all;
      z-index: 2;

      #{$comp}__slider-slide {
        transform: translateX(0);
      }
    }

    &.front {
      z-index: 10;
    }

    &:hover {
      #{$comp}__slider-image {
        transform: scale(1.1);
      }
    }
  }
  &__slider-slide {
    display: block;

    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(266px);
    }
  }
  &__slider-image {
    display: flex;
    align-items: center;

    transform-origin: center;
    transition: $transition;
  }
  &__slider-title {
    margin-top: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(12px);
    }
  }

  &__calculator {
    position: relative;
    z-index: 0;

    height: getRem(742px);
    @media (max-width: ($breakpoint - 1px)) {
      height: auto;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: ($breakpoint-m - 1px)) {
      display: block;
    }

    overflow: hidden;
  }
  &__calculator-img {
    @include cover;
    z-index: -1;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__calculator-bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    display: block;
    width: getRem(2113px);
    height: getRem(793px);
    max-width: none;
    max-height: none;
  }
  &__calculator-link {
    position: relative;
    z-index: 0;
    padding: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }

    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      min-height: getRem(204px);
    }
    display: flex;
    align-items: flex-end;

    overflow: hidden;
    transition: $transition;

    &:not(:first-child) {
      border-left: 1px solid $rgba-white;
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: getRem(12px);
        border-left: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(getRem(24px));
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }

      height: getRem(24px);

      transition: $transition;
    }

    &.red {
      &::after {
        background: var(--color-red);
      }
      .button-icon::before {
        background: var(--color-red);
      }

      &:hover {
        .button-icon {
          border-color: var(--color-red);

          &::before {
            transform: none;
          }

          .button-icon__svg {
            animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
          }
        }
      }
    }
    &.blue {
      &::after {
        background: var(--color-blue);
      }
      .button-icon::before {
        background: var(--color-blue);
      }

      &:hover {
        .button-icon {
          border-color: var(--color-blue);

          &::before {
            transform: none;
          }

          .button-icon__svg {
            animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
          }
        }
      }
    }

    &:hover::after {
      @media (min-width: $breakpoint) {
        transform: none;
      }
    }

    &:hover {
      @media (min-width: $breakpoint) {
        background: rgba(#060606, 0.2);
        #{$comp}__calculator-title {
          transform: translateY(getRem(-24px));
        }
      }
    }

    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        @media (max-width: ($breakpoint - 1px)) {
          background: url("assets/images/calculator-bg-#{$i}.webp") center no-repeat;
          background-size: cover;
        }
      }
    }
  }
  &__calculator-col {
    height: getRem(208px);
    @media (max-width: ($breakpoint - 1px)) {
      position: relative;
      z-index: 0;
      height: auto;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before {
      @media (max-width: ($breakpoint - 1px)) {
        content: "";
        position: absolute;
        z-index: -1;
        left: getRem(-20px);
        right: getRem(-20px);
        bottom: getRem(-20px);
        top: 0;
  
        background: linear-gradient(180deg, rgba(52, 52, 54, 0) 0%, #333335 100%);
      }
    }
  }
  &__calculator-icon {
    margin-bottom: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(24px);
    }
    display: flex;
  }
  &__calculator-title {
    color: var(--color-white);
    letter-spacing: -2px;
    font-weight: 500;
    @include fsl(36px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: -0.5px;
      @include fsl(18px);
    }
    transition: $transition;
  }
}