.main-page {
  $comp: &;

  &__heading {

  }

  &__hero {
    margin-top: getRem(308px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(108px);
    }
  }
  &__hero-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__hero-col {

    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:nth-child(2) {
      display: flex;
      align-items: flex-end;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 12px;
      }
    }
  }
  &__hero-title {
    
  }

  &__section {
    margin-top: getRem(20px);
    padding: 0 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
      padding: 0 12px;
    }
  }
  &__section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      gap: 12px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      grid-template-columns: 1fr;
    }
  }

  &__video {
    position: relative;
    z-index: 0;

    height: getRem(800px);
    @media (max-width: ($breakpoint - 1px)) {
      height: auto;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      height: 100vw;
    }

    // overflow: hidden;
  }
  &__video-left {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;

    width: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    background: var(--color-white);
  }
  &__video-right {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;

    width: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    background: var(--color-white);
  }
  &__video-player {
    position: absolute;
    @media (max-width: ($breakpoint - 1px)) {
      position: static;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      position: absolute;
    }

    display: block;
    width: 100%;
    @media (max-width: ($breakpoint-m - 1px)) {
      height: 100%;
      width: auto;
    }
  }
  &__video-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(586px);
    height: getRem(482px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(97px);
      height: getRem(80px);
    }

    mix-blend-mode: multiply;
  }
  &__video-svg {
    width: 100%;
    height: 100%;
  }
  &__video-container {
    position: relative;

    height: 100%;
    overflow: hidden;
  }

  &__cooperation {
    position: relative;
    z-index: 0;

    height: getRem(784px);
    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(625px);
    }
    overflow: hidden;
    background: url("assets/images/svg/map.svg") center no-repeat;
    background-size: cover;
    @media (max-width: ($breakpoint - 1px)) {
      background: url("assets/images/svg/cooperation-bg-mobile.svg") center no-repeat;
      background-size: cover;
    }
  }
  &__cooperation-bg {
    @include cover;
    z-index: -1;
  }
  &__cooperation-container {
    padding: getRem(35px) getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__cooperation-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__cooperation-col {
    flex-shrink: 0;

    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 12px;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__cooperation-wrapper {
    margin-bottom: getRem(44px);
    margin-left: calc(#{$col-part-d} * 6);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
    }
  }
  &__cooperation-title {
    max-width: getRem(640px);

    font-weight: 500;
    color: var(--color-white);
    letter-spacing: -1px;
    @include fsl(44px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(20px);
    }
  }
  &__cooperation-span {
    color: var(--color-blue);
  }
  &__cooperation-item {
    position: relative;
    z-index: 0;
    @media (max-width: ($breakpoint - 1px)) {
      position: absolute;
      top: getRem(315px);
      right: getRem(38px);
      z-index: 2;
    }

    &:not(:first-child) {
      margin-top: getRem(47px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -12px;
      z-index: 0;

      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }

      height: 1px;
      width: getRem(727px);
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }

      background-color: rgba(150, 150, 150, 0.5);
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -17px;
      z-index: 1;

      width: 10px;
      height: 10px;

      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }

      border-radius: 50%;
      background-color: var(--color-white);
      box-shadow: 0px 2.5px 18.3333px rgba(0, 98, 244, 0.8);
    }

    &.small {
      @media (max-width: ($breakpoint - 1px)) {
        position: absolute;
        top: getRem(271px);
        right: auto;
        left: getRem(26px);
        z-index: 2;
      }

      #{$comp}__cooperation-text {
        @media (max-width: ($breakpoint - 1px)) {
          max-width: getRem(85px);
        }
      }

      &::before {
        width: getRem(539px);
        @media (max-width: ($breakpoint - 1px)) {
          width: 100%;
        }
      }

      #{$comp}__icon {
        left: getRem(507px);
      }
    }
  }
  &__cooperation-text {
    max-width: getRem(360px);
    @media (max-width: ($breakpoint - 1px)) {
      max-width: none;
    }

    color: var(--color-white);
    font-weight: 500;
    
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }

    &--small {
      @media (max-width: ($breakpoint - 1px)) {
        max-width: getRem(150px);
      }
    }
  }
  &__cooperation-city {
    font-weight: 500;
    color: var(--color-blue);
    
    @include fsl(14px, 130%);
  }
  &__cooperation-button {
    margin-top: getRem(28px);
    
    display: flex;
  }

  &__icon {
    position: absolute;
    top: -12px;
    left: getRem(664px);
    z-index: 1;
    transform: translateY(-50%);
    @media (max-width: ($breakpoint - 1px)) {
      top: getRem(248px);
      left: getRem(136px);
      transform: none;
    }
    
    display: flex;
    align-items: center;
    justify-content: center;

    &.small {
      @media (max-width: ($breakpoint - 1px)) {
        left: getRem(50px);
        top: getRem(220px);
      }
    }
  }

  &__svg {
    width: getRem(124px);
    height: getRem(124px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(53px);
      height: getRem(53px);
    }

    &--small {
      width: getRem(82px);
      height: getRem(82px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(35px);
        height: getRem(35px);
      }
    }
  }

  &__elem {
    position: absolute;
    z-index: 0;
  }

  &__first {
    left: getRem(512px);
    top: getRem(168px);
    @media (max-width: ($breakpoint - 1px)) {
      left: getRem(50px);
      top: getRem(171px);
    }

    #{$comp}__ball {
      left: -5px;
      top: -5px;
      @media (max-width: ($breakpoint - 1px)) {
        left: -3px;
        top: -3px;
      }
    }
  }

  &__second{
    left: getRem(752px);
    top: getRem(194px);
    @media (max-width: ($breakpoint - 1px)) {
      left: getRem(156px);
      top: getRem(180px);
    }

    #{$comp}__ball {
      left: -4px;
      top: -4px;
    }
  }

  &__third {
    left: getRem(760px);
    top: getRem(235px);
    @media (max-width: ($breakpoint - 1px)) {
      left: getRem(160px);
      top: getRem(248px);
    }

    #{$comp}__ball {
      right: -4px;
      top: -4px;
    }
  }

  &__fourth {
    left: getRem(779px);
    top: getRem(384px);
    transform: rotate(-5deg);
    @media (max-width: ($breakpoint - 1px)) {
      left: getRem(152px);
      top: getRem(267px);
      transform: none;
    }

    #{$comp}__ball {
      right: -4px;
      bottom: -4px;
    }
  }

  &__fifth {
    left: getRem(708px);
    top: getRem(392px);
    @media (max-width: ($breakpoint - 1px)) {
      left: getRem(136px);
      top: getRem(274px);
    }

    #{$comp}__ball {
      left: -4px;
      bottom: -4px;
    }
  }

  &__sixth {
    left: getRem(496px);
    top: getRem(380px);
    @media (max-width: ($breakpoint - 1px)) {
      left: getRem(42px);
      top: getRem(275px);
    }

    #{$comp}__ball {
      left: -4px;
      bottom: -4px;
    }
  }

  &__ball {
    position: absolute;
    z-index: 1;

    width: 10px;
    height: 10px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 5px;
      height: 5px;
    }

    border-radius: 50%;
    transition: $transition;
    background: #1B6579;
    box-shadow: 0px 2.5px 18.3333px rgba(0, 98, 244, 0.8);
    animation: ballFlashing 1s linear infinite;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;
    overflow: hidden;

    &--first {
      width: getRem(257px);
      height: getRem(235px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(112px);
        height: auto;
      }

      transform: translateY(100%);
      animation: showFirstFrame 3s $transition-timing-function infinite;
      #{$comp}__line-svg {
        transform: translateY(-100%);
        animation: showFirstLine 3s $transition-timing-function infinite;
      }

      @keyframes showFirstFrame {
        0% {
          
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translate(-100%, -100%);
        }
        66% {
          transform: translate(-100%, -100%);
        }
        100% {
          transform: translate(-100%, -100%);
        }
      }
      
      @keyframes showFirstLine {
        0% {
      
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translate(100%, 100%);
        }
        66% {
          transform: translate(100%, 100%);
        }
        100% {
          transform: translate(100%, -100%);
        }
      }
    }
    &--second {
      width: getRem(13px);
      height: getRem(196px);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
        height: getRem(95px);
      }

      transform: translateY(100%);
      animation: showSecondFrame 3s $transition-timing-function infinite;
      #{$comp}__line-svg {
        transform: translateY(-100%);
        animation: showSecondLine 3s $transition-timing-function infinite;
      }

      @keyframes showSecondFrame {
        0% {
          
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(-100%);
        }
        66% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(-100%);
        }
      }

      @keyframes showSecondLine {
        0% {
      
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(100%);
        }
        66% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(100%);
        }
      }
    }
    &--third {
      width: getRem(1046px);
      height: getRem(163px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(163px);
        height: auto;
      }

      transform: translateX(-100%);
      animation: showThirdFrame 3s $transition-timing-function infinite;
      #{$comp}__line-svg {
        transform: translateX(100%);
        animation: showThirdLine 3s $transition-timing-function infinite;
      }
      
      @keyframes showThirdFrame {
        0% {
          
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateX(100%);
        }
        66% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(100%);
        }
      }

      @keyframes showThirdLine {
        0% {
      
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateX(-100%);
        }
        66% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
    &--fourth {
      width: getRem(393px);
      height: getRem(224px);
      @media (max-width: ($breakpoint - 1px)) {
        height: auto;
        width: getRem(176px);
      }

      transform: translateY(-100%);
      animation: showFourthFrame 3s $transition-timing-function infinite;
      #{$comp}__line-svg {
        transform: translateY(100%);
        animation: showFourthLines 3s $transition-timing-function infinite;
      }

      @keyframes showFourthFrame {
        0% {
          
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(100%);
        }
        66% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(100%);
        }
      }

      @keyframes showFourthLines {
        0% {
      
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(-100%);
        }
        66% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(-100%);
        }
      }
    }
    &--fifth {
      width: getRem(66px);
      height: getRem(285px);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
        height: getRem(121px);
      }

      transform: translateY(-100%);
      animation: showFourthFrame 3s $transition-timing-function infinite;
      #{$comp}__line-svg {
        transform: translateY(100%);
        animation: showFourthLines 3s $transition-timing-function infinite;
      }

      @keyframes showFourthFrame {
        0% {
          
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(100%);
        }
        66% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(100%);
        }
      }

      @keyframes showFourthLines {
        0% {
      
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(-100%);
        }
        66% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(-100%);
        }
      }
    }
    &--sixth {
      width: getRem(288px);
      height: getRem(208px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(120px);
        height: auto;
      }

      transform: translateY(-100%);
      animation: showFourthFrame 3s $transition-timing-function infinite;
      #{$comp}__line-svg {
        transform: translateY(100%);
        animation: showFourthLines 3s $transition-timing-function infinite;
      }

      @keyframes showFourthFrame {
        0% {
          
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(100%);
        }
        66% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(100%);
        }
      }

      @keyframes showFourthLines {
        0% {
      
        }
        33% {
          transform: none;
        }
        43% {
          transform: none;
        }
        53% {
          transform: translateY(-100%);
        }
        66% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(-100%);
        }
      }
    }
  }
  &__line-svg {
    width: 100%;
    height: 100%;

    transition: $transition;
  }

  &__top {
    margin-bottom: getRem(80px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(32px);
    }
  }
  &__top-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__top-col {

    &:nth-child(2) {
      padding-right: calc(#{$col-gap});
      width: calc(#{$col-part-d} * 3);
      @media (max-width: ($breakpoint - 1px)) {
        padding-right: 0;
        margin-top: 12px;

        width: auto;
      }
    }
  } 
  &__top-text {
    font-weight: 500;
    
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
    color: var(--color-gray);
  }
  &__top-button {
    margin-top: 11px;
    @media (max-width: ($breakpoint)) {
      margin-top: 16px;
    }
    display: flex;
  }

  &__title {
  }

  &__slider {
    position: relative;
    z-index: 0;
  }
  &__slider-row {
    margin-left: getRem(-150px);

    display: flex;
    justify-content: space-between;
    width: calc(100% + (9.4rem * 2));
  }
  &__slider-col {
    position: relative;
    z-index: 0;

    display: block;
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(266px);
    }

    overflow: hidden;
  }
  &__slider-container {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  &__slider-slide {
    --shf: 4.9406564584124654e-324;

    display: block;
    width: calc((#{$col-part-d} * 4 - #{$col-gap} - 9.09px) * var(--shf) / var(--shf));
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(266px);
    }

    &:hover {
      #{$comp}__slider-img {
        
        transform: scale(1.1);
      }
      #{$comp}__slider-title {
        color: var(--color-blue);
      }
    }
  }
  &__slider-image {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    overflow: hidden;
  }
  &__slider-img {
    object-fit: cover;
    transition: $transition;
  }
  &__slider-title {
    margin-top: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(12px);
    }

    transition: $transition;
  }
  &__slider-controls {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__calculator {
    position: relative;
    z-index: 0;

    height: getRem(642px);
    @media (max-width: ($breakpoint - 1px)) {
      height: auto;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: ($breakpoint-m - 1px)) {
      display: block;
    }

    overflow: hidden;
  }
  &__calculator-img {
    @include cover;
    z-index: -1;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__calculator-bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    display: block;
    width: getRem(2113px);
    height: getRem(793px);
    max-width: none;
    max-height: none;
  }
  &__calculator-link {
    position: relative;
    z-index: 0;
    padding: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }

    height: 100%;
    @media (max-width: ($breakpoint - 1px)) {
      min-height: getRem(204px);
    }
    display: flex;
    align-items: flex-end;

    overflow: hidden;
    transition: $transition;

    &:not(:first-child) {
      border-left: 1px solid $rgba-white;
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: getRem(12px);
        border-left: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }

      height: getRem(12px);

      transition: $transition;
    }

    &.red {
      &::after {
        background: var(--color-red);
      }
      

      &:hover {
        #{$comp}__calculator-svg {
          path {
            fill: var(--color-red);
          }
        }
      }
    }
    &.blue {
      &::after {
        background: var(--color-blue);
      }
      

      &:hover {
        #{$comp}__calculator-svg {
          path {
            fill: var(--color-blue);
          }
        }
      }
    }

    &:hover::after {
      @media (min-width: $breakpoint) {
        transform: none;
      }
    }

    &:hover {
      @media (min-width: $breakpoint) {
        background: rgba(#060606, 0.2);
        #{$comp}__calculator-title {
          transform: translateY(getRem(-24px));
        }
      }
    }

    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        @media (max-width: ($breakpoint - 1px)) {
          background: url("assets/images/calculator-bg-#{$i}.webp") center no-repeat;
          background-size: cover;
        }
      }
    }
  }
  &__calculator-col {
    height: getRem(208px);
    @media (max-width: ($breakpoint - 1px)) {
      position: relative;
      z-index: 0;
      height: auto;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before {
      @media (max-width: ($breakpoint - 1px)) {
        content: "";
        position: absolute;
        z-index: -1;
        left: getRem(-20px);
        right: getRem(-20px);
        bottom: getRem(-20px);
        top: 0;
  
        background: linear-gradient(180deg, rgba(52, 52, 54, 0) 0%, #333335 100%);
      }
    }
  }
  &__calculator-icon {
    margin-bottom: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(24px);
    }
    display: flex;
    align-items: center;
  }
  &__calculator-svg {
    width: getRem(30px);
    height: getRem(30px);

    path {
      transition: $transition;
    }
  }
  &__calculator-title {
    color: var(--color-white);
    letter-spacing: -1px;
    font-weight: 500;
    @include fsl(36px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(18px);
    }
    transition: $transition;
  }
}

.main-map {
  position: absolute;
  top: 9.375rem;
  left: 29.1875rem;
  @media (max-width: ($breakpoint - 1px)) {
    top: getRem(160px);
    left: getRem(47px);
  }

  width: getRem(1355px);
  height: getRem(547px);
  @media (max-width: ($breakpoint - 1px)) {
    width: getRem(296px);
    height: getRem(237px);
  }
  display: flex;
  align-items: center;
  justify-content: center;

  &__svg {
    width: 100%;
    height: 100%;
  }
}

.main-circle {
  box-shadow: 0px 2.5px 18.3333px rgba(0, 98, 244, 0.8);
  animation: ballFlashing 1s linear infinite;
}