.objects-page {

  &__top {

    &-col {
      display: flex;
    }

    &-select {
      width: calc(#{$col-part-d} * 3 - #{$col-gap});

      &:not(:first-child) {
        margin-left: calc(#{$col-gap});
      }
    }
  }
  &__top-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $col-gap;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__top-button {
    padding: getRem(13px) getRem(16px);

    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
    }
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border: 1px solid var(--color-borders);
  }
  &__top-text {
    font-weight: 500;
    @include fsl(14px, 120%);
  }
  &__top-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__top-svg {
    width: getRem(22px);
    height: getRem(22px);

    path {
      fill: var(--color-black);
    }
  }

  &__grid {
    --itemsCount: 4;
    --rowGap: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 2;
      --rowGap: 24px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      --itemsCount: 1;
    }
    
    display: grid;
    grid-template-columns: repeat(var(--itemsCount), 1fr);
    row-gap: var(--rowGap);
    column-gap: $col-gap;
  }

  &__card {
    display: block;

    &:hover {
      .objects-page__card-title {
        color: var(--color-blue);
      }
      .objects-page__card-img {
        transform: scale(1.1);
      }
      .objects-page__card-img-container::after {
        transform: none;
      }
    }
  }
  &__card-container {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
  }
  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition;
  }
  &__card-img-container {
    width: 100%;
    height: getRem(312px);
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      background: var(--color-blue);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      transform: translateY(100%);
      transition: $transition;
    }
  }
  &__card-category {
    padding: getRem(6px) getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(6px) getRem(12px);
    }
    position: absolute;
    z-index: 1;
    top: getRem(16px);
    left: getRem(16px);

    border-radius: 40px;
    border: 1px solid var(--color-borders);
    background: var(--color-white);
    color: var(--color-gray);
    letter-spacing: -0.5px;
    @include fsl(14px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px, 110%);
    }
  }
  &__card-title {
    margin-top: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(12px);
    }

    font-weight: 500;
    letter-spacing: -1px;
    @include fsl(20px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px);
    }

    transition: $transition;
  }
  &__card-text {
    margin-top: getRem(8px);

    font-weight: 500;
    color: var(--color-gray);
    letter-spacing: -0.5px;
    @include fsl(14px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:nth-child(2) {
      width: calc(#{$col-part-d} * 5 - #{$col-gap});
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(12px);
        width: auto;
      }
    }

    &--offset {
      &:nth-child(2) {
        @media (max-width: ($breakpoint - 1px)) {
          margin-top: getRem(48px);
        }
      }
    }
  }

  &__title {
    margin-bottom: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(28px);
    }

    @include fsl(60px, 100%);
    letter-spacing: -2px;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(24px, 120%);
      letter-spacing: -1px; 
    }
  }

  &__label {
    color: var(--color-gray);
    font-weight: 500;
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(12px);
    }
  }

  &__section {
    margin-top: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(12px);
    }
  }
  &__section-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__section-col {

    &:nth-child(1) {
      flex-shrink: 0;
      width: calc(#{$col-part-d} * 2);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(24px);
      }
    }
  }
  &__section-label {
    margin-bottom: 4px;

    @extend .objects-page__label;
  }
  &__section-text {
    font-weight: 500;
    letter-spacing: -0.5px;
    @include fsl(18px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }
  &__section-item {
    padding-left: getRem(41px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-left: getRem(27px);
    }
    position: relative;
    z-index: 0;

    &:not(:first-child) {
      margin-top: getRem(16px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(6px);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;

      width: getRem(21px);
      height: getRem(14px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(15px);
        height: getRem(10px);
      }

      background-image: url("data:image/svg+xml,%3Csvg width='42' height='29' viewBox='0 0 42 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 14L14.3333 27L41 1' stroke='%2307A8D7' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__block {
    padding-top: getRem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding-top: 0;
      border-top: none;
    }
    border-top: 1px solid var(--color-borders);

    &:not(:first-child) {
      margin-top: getRem(40px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(24px);
      }
    } 
  }

  &__slider {
    position: relative;
    z-index: 0;

    overflow: hidden;

    .swiper-pagination {
      position: static;
    }

    .swiper-pagination-bullet {
      background: var(--color-borders);
      opacity: 1;

      &-active {
        background: var(--color-blue);
      }
    }
  }
  &__slider-img {
    display: block;
    width: 100%;
  }
  &__slider-bot {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    padding: getRem(32px) 0 0 getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0;
      bottom: 16px;
      right: 50%;
      transform: translateX(50%);
    }

    width: getRem(314px);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--color-white);
    @media (max-width: ($breakpoint - 1px)) {
      background: none;
    }
  }
  &__slider-btns {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__inner {
    margin-top: getRem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
  }

  &__text {
    letter-spacing: -0.5px;
    @media (max-width: ($breakpoint - 1px)) {
      letter-spacing: 0;
      @include fsl(14px, 160%);
    }

    &:not(:first-child) {
      margin-top: getRem(20px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(10px);
      }
    }
  }

  &__cards {
    --itemsCount: 2;
    --gap: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      --itemsCount: 1;
      --gap: 12px;
    }

    display: grid;
    grid-template-columns: repeat(var(--itemsCount), 1fr);
    row-gap: var(--gap);
    column-gap: var(--gap);
  }

  &__headings {
    margin-bottom: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(16px);
    }

    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__headings-col {
    flex-shrink: 0;

    width: calc(#{$col-part-d} * 2);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }

    &:nth-child(1) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 8px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}