.where-buy {

  &__top {

    margin-bottom: getRem(40px);
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
      flex-direction: column-reverse;
    }

    .nav {
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        margin-top: getRem(20px);
      }
    }

    .section__selects {
      display: block;
      width: calc(#{$col-part-d} * 6 - #{$col-gap});

      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }

    .search-page-tabs {
      margin: 0;
    }

    
  }

  &__select {
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
  }

  &__filters {
    margin: getRem(40px) 0 getRem(30px);

    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      margin: getRem(20px) 0;
      
      flex-direction: column;
    }

    &-col {
      &:first-child {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: ($breakpoint - 1px)) {
          flex-wrap: nowrap;
          overflow-x: scroll;
          @include scrollbar-hidden;

          margin: 0 -20px getRem(8px);
          padding: 0 20px;
        }
      }
    }

    &-item {
      padding: getRem(12px) getRem(20px);
      margin-bottom: getRem(10px);
      border: 1px solid var(--color-borders);
      border-radius: 40px;
      
      // background-clip: padding-box;

      @include fsl(14px);
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;

      position: relative;
      overflow: hidden;
      transition: $transition;

      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(12px);
        margin-bottom: 0;
      }

      &::before {
        content: '';
        background: var(--color-blue);

        @include btn-before;
      }

      &:hover {
        @media (min-width: $breakpoint) {
          border: 1px solid var(--color-blue);

          &::before {
            transform: none;
          }

          .button__text span {
            animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
            color: var(--color-white);
          }

          .button__svg {
            animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;

            path {
              fill: var(--color-white);
            }
          }
        }
      }

      &:not(:last-child) {
        margin-right: getRem(4px);
      }

      &.is-active {
        border: 1px solid var(--color-blue);
        background: var(--color-blue);

        .button__text span {
          color: #fff;
        }
      }

      .button__text {
        overflow: hidden;

        span {
          display: block;
          transition: $transition;
        }
      }
    }

    &-reset {
      padding: getRem(12px) getRem(24px);
      @include fsl(14px);

      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(12px);
      }

      &.reset-disabled {
        @media (min-width: $breakpoint) {
          opacity: 0;
          pointer-events: none;
        }
        @media (max-width: ($breakpoint - 1px)) {
          display: none;
        }
      }
    }
  }

  &__map {
    width: 100%;
    height: 720px;
    object-fit: cover;

    @media (max-width: ($breakpoint - 1px)) {
      height: 375px;
    }

    &-container {
      width: calc(100% + 120px);
      margin-left: -60px;

      @media (max-width: ($breakpoint - 1px)) {
        width: calc(100% + 40px);
        margin-left: -20px;
      }
    }
  }
}

.where-buy-list {
  &__item {

    &:not(:last-child) {
      margin-bottom: getRem(8px);
    }
  }
}

#map {
  height: getRem(720px);
  @media (max-width: ($breakpoint - 1px)) {
    height: getRem(375px);
  }
}

.placemarks {
  display: none;
}

.cluster {
  width: getRem(40px);
  height: getRem(40px);
  @media (max-width: ($breakpoint - 1px)) {
    width: getRem(24px);
    height: getRem(24px);
  }
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: var(--color-blue);
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: -0.5px;
  @include fsl(14px, 120%);
  @media (max-width: ($breakpoint - 1px)) {
    letter-spacing: 0;
    @include fsl(10px, 100%);
  }
}