mixin button-icon 
  .button-icon&attributes(attributes)
    .button-icon__container-svg
      +btn-arrow-right.button-icon__svg

mixin button-icon-left
  .button-icon&attributes(attributes)
    .button-icon__container-svg
      +btn-arrow-left.button-icon__svg