mixin link-left 
  a.button(href="#")&attributes(attributes)
    .button__icon.button__icon--left
      +big-arrow-svg.button__svg
    .button__text
      block

mixin link-right 
  a.button(href="#")&attributes(attributes)
    .button__text
      block
    .button__icon.button__icon--right 
      +big-arrow-svg.button__svg

mixin download-btn 
  a.button(href="#")&attributes(attributes)
    .button__text
      block
    .button__icon
      +download-svg.button__svg