mixin card 
  a.card(href="#" data-link='')
    .card__category 
      each item, i in ['соединение', 'холодное водоснабжение', 'питьевая вода', 'горячее водоснабжение',]
        .card__item.tooltip
          .use-icon.tooltip__icon 
            img(src=`assets/images/svg/catalog-item-${i+1}.svg`, alt="")
          .tooltip__container
            |#{item}
    .card__container
      if (attributes.img)
        img(src=attributes.img, alt="")
      else
        img(src="assets/images/card-1.webp", alt="")
    .card__bot 
      .card__title 
        if (attributes.title)
          |#{attributes.title}
        else
          |Крестовина SLT AQUA PP-R