mixin card 
  a.card(href="#" data-link='')
    .card__category 
      .card__item.tooltip
        .use-icon
          +use-svg.tooltip__icon 
        .tooltip__container
          |Соединение
      .card__item.tooltip
        .use-icon
          +connect-svg.tooltip__icon 
        .tooltip__container
          |Холодное водоснабжение
      .card__item.tooltip
        .use-icon
          +water-svg.tooltip__icon 
        .tooltip__container
          |Питьевая вода
    .card__container
      img(src="assets/images/card-1.webp", alt="")
    .card__bot 
      .card__title 
        |Крестовина SLT AQUA PP-R