mixin card 
  a.card(href="#")
    .card__category 
      .card__item(title='Соединение')
        +use-svg.card__svg
      .card__item(title='Холодное водоснабжение')
        +connect-svg.card__svg
      .card__item(title='Питьевая вода') 
        +water-svg.card__svg
    .card__containe
      img(src="assets/images/card-1.webp", alt="")
    .card__bot 
      .card__title 
        |Крестовина SLT AQUA PP-R