mixin card 
  a.card(href="#" data-link='')
    .card__category 
      .card__item.tooltip
        .tooltip__icon 
          img(src=`assets/images/svg/modal-icon-8.svg`, alt="")
        .tooltip__container
          |распределение потоков
    .card__container
      if (attributes.img)
        img(src=attributes.img, alt="")
      else
        img(src="assets/images/card-1.webp", alt="")
    .card__bot 
      .card__title 
        if (attributes.title)
          |#{attributes.title}
        else
          |Крестовина SLT AQUA PP-R