mixin card 
  a.card(href="#")
    .card__category 
      .card__item 
        +use-svg.card__svg
      .card__item 
        +connect-svg.card__svg
      .card__item 
        +water-svg.card__svg
    .card__container
      img(src="assets/images/card-1.webp", alt="")
    .card__bot 
      .card__title 
        |Крестовина SLT AQUA PP-R