mixin card 
  a.card(href="#")
    .card__category 
      .card__item.tooltip
        +use-svg.card__svg.tooltip__icon 
        .tooltip__container
          |Соединение
      .card__item.tooltip
        +connect-svg.card__svg.tooltip__icon 
        .tooltip__container
          |Холодное водоснабжение
      .card__item.tooltip
        +water-svg.card__svg.tooltip__icon 
        .tooltip__container
          |Питьевая вода
    .card__container
      img(src="assets/images/card-1.webp", alt="")
    .card__bot 
      .card__title 
        |Крестовина SLT AQUA PP-R