
mixin docs-pe-rt 
  a.docs-card(href="#") 
    .docs-card__col
      .docs-card__pert 
        .docs-card__column
          .docs-card__top 
            .docs-card__logo 
              +pe-rt-svg.docs-card__logo-svg 
            .docs-card__heading 
              |SLT PE-RT
          .docs-card__img 
            img(src="assets/images/docs-pert.webp", alt="")
    .docs-card__col
      .docs-card__container
        .docs-card__column 
          .docs-card__title 
            |Каталог фитингов
          .docs-card__bot 
            .docs-card__labels 
              each item in ['342 кб', '.pdf']
                .docs-card__label 
                  |#{item}
            .docs-card__icon 
              +download-svg.docs-card__svg

mixin docs-blockfire
  a.docs-card(href="#")
    .docs-card__col
      .docs-card__blockfire 
        .docs-card__column
          .docs-card__logo 
            +blockfire-svg.docs-card__logo-svg 
          .docs-card__heading 
            |Преимущества #[br] PP-R BF vs Me
    .docs-card__col
      .docs-card__container
        .docs-card__column 
          .docs-card__title 
            |Каталог фитингов
          .docs-card__bot 
            .docs-card__labels 
              each item in ['342 кб', '.pdf']
                .docs-card__label 
                  |#{item}
            .docs-card__icon 
              +download-svg.docs-card__svg