
mixin download-card
  a.download-card(href="#" class=attributes.class)
    .download-card__top
      .download-card__title 
        |#{attributes.title}
      .download-card__label
        |.rar
    .download-card__bot
      .download-card__label 
        |342 кб
      .download-card__icon 
        +download-svg.download-card__svg