
mixin input
  input.form__input&attributes(attributes)

mixin textarea
  textarea.form__textarea(name="area")&attributes(attributes)

mixin input-file 
  .file 
    label.file__label
      input.file__input(type="file")
      .file__icon 
        +paperclip-svg.file__svg
      .file__text 
        |Прикрепить файл

mixin checkbox 
  .checkbox 
    label.checkbox__label
      input.checkbox__input(type="checkbox" required)
      .checkbox__box 
        +check-svg.checkbox__svg
      .checkbox__text 
        |Даю согласие на обработку #[a.checkbox__link(href="#") персональных данных]