
mixin input
  input.form__input&attributes(attributes)

mixin textarea
  textarea.form__textarea(name="area")&attributes(attributes)

mixin input-file 
  .file
    .file__inner
      label.file__label
        input.file__input(type="file")
        .file__icon 
          +paperclip-svg.file__svg
        .file__text 
          |Прикрепить файл
    .file__container

mixin checkbox 
  .checkbox 
    label.checkbox__label
      input.checkbox__input(type="checkbox")&attributes(attributes)
      .checkbox__box 
        +check-svg.checkbox__svg
      if (attributes.text)
        .checkbox__caption
          |#{attributes.text}
      else
        .checkbox__text 
          |Даю согласие на обработку 
    if (!attributes.text)
      a.checkbox__link(href="#") 
        |персональных данных

mixin radio-button 
  .radio
    label.radio__label
      input.radio__input(type="radio" name=attributes.name value=attributes.value)&attributes(attributes)
      .radio__text 
        |#{attributes.text}
      .radio__icon