mixin loader 
  .loader 
    .loader__icon 
      .loader__container
        +loader-svg.loader__svg  
        .loader__first.loader__layer
          +first-layer.loader__first-svg
        .loader__second.loader__layer
          +second-layer.loader__second-svg
        .loader__third.loader__layer
          +third-layer.loader__third-svg