include ./form-components

mixin vacancies-modal
  -
    var ddata = [
      {type: "text", placeholder: "Имя*",},
      {type: "email", placeholder: "E-mail*",},
      {type: "number", placeholder: "Телефон*",},
    ]
  .modal.vacancies-modal(data-fancy-modal='work1')
    .modal__container 
      h4.vacancies-modal__title
        |Отклик на вакансию #[br] SMM-менеджер
      form.form(action="/") 
        each item in ddata
          .form__item 
            +input(type = item.type placeholder = item.placeholder)
        .form__item 
          +textarea(placeholder="Текст сопроводительного письма")
        .form__inner 
          +input-file 
        .form__inner 
          +checkbox 
        .form__inner 
          button.button.button--blue
            .button__text
              |Отправить
            .button__icon.button__icon--right 
              +big-arrow-svg.button__svg