include ./button-icon

mixin product-cards
  a.product-card.product-card--blue(href="#")
    .product-card__container 
      .product-card__column
        .product-card__button 
          +button-icon
        .product-card__bot 
          .product-card__content 
            h2.product-card__title.words
              |#[span.words__span #[span(data-aos='fade-up') SLT]] #[span.words__span #[span(data-aos='fade-up')  AQUA]]
            p.product-card__text
              |Полипропиленовые трубопроводные системы для водоснабжения и отопления
          .product-card__hidden 
            .product-card__logo 
              +card-logo.product-card__svg
            p.product-card__caption 
              |Экономичное решение, обеспечивающее длительный срок службы и бесперебойное функционирование внутренних инженерных сетей хозяйственно-питьевого водоснабжения и отопления.
      .product-card__image 
        img.product-card__img(src="assets/images/product-1.webp", alt="")
  a.product-card.product-card--red(href="#")
    .product-card__container 
      .product-card__column
        .product-card__button 
          +button-icon
        .product-card__bot 
          .product-card__content 
            h2.product-card__title.words
              |#[span.words__span #[span(data-aos='fade-up') SLT]] #[span.words__span #[span(data-aos='fade-up') BLOCKFIRE]]
            p.product-card__text
              |Полипропиленовые трубопроводные системы для пожаротушения
          .product-card__hidden 
            .product-card__logo 
              +blockfire-svg.product-card__svg
            p.product-card__caption 
              |Оптимальное решение, для применения в автоматических установках пожаротушения и внутреннем противопожарном водопроводе
      .product-card__image 
        img.product-card__img(src="assets/images/product-2.webp", alt="")
  a.product-card.product-card--green(href="#")
    .product-card__container 
      .product-card__column
        .product-card__button 
          +button-icon
        .product-card__bot 
          .product-card__content 
            h2.product-card__title.words
              |#[span.words__span #[span(data-aos='fade-up') SLT]] #[span.words__span #[span(data-aos='fade-up') PE-RT]]
            p.product-card__text
              |Гибкие трубопроводные системы из термостойкого полиэтилена для водоснабжения и отопления
          .product-card__hidden 
            .product-card__logo 
              +pe-rt-svg.product-card__svg
            p.product-card__caption 
              |Скрытое решение для водоснабжения, напольного и радиаторного отопления
      .product-card__image 
        img.product-card__img(src="assets/images/product-3.webp", alt="")
  a.product-card(href="#")
    .product-card__container 
      .product-card__column
        .product-card__button 
          +button-icon
        .product-card__bot 
          .product-card__content 
            h2.product-card__title.words
              |#[span.words__span #[span(data-aos='fade-up') Инструменты]]
            p.product-card__text
              |Для монтажа полимерных трубопроводных систем
          .product-card__hidden 
            p.product-card__caption 
              |Инструменты, обеспечивающие простой и качественный монтаж трубопровода
      .product-card__image 
        img.product-card__img(src="assets/images/product-4.webp", alt="")