include ./button-icon

mixin product-cards
  a.product-card.product-card--blue(href="#" data-link='' data-aos='fade-up')
    .product-card__container 
      .product-card__column
        .product-card__button 
          +btn-arrow-right.product-card__button-svg
        .product-card__bot 
          .product-card__content 
            h3.product-card__title
              |#[span.word-span #[span(data-aos='fade-up') SLT]] #[span.word-span #[span(data-aos='fade-up')  AQUA]]
            p.product-card__text
              |Полипропиленовые трубопроводные системы для водоснабжения и отопления
          .product-card__hidden 
            .product-card__logo 
              +card-logo.product-card__svg
            p.product-card__caption 
              |Экономичное решение, обеспечивающее длительный срок службы и бесперебойное функционирование внутренних инженерных сетей хозяйственно-питьевого водоснабжения и отопления.
      .product-card__image 
        img.product-card__img(src="assets/images/product-1.webp", alt="")
  a.product-card.product-card--red(href="#" data-link='' data-aos='fade-up')
    .product-card__container 
      .product-card__column
        .product-card__button 
          +btn-arrow-right.product-card__button-svg
        .product-card__bot 
          .product-card__content 
            h3.product-card__title
              |#[span.word-span #[span(data-aos='fade-up') SLT]] #[span.word-span #[span(data-aos='fade-up') BLOCKFIRE]]
            p.product-card__text
              |Полипропиленовые трубопроводные системы для пожаротушения
          .product-card__hidden 
            .product-card__logo 
              +blockfire-svg.product-card__svg
            p.product-card__caption 
              |Оптимальное решение, для применения в автоматических установках пожаротушения и внутреннем противопожарном водопроводе
      .product-card__image 
        img.product-card__img(src="assets/images/product-2.webp", alt="")
  a.product-card.product-card--green(href="#" data-link='' data-aos='fade-up')
    .product-card__container 
      .product-card__column
        .product-card__button 
          +btn-arrow-right.product-card__button-svg
        .product-card__bot 
          .product-card__content 
            h3.product-card__title
              |#[span.word-span #[span(data-aos='fade-up') SLT]] #[span.word-span #[span(data-aos='fade-up') PE-RT]]
            p.product-card__text
              |Гибкие трубопроводные системы из термостойкого полиэтилена для водоснабжения и отопления
          .product-card__hidden 
            .product-card__logo 
              +pe-rt-svg.product-card__svg
            p.product-card__caption 
              |Скрытое решение для организации "теплового поля", радиаторного отопления и хозяйственно-питьевого водоснабжения
      .product-card__image 
        img.product-card__img(src="assets/images/product-3.webp", alt="")
  a.product-card(href="#" data-link='' data-aos='fade-up')
    .product-card__container 
      .product-card__column
        .product-card__button 
          +btn-arrow-right.product-card__button-svg
        .product-card__bot 
          .product-card__content 
            h3.product-card__title
              |#[span.word-span #[span(data-aos='fade-up') Инструменты]]
            p.product-card__text
              |Для монтажа полимерных трубопроводных систем
          .product-card__hidden 
            p.product-card__caption 
              |Инструменты, обеспечивающие простой и качественный #[br] монтаж трубопровода
      .product-card__image 
        img.product-card__img(src="assets/images/product-4.webp", alt="")