include ./button-icon

mixin product-card 
  a.product-card(href="#")
    .product-card__container 
      .product-card__column
        .product-card__button 
          +button-icon
        .product-card__bot 
          .product-card__content 
            h2.product-card__title 
              |SLT AQUA
            p.product-card__text
              |Полипропиленовые трубопроводные системы для водоснабжения и отопления
          .product-card__hidden 
            .product-card__logo 
              +card-logo.product-card__svg
            p.product-card__caption 
              |Продукция производится с использованием сырья марки PP R003 EX крупнейшего российского нефтехимического холдинга СИБУР
      .product-card__image 
        img.product-card__img(src="assets/images/product-1.png", alt="")