include ./form-components

mixin select
  .select-wrapper 
    .select
      select.select__mobile(name='cat-mob' data-select-mobile='' multiple='multiple') 
        option(value="" selected disabled)
          |Выбрать
        each item in attributes.options
          option(value=item)
            |#{item} 
      select.select__select(data-select-placeholder='Выбрать' style='width: 100%')
        option(value='' disabled selected)
        each item in attributes.options
          option(value=item)
            |#{item}