include ./button-icon

mixin slider-buttons 
  .slider-buttons(class = attributes.class) 
    button.slider-buttons__item 
      +button-icon-left.button-icon--blue(data-slider-button = attributes.prev)
    button.slider-buttons__item 
      +button-icon.button-icon--blue(data-slider-button = attributes.next)