mixin cards
  a.small-card.aqua(href="#")
    .small-card__container 
      h4 
        |SLT AQUA
      .small-card__bot 
        .small-card__button
          +button-icon 
        .small-card__logo 
          +card-logo.small-card__svg
  a.small-card.blockfire(href="#") 
    .small-card__container 
      h4 
        |SLT BLOCKFIRE
      .small-card__bot 
        .small-card__button
          +button-icon 
        .small-card__logo 
          +blockfire-svg.small-card__svg
  a.small-card.pert(href="#") 
    .small-card__container 
      h4 
        |SLT  PE-RT
      .small-card__bot 
        .small-card__button
          +button-icon 
        .small-card__logo 
          +pe-rt-svg.small-card__svg

mixin small-cards 
  a.small-card.small-card--small.aqua(href="#")
    .small-card__container 
      h5 
        |SLT AQUA
      .small-card__bot 
        .small-card__button
          +button-icon 
        .small-card__logo 
          +card-logo.small-card__svg
  a.small-card.small-card--small.blockfire(href="#") 
    .small-card__container 
      h5
        |SLT BLOCKFIRE
      .small-card__bot 
        .small-card__button
          +button-icon 
        .small-card__logo 
          +blockfire-svg.small-card__svg
  a.small-card.small-card--small.pert(href="#") 
    .small-card__container 
      h5 
        |SLT  PE-RT
      .small-card__bot 
        .small-card__button
          +button-icon 
        .small-card__logo 
          +pe-rt-svg.small-card__svg