mixin tech-docs 
  a.tech-docs(href="#") 
    .tech-docs__container 
      h3.tech-docs__title 
        |Техническая документация
      .tech-docs__wrapper
        .tech-docs__button 
          +big-arrow-svg.tech-docs__svg
      .tech-docs__bg 
        +tech-svg.tech-docs__img