include ./button-icon

mixin tech-docs 
  a.tech-docs(href="#") 
    .tech-docs__container 
      h3.tech-docs__title 
        |Техническая документация
      .tech-docs__wrapper
        +button-icon.button-icon--white
      .tech-docs__bg 
        +tech-svg.tech-docs__img