include ./button-icon

mixin tech-docs 
  a.tech-docs(href="#" data-link='') 
    .tech-docs__container 
      h3.tech-docs__title
        |#[span.word-span #[span(data-aos='fade-up') Техническая]] #[span.word-span #[span(data-aos='fade-up') документация]]
      .tech-docs__wrapper
        +button-icon.button-icon--white
      .tech-docs__bg 
        +tech-svg.tech-docs__img
    //- .tech-docs__hover
      .tech-docs__frame 
        .tech-docs__container 
          h3.tech-docs__title 
            |Техническая документация
          .tech-docs__wrapper
            +button-icon.button-icon--black
          .tech-docs__bg 
            +tech-svg.tech-docs__img

mixin follow
  .tech-docs.tech-docs--follow
    .tech-docs__container 
      h2.tech-docs__caption
        |#[span.word-span #[span(data-aos='fade-up') Подпишитесь]] #[span.word-span #[span(data-aos='fade-up') на СЛТ Аква]]
      form.tech-docs__form(action="/" data-parsley-validate data-form='follow')
        input#input.tech-docs__input(type="email" placeholder='E-mail*' required) 
        .tech-docs__button 
          button.tech-docs__btn 
            +send-svg.tech-docs__icon
      .tech-docs__bg 
        +tech-svg.tech-docs__img